<?php

    $formPerfil 	= $this->formPerfil;
    $comboboxEstado 	= $this->comboboxEstado;
    echo $this->form()->openTag($formPerfil);
    echo $this->formHidden($formPerfil->get('id'));
?>

<div class="form-group file">
    <output></output>
    <div class="clear"></div>
    <div class="btn btn-primary btn-flat btn-file">
        <label for="file_memory">Selecionar arquivo</label>
    </div>
    <?php echo $this->formFile($formPerfil->get('file_memory')); ?>
</div>

<div class="form-group">
    <?php echo $this->formLabel($formPerfil->get('nome')); ?>
    <?php echo $this->formText($formPerfil->get('nome')); ?>
</div>

<div class="form-group select" id="estados">
	<?php
		echo $this->formLabel($comboboxEstado->get('estado_id'));
		echo $this->formSelect($comboboxEstado->get('estado_id'));
	?>
</div>

<div class="form-group select" id="cidades">
	<?php
		echo $this->formLabel($formPerfil->get('cidade_id'));
		echo $this->formSelect($formPerfil->get('cidade_id'));
	?>
</div>

<div class="form-group">
    <?php echo $this->formLabel($formPerfil->get('descricao')); ?>
    <?php echo $this->formTextArea($this->formPerfil->get('descricao')); ?>
</div>

<div class="form-group">
    <?php
        echo $this->formLabel($formPerfil->get('website'));
        echo "<div class='input-group'>";
        echo "<div class='input-group-addon'><i class='fa fa-globe'></i></div>";
        echo $this->formText($formPerfil->get('website'));
        echo "</div>";
    ?>
</div>

<div class="form-group">
    <?php
        echo $this->formLabel($formPerfil->get('telefone'));
        echo "<div class='input-group'>";
        echo "<div class='input-group-addon'><i class='fa fa-phone'></i></div>";
        echo $this->formText($formPerfil->get('telefone'));
        echo "</div>";
    ?>
</div>

<div class="form-group">
    <?php
        echo $this->formLabel($formPerfil->get('celular'));
        echo "<div class='input-group'>";
        echo "<div class='input-group-addon'><i class='fa fa-mobile-phone'></i></div>";
        echo $this->formText($formPerfil->get('celular'));
        echo "</div>";
    ?>
</div>

<?php 
    echo $this->formSubmit($formPerfil->get('submit'));
    echo $this->form()->closeTag();
?>