<?php echo $this->messages(); ?>

<div class="row">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
                <li><a href="#tab_senha" data-toggle="tab">Senha</a></li>
                <li class="active"><a href="#tab_perfil" data-toggle="tab">Perfil</a></li>
                <li class="pull-left header"><i class="glyphicon glyphicon-cog"></i> Configurações</li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane box active" id="tab_perfil">
                    <center>
                    <br>
                    <?php 
                        $resourceImg = $perfil[0]->file_memory;
                        if($resourceImg){
                            $image = base64_encode(stream_get_contents($resourceImg));
                            echo "<img class='img-circle imagem_perfil' src='data:".$perfil[0]->file_mime_type.";base64,".$image."' name='".$perfil[0]->nome."' />";
                        } else{
                            echo "<img class='img-circle imagem_perfil' src='/img/avatar5.png' name='imagem do perfil' />";
                        }
                    ?>
                         <h3><?php echo $this->perfil[0]->nome; ?></h3>
                         <em><a data-perfil=<?php echo $this->perfil[0]->id;?> href="javascript:void(0);"><i class="glyphicon glyphicon-pencil"></i>Clique aqui para alterar os dados do seu perfil</a></em>
                         <p><?php echo $this->perfil['cidade']." - ".$this->perfil['uf']; ?></p>
                         <p><?php echo $this->perfil[0]->descricao; ?></p>
                     <br>
                    </center>
                </div>
                <div class="tab-pane box" id="tab_senha">
                    <?php
                        $formPerfil = $this->formPerfil;
                        echo $this->form()->openTag($formPerfil);
                    ?>

                    <div class="form-group">
                        <?php echo $this->formLabel($formPerfil->get('senhaAtual')); ?>
                        <?php echo $this->formPassword($formPerfil->get('senhaAtual')); ?>
                    </div>

                    <div class="form-group">
                        <?php echo $this->formLabel($formPerfil->get('novaSenha')); ?>
                        <?php echo $this->formPassword($this->formPerfil->get('novaSenha')); ?>
                    </div>

                    <?php
                        echo $this->formSubmit($formPerfil->get('submit'));
                        echo $this->form()->closeTag();
                    ?>
                </div>
            </div><!-- /.tab-content -->
        </div><!-- nav-tabs-custom -->
    </div><!-- /.col -->
</div>