<div id="ouibounce-modal" class="modal hide fade" tabindex="-1" aria-labelledby="promoModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="promoModalLabel">Experimente agora os serviços Premium do Tem Pra Festa</h3>
  </div>
  <div class="modal-body">
    <h4>Já vai? Não perca, é de graça:</h4>
    <p>Ganhe cupons do serviço do Tem Pra Festa para experimentar e sentir os resultados das vendas.</p>
    <div class="row-fluid">
      <ul class="thumbnails">
        <li class="span4">
          <div class="thumbnail">
            <img alt="Plano Normal" src=<?php echo "'".$this->serverUrl("/img/marketing/ouibounce/cupom/plano-normal-tem-pra-festa.png")."'"; ?>>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img alt="Plano Destaque" src=<?php echo "'".$this->serverUrl("/img/marketing/ouibounce/cupom/plano-destaque-tem-pra-festa.png")."'"; ?>>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img alt="Plano Empresa" src=<?php echo "'".$this->serverUrl("/img/marketing/ouibounce/cupom/plano-empresa-tem-pra-festa.png")."'"; ?>>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <a href=<?php echo "'".$this->serverUrl("/ganhe-cupons")."'"; ?> class="btn btn-large btn-primary">GANHAR CUPOM</a>
    <p><a href="javascript:void(0);" data-dismiss="modal" aria-hidden="true">Não estou interessado em vender mais.</a></p>
  </div>
</div>