<h2 class="info-coupons text-center">OS CUPONS ACABARAM, MAS FIQUE LIGADO NAS REDES SOCIAS DO TEM PRA FESTA PARA A PRÓXIMO PROMOÇÃO.</h2>

<section class="container">
    <div class="col-xs-12 text-center">
        <a CLASS="btn btn-primary btn-lg" href=<?php echo $this->serverUrl(); ?> title="Continue no Tem Pra Festa">CLIQUE AQUI E CONTINUE NO TEM PRA FESTA</a>
    </div>
</section>