<h2 class="info-coupons text-center">RESTAM APENAS <span class="img-circle"><?php echo $cuponsRestantes; ?></span> CUPONS</h2>

<section class="container">
    <div class="col-xs-12 text-center">
        <?php
            echo $this->form()->openTag($cupomForm);

            echo "<div class='form-group col-lg-6 col-lg-offset-3 col-xs-12'>".$this->formText($cupomForm->get('email'))."</div>";
            echo "<div class='clearfix'></div>";
            echo $this->formSubmit($cupomForm->get('submit'));
            echo $this->form()->closeTag();
        ?>
    </div>
</section>

<section class="container" style="display: none;">
    <h2 class="text-center">CUPONS</h2>
    <div class="col-xs-12">
        <div class="col-lg-3 visible-lg">
            <img class="img-responsive" src=<?php echo $this->serverUrl("/img/marketing/landing-page/cupom/tem-pra-festa-geek.png"); ?> />
        </div>
        <div class="col-lg-4 col-xs-12 text-center cupom-container">
            <div class="cupom-title pink"><strong>DESTAQUE</strong></div>
            <div class="clearfix"></div>
            <div class="col-xs-12 text-center">
                <div class="col-xs-12">
                    <img class="img-responsive" src=<?php echo $this->serverUrl("/img/marketing/landing-page/cupom/logo-tem-pra-festa-cupom.png"); ?> />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="cupom-token"><strong>GH123456</strong></div>
            <div class="clearfix"></div>
            <p>Agora só falta informar o número do cupom gerado acima na plataforma do Tem Pra Festa e usufruir do anúncio <em>Destaque</em>.</p>
            <div class="clearfix"></div>
            <a class="pink" href=<?php echo $this->serverUrl("/user/register?tour=true"); ?> title="Utilizar o cupom agora!"><strong>USAR CUPOM AGORA</strong></a>
        </div>
        <div class="col-lg-4 col-xs-12 text-center cupom-container">
            <div class="cupom-title purple"><strong>EMPRESA</strong></div>
            <div class="clearfix"></div>
            <div class="col-xs-12 text-center">
                <div class="col-xs-12">
                    <img class="img-responsive" src=<?php echo $this->serverUrl("/img/marketing/landing-page/cupom/logo-tem-pra-festa-cupom.png"); ?> />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="cupom-token"><strong>GH123456</strong></div>
            <div class="clearfix"></div>
            <p>Agora só falta informar o número do cupom gerado acima na plataforma do Tem Pra Festa e usufruir do anúncio <em>Empresa</em>.</p>
            <div class="clearfix"></div>
            <a class="purple" href=<?php echo $this->serverUrl("/user/register?tour=true"); ?> title="Utilizar o cupom agora!"><strong>USAR CUPOM AGORA</strong></a>
        </div>
    </div>
</section>