<section class="main">
	<div class="row">
		<h1>Encontre e Anuncie!</h1>
		<div class="main-wrapper col-xs-12">
			<div class="main-col-1 col-xs-12 col-md-6 col-sm-6"><img src="/img/lancamento/dispositivos.png" /></div>
			<div class="main-col-2 col-xs-12 col-md-6 col-sm-6"><p>Estamos chegando para ser o maior site de divulgação de produtos e serviços para festas e eventos. E tudo isso de graça!</p></div>
		</div>
	</div>
</section>
<div class="clearfix"></div>
<section class="call-action">
	<div class="row">
		<!--<div class="col-lg-12">-->
			<div class="wrapper">
				<a href="javascript:void(0);">ACOMPANHAR O LANÇAMENTO</a>
				<div id="acompanhar">
				<?php

					$lancamentoForm = $this->lancamentoSiteForm;
					echo $this->form()->openTag($lancamentoForm);
					echo $this->formText($lancamentoForm->get('email'));
					echo $this->formSubmit($lancamentoForm->get('submit'));
					echo $this->form()->closeTag();

				?>
				</div>
			</div>
		<!--</div>-->
	</div>
</section>
<section class="features">
	<div class="col-xs-12 pZero">
		<h2>Características</h2>
		<div class="features-container">
			<?php echo $this->partial("partials/view/lancamento_features"); ?>
		</div>
	</div>
</section>