<div class="ad-title">
	<h2>ACESSE SUA CONTA</h2>
</div>
<section class="ads-main-page">
	<div class="container">
		<div class="log-in-logo">
			<a class="logo" href="/" title="Volte para a página principal">
				<img src="/img/system/temprafesta.png" alt="Temprafesta">
			</a>
		</div>
		<div class="first clearfix log-in">
			<h2 class="login-title">ACESSE SUA CONTA</h2> 
			<div id="edit-profile" class="clearfix">
			<?php echo $this->messages(); ?>
				<div class="span4" style="width: 100% !important;">
					<?php
						echo $this->form()->openTag($form);
						echo $this->formText($form->get('username'));
						echo $this->formPassword($form->get('password'));
					?>
					<fieldset class="input-title">
						<label for="edit-title" class="remember-me">
							<input name="rememberme" type="checkbox" value="forever" style="float: left;"/><span style="margin-left: 10px; float: left;">Remember me</span>
						</label>
					</fieldset>
					<div class="clearfix"></div>
					<div class="btn-container">	
						<?php //echo $this->formSubmit($form->get('submit')); ?>
						<button name="submit" type="submit" id="edit-submit" class="btn form-submit" value="Entrar">Entrar</button>
					</div>
					<a style="float: left;" class="forgot-link" href="/user/esqueci-minha-senha">Esqueci minha senha</a>
					<?php echo $this->form()->closeTag(); ?>
				</div>
				<!--<div class="span4 last">
					<span>Registre-se Grátis</span>
					<div class="register-page-title">
						<h5>Login via Redes Sociais</h5>
					</div>
					<div class="social-btn clearfix">
						<div class="social-btn-container">
							<a class="register-social-button-facebook" href="javascript:void(0);">Login via Facebook</a>
						</div>
						<div class="social-btn-container">
							<a class="register-social-button-twitter" href="javascript:void(0);">Login via Twitter</a>
						</div>
						<div class="social-btn-container">
							<a class="register-social-button-google" href="javascript:void(0);">Login via Google</a>
						</div>
					</div>
					<div class="publish-ad-button login-page">							
						<p>É novo aqui? <a href="/">Registre-se agora!</a></p>
					</div>
				</div>-->
			</div>
		</div>
	</div>
</section>