<?php

if(!isset($this->possuiEmpresa)):

	echo $this->messages();

	$formFilial  = $this->formFilial;
	$formEndereco = $this->formEndereco;
	$formContato  = $this->formContato;
?>

<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
		    <div class="box-header">
		        <h3 class="box-title">Dados da filial</h3>
		    </div>
		    <div class="box-body">
		    <?php
	    		echo $this->form()->openTag($formFilial);
				echo $this->formHidden($formFilial->get('id'));
			?>

			<?php if(isset($this->edicao) && $this->edicao === true): ?>
			<div class="form-group">
                <?php
                    echo "<label>".$this->formCheckbox($formFilial->get('status'))."Ativo/Inativo</label>";
                ?>
            </div>
        	<?php endif; ?>

			<div class="form-group select" id="empresas">
				<?php
					echo $this->formLabel($this->formComboboxEmpresa->get('empresa_id'));
					echo $this->formSelect($this->formComboboxEmpresa->get('empresa_id'));
				?>
			</div>

				<fieldset class="scheduler-border">
    			<legend class="scheduler-border"><span>*</span>Dados Básicos</legend>
					<div class="form-group">
						<?php
							echo $this->formLabel($formFilial->get('nome'));
							echo $this->formText($formFilial->get('nome'));
						?>
					</div>

					<div class="form-group">
						<?php
							echo $this->formLabel($formFilial->get('descricao'));
							echo $this->formTextArea($formFilial->get('descricao'));
						?>
					</div>

					<div class="form-group select" id="estados">
						<?php
							echo $this->formLabel($this->formComboboxEstado->get('estado_id'));
							echo $this->formSelect($this->formComboboxEstado->get('estado_id'));
						?>
					</div>

					<div class="form-group select" id="cidades">
						<?php
							echo $this->formLabel($formFilial->get('cidade_id'));
							echo $this->formSelect($formFilial->get('cidade_id'));
						?>
					</div>
				</fieldset>

				<fieldset class="scheduler-border">
    			<legend class="scheduler-border"><span>*</span>Endereço</legend>
	    			<div class="form-group">
						<?php
							echo $this->formLabel($formEndereco->get('rua'));
							echo $this->formText($formEndereco->get('rua'));
						?>
					</div>

					<div class="form-group">
						<?php
							echo $this->formLabel($formEndereco->get('numero'));
							echo $this->formText($formEndereco->get('numero'));
						?>
					</div>

					<div class="form-group">
						<?php
							echo $this->formLabel($formEndereco->get('bairro'));
							echo $this->formText($formEndereco->get('bairro'));
						?>
					</div>
    			</fieldset>

    			<fieldset class="scheduler-border">
    			<legend class="scheduler-border">Contatos da empresa</legend>
    				<div class="form-group">
						<?php
							echo $this->formLabel($formContato->get('email'));
							echo $this->formText($formContato->get('email'));
						?>
					</div>

					<div class="form-group">
						<?php
							echo $this->formLabel($formContato->get('telefone'));
							echo $this->formText($formContato->get('telefone'));
						?>
					</div>

					<div class="form-group">
						<?php
							echo $this->formLabel($formContato->get('celular'));
							echo $this->formText($formContato->get('celular'));
						?>
					</div>
    			</fieldset>

				<?php 
					echo $this->formSubmit($formFilial->get('submit'));
					echo $this->form()->closeTag();
				?>
		    </div>
		</div>
	</div>
</div>
<?php
	else:
		echo "É necessário ter uma empresa ativa para realizar o cadastro de filial. <a href='/system/empresa/cadastro'>Clique aqui para cadastrar sua empresa.</a>";
	endif;

function array_search_midia_social($valueMidiaSocial, $itemValue){
	foreach ($valueMidiaSocial as $key => $value) {
		var_dump($valueMidiaSocial[$key]->midia_social_id);
		if($valueMidiaSocial[$key]->midia_social_id == $itemValue){

			return $valueMidiaSocial[$key];
		}
	}

	return null;
}