<?php
    echo $this->messages();
    if(isset($this->filiais)):
?>
<div class="row">
    <div class="col-xs-12" style="margin-bottom: 15px;">
        <a class="btn btn-default btn-lg" href="/system/filial/cadastro">
            <span class="glyphicon glyphicon-plus-sign" style="color: green;"></span> Nova filial
        </a>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Lista de filiais</div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Status</th>
                        <th colspan="3">Ações</th>
                    </tr>
                </thead>
                <tbody>
                <?php
                    foreach($this->filiais as $filial):
                        $status = ($filial[0]->status == 0 ? "Inativo" : "Ativo");
                        //$resourceImg = $filial[0]->empresa_id->imagem_logo;
                        //$image = base64_encode(stream_get_contents($resourceImg));
                ?>
                    <tr>
                        <td><?php echo $filial[0]->empresa_id->nome; ?></td>
                        <td class="nome"><?php echo $filial[0]->nome; ?></td>
                        <td class="descricao"><?php echo $filial[0]->descricao; ?></td>
                        <td class="status"><?php echo $status; ?></td>
                        <td><a href="javascript:void(0);"><i class="glyphicon glyphicon-eye-open" data-toggle='tooltip' data-modal data-url=<?php echo "/system/filial/ws/format/json/e/".$filial[0]->id; ?> title="Visualizar dados detalhados"></i></a></td>
                        <td><a href=<?php echo "/system/filial/cadastro/edicao/".$filial[0]->id;?>><i class="glyphicon glyphicon-pencil" data-toggle='tooltip' title="Alterar filial"></i></a></td>
                        <td><a href=<?php echo "/system/filial/delete/id/".$filial[0]->id;?>><i class="glyphicon glyphicon-remove" data-toggle='tooltip' title="Desativar filial"></i></a></td>
                        <td class="data-filial hidden">
                            <div class="cidade"><?php echo $filial["nomeCidade"]; ?></div>
                            <div class="estado"><?php echo $filial["ufEstado"]; ?></div>
                            <div class="rua"><?php echo $filial["enderecoRua"]; ?></div>
                            <div class="numero"><?php echo $filial["enderecoNumero"]; ?></div>
                            <div class="bairro"><?php echo $filial["enderecoBairro"]; ?></div>
                            <div class="email"><?php echo $filial["contatoEmail"]; ?></div>
                            <div class="telefone"><?php echo $filial["contatoTelefone"]; ?></div>
                            <div class="celular"><?php echo $filial["contatoCelular"]; ?></div>
                            <div class="midiasSociais">
                            <?php //foreach(): ?>
                            <?php //endforeach; ?>
                            </div>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
                <tfoot>
                    <th>Empresa</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th colspan="3">Ações</th>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<?php

        echo $this->paginationControl(
            $this->filiais,
            'Sliding',
            'partials/paginator/control.phtml'
        );

    else:
        if(isset($this->possuiEmpresa)):
            echo "É necessário ter uma empresa ativa para realizar a consulta de filial. <a href='/system/empresa/cadastro'>Clique aqui para cadastrar sua empresa.</a>";
        else:
            echo "Nenhuma filial cadastrada. <a href='/system/filial/cadastro'>Clique aqui para cadastrar.</a>";
        endif;
    endif;

?>