#edit-profile label.error{
	float: none;
	clear: both;
	width: auto;
	font-size: 14px;
	color: red;
}

.alert i, .alert b{
	color: #c09853;
}

.alert a{
	text-decoration: underline !important;
}
.popover .popover-title{ background: #fabf10; }
.popover .popover-content{ color: #000; }
#edit-profile .input-textarea:focus{
	outline-color: #870306;
	outline-style: inset;
}