<?php

	echo $this->messages();

	$form = $this->form;
	$form->prepare();
?>

<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
		    <div class="box-header">
		        <h3 class="box-title">Dados da mídia social</h3>
		    </div>
		    <div class="box-body">
		    <?php
	    		echo $this->form()->openTag($form);
				echo $this->formHidden($form->get('id'));
			?>

				<div class="form-group">
					<?php
						echo $this->formLabel($form->get('nome'));
						echo $this->formText($form->get('nome'));
					?>
				</div>

				<div class="form-group">
					<?php
						echo $this->formLabel($form->get('icone'));
						echo $this->formTextArea($form->get('icone'));
					?>
				</div>
				<?php 
					echo $this->formSubmit($form->get('submit'));
					echo $this->form()->closeTag();
				?>
		    </div>
		</div>
	</div>
</div>