<?php
    echo $this->messages();
    if(isset($this->midiasSociais)):
?>
<div class="row">
    <div class="col-xs-12" style="margin-bottom: 15px;">
        <a class="btn btn-default btn-lg" href="/system/midia-social/cadastro">
            <span class="glyphicon glyphicon-plus-sign" style="color: green;"></span> Nova mídia social
        </a>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Lista de mídia social</div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Ícone</th>
                        <th colspan="2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                <?php foreach($this->midiasSociais as $midiaSocial):?>
                    <tr>
                        <td><?php echo $midiaSocial->nome; ?></td>
                        <td><?php echo $midiaSocial->icone; ?></td>
                        <td><a href=<?php echo "/system/midia-social/cadastro/edicao/".$midiaSocial->id;?>><i class="glyphicon glyphicon-pencil"></i></a></td>
                        <td><a href=<?php echo "/system/midia-social/delete/id/".$midiaSocial->id;?>><i class="glyphicon glyphicon-remove"></i></a></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
                <tfoot>
                    <th>Nome</th>
                    <th>Ícone</th>
                    <th colspan="2">Ações</th>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<?php

        echo $this->paginationControl(
            $this->midiasSociais,
            'Sliding',
            'partials/paginator/control.phtml'
        );

    else:
        echo "Nenhuma mídia social cadastrada. <a href='/system/midia-social/cadastro'>Clique aqui para cadastrar.</a>";
    endif;

?>