<?php
	$msg = "";
	if($this->active)
		$msg = "USUÁRIO ATIVADO COM SUCESSO!<br><a href='/system/auth'><i style='color:#FFF;text-decoration:underline;'>Agora você já pode anúnciar de graça! Aproveite!</i></a>";
	else
		$msg = "USUÁRIO INVÁLIDO!<br><i style='color:#FFF;'>Não foi encontrado um usuário para ser validado. <a href='/user/esqueci-minha-senha'><i style='color:#FFF;text-decoration:underline;'>Esqueceu a senha?</i></a></i>";
?>

<div class="ad-title">
	<h2>ATIVAÇÃO DE USUÁRIO</h2>
</div>

<div class="first clearfix log-in">
	<h2 class="login-title"><?php echo $msg; ?></h2> 
</div>