<?php $esqueciMinhaSenhaForm = $this->esqueciMinhaSenhaForm; ?>

<div class="ad-title">
	<h2>RECUPERAÇÃO DE SENHA</h2>
</div>
<section class="ads-main-page">
	<div class="container">
		<div class="log-in-logo">
			<a class="logo" href="/" title="Home">
				<img src="/img/system/temprafesta.png" alt="Logo">
			</a>
		</div>
		<div class="first clearfix log-in">
			<h2 class="login-title">RECUPERAÇÃO DE SENHA</h2> 
			<div id="edit-profile" class="clearfix">
			<?php echo $this->messages(); ?>
				<div class="span4" style="width: 100% !important;">
					<p>Não se preocupe - basta digitar o seu endereço de e-mail abaixo e nós enviaremos um link para você criar uma nova senha.</p>
					<?php
						echo $this->form()->openTag($esqueciMinhaSenhaForm);
						echo $this->formText($esqueciMinhaSenhaForm->get('username'));
					?>
					<div class="clearfix"></div>
					<div class="btn-container">	
						<?php //echo $this->formSubmit($esqueciMinhaSenhaForm->get('submit')); ?>
						<button name="submit" type="submit" id="edit-submit" class="btn form-submit" value="Continuar">Continuar</button>
					</div>
					<?php echo $this->form()->closeTag(); ?>
				</div>
				<!--<div class="span4 last">
					<span>Já possui conta?</span>
					<a class="login-a" href="/system/auth">Faça o login</a>
					<div class="register-page-title">
						<h5>Login via Redes Sociais</h5>
					</div>
					<div class="social-btn clearfix">
						<div class="social-btn-container">
							<a class="register-social-button-facebook" href="javascript:void(0);">Login via Facebook</a>
						</div>
						<div class="social-btn-container">
							<a class="register-social-button-twitter" href="javascript:void(0);">Login via Twitter</a>
						</div>
						<div class="social-btn-container">
							<a class="register-social-button-google" href="javascript:void(0);">Login via Google</a>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</div>
</section>