<input id="categoriaIdRecovery" type="hidden" value=<?php echo "'".$this->categoria_id."'"; ?> />
<input id="subcategoriaIdRecovery" type="hidden" value=<?php echo "'".$this->subcategoria_id."'"; ?> />

<div class="ad-title">
	<h2><?php echo $this->nomeSubcategoria;?>
	<span class="ad-page-price">
		<?php echo $this->qtdAnuncios." anúncios"; ?>
	</span>
	</h2>
</div>
<!-- MAPA -->
<section id="big-map">
	<div id="classiads-main-map"></div>
	<script type="text/javascript">
		var mapDiv,
			map,
			infobox;
		jQuery(document).ready(function($) {

			mapDiv = $("#classiads-main-map");
			mapDiv.height(650).gmap3({
				map: {
					options: {
						"draggable": true
						,"mapTypeControl": true
						,"mapTypeId": google.maps.MapTypeId.ROADMAP
						,"scrollwheel": false
						,"panControl": true
						,"rotateControl": false
						,"scaleControl": true
						,"streetViewControl": true
						,"zoomControl": true
					}
				}
				,marker: {
					values: [
							<?php 
								if(isset($this->anunciosMapa)):
									$json;
									foreach($this->anunciosMapa as $mapa):

										$userId = $mapa['userId'];
						                $img 	= "/files/classificado/".$userId."/".$mapa["id"]."/".$mapa["imagemNome"];
						                $valor 	= $mapa['valor'];
						                $id    	= $mapa['id'];
						                $titulo = $mapa['titulo'];
						                $categoria_icone 	  = $mapa["icone_categoria"];
						                $categoria_map_marker = $mapa["map_marker_categoria"];
					            ?>

					            {
					            	latLng: [<?php echo $mapa['latitude']; ?>,<?php echo $mapa['longitude']; ?>],
					                options: {
					                icon: <?php echo "'".$categoria_map_marker."'"; ?>,
					                shadow: 'img/site/shadow.png',
					                },
					                data: '<div class="marker-holder"><div class="marker-content"><div class="marker-image"><img alt="image" src="<?php echo $img; ?>" /></div><div class="marker-info-holder"><div class="marker-info-price">R$ <?php echo $valor; ?></div><div class="marker-info"><div class="marker-info-title"><a href="/classificado/anuncio/<?php echo $id;?>"><?php echo $titulo; ?></a></div><div class="marker-icon-box"><div class="category-icon-box" ><i class="<?php echo $categoria_icone; ?>"></i></div></div></div></div><div class="arrow-down"></div><div class="close"></div></div></div>',
					                },
							<?php
									endforeach;
								endif;
							?>			
					],
					options:{
						draggable: false
					},
					cluster:{
		          		radius: 20,
						// This style will be used for clusters with more than 0 markers
						0: {
							content: "<div class='cluster cluster-1'>CLUSTER_COUNT</div>",
							width: 62,
							height: 62
						},
						// This style will be used for clusters with more than 20 markers
						20: {
							content: "<div class='cluster cluster-2'>CLUSTER_COUNT</div>",
							width: 82,
							height: 82
						},
						// This style will be used for clusters with more than 50 markers
						50: {
							content: "<div class='cluster cluster-3'>CLUSTER_COUNT</div>",
							width: 102,
							height: 102
						},
						events: {
							click: function(cluster) {
								map.panTo(cluster.main.getPosition());
								map.setZoom(map.getZoom() + 2);
							}
						}
		          	},
					events: {
						click: function(marker, event, context){
							map.panTo(marker.getPosition());

							var ibOptions = {
							    pixelOffset: new google.maps.Size(-125, -88),
							    alignBottom: true
							};

							infobox.setOptions(ibOptions);

							infobox.setContent(context.data);
							infobox.open(map,marker);

							// if map is small
							var iWidth = 370;
							var iHeight = 370;
							if((mapDiv.width() / 2) < iWidth ){
								var offsetX = iWidth - (mapDiv.width() / 2);
								map.panBy(offsetX,0);
							}
							if((mapDiv.height() / 2) < iHeight ){
								var offsetY = -(iHeight - (mapDiv.height() / 2));
								map.panBy(0,offsetY);
							}
						}
					}
				}
			},"autofit");

			map = mapDiv.gmap3("get");
		    infobox = new InfoBox({
		    	pixelOffset: new google.maps.Size(-50, -65),
		    	closeBoxURL: '',
		    	enableEventPropagation: true
		    });
		    mapDiv.delegate('.infoBox .close','click',function () {
		    	infobox.close();
		    });

		    if (Modernizr.touch){
		    	map.setOptions({ draggable : false });
		        var draggableClass = 'inactive';
		        var draggableTitle = "Activate map";
		        var draggableButton = $('<div class="draggable-toggle-button '+draggableClass+'">'+draggableTitle+'</div>').appendTo(mapDiv);
		        draggableButton.click(function () {
		        	if($(this).hasClass('active')){
		        		$(this).removeClass('active').addClass('inactive').text("Activate map");
		        		map.setOptions({ draggable : false });
		        	} else {
		        		$(this).removeClass('inactive').addClass('active').text("Deactivate map");
		        		map.setOptions({ draggable : true });
		        	}
		        });
		    }

		jQuery( "#advance-search-slider" ).slider({
		      	range: "min",
		      	value: 500,
		      	min: 1,
		      	max: 1000,
		      	slide: function( event, ui ) {
		       		jQuery( "#geo-radius" ).val( ui.value );
		       		jQuery( "#geo-radius-search" ).val( ui.value );

		       		jQuery( ".geo-location-switch" ).removeClass("off");
		      	 	jQuery( ".geo-location-switch" ).addClass("on");
		      	 	jQuery( "#geo-location" ).val("on");

		       		mapDiv.gmap3({
						getgeoloc:{
							callback : function(latLng){
								if (latLng){
									jQuery('#geo-search-lat').val(latLng.lat());
									jQuery('#geo-search-lng').val(latLng.lng());
								}
							}
						}
					});

		      	}
		    });
		    jQuery( "#geo-radius" ).val( jQuery( "#advance-search-slider" ).slider( "value" ) );
		    jQuery( "#geo-radius-search" ).val( jQuery( "#advance-search-slider" ).slider( "value" ) );

		    jQuery('.geo-location-button .fa').click(function()
			{
				
				if(jQuery('.geo-location-switch').hasClass('off'))
			    {
			        jQuery( ".geo-location-switch" ).removeClass("off");
				    jQuery( ".geo-location-switch" ).addClass("on");
				    jQuery( "#geo-location" ).val("on");

				    mapDiv.gmap3({
						getgeoloc:{
							callback : function(latLng){
								if (latLng){
									jQuery('#geo-search-lat').val(latLng.lat());
									jQuery('#geo-search-lng').val(latLng.lng());
								}
							}
						}
					});

			    } else {
			    	jQuery( ".geo-location-switch" ).removeClass("on");
				    jQuery( ".geo-location-switch" ).addClass("off");
				    jQuery( "#geo-location" ).val("off");
			    }
		           
		    });

		});
		</script>
	<div class="container search-bar">
		<div id="advanced-search-widget-version2" class="home-search">
			<div class="container">
				<div class="advanced-search-widget-content">
				<?php $mainSearchForm = $this->mainSearchForm; ?>
					<?php echo $this->form()->openTag($mainSearchForm); ?>
						<div id="edit-field-category-wrapper" class="views-exposed-widget views-widget-filter-field_category">
						    <div class="views-widget">
						        <div class="control-group form-type-select form-item-field-category form-item">
									<div class="controls"> 
										<select id="edit-field-category" name="categoria" class="form-select">
										</select>
									</div>
								</div>
							</div>
						</div>
						<div id="edit-ad-location-wrapper" class="views-exposed-widget views-widget-filter-field_ad_location">
							<div class="views-widget">
								<div class="control-group form-type-select form-item-ad-location form-item">
									<div class="controls">
										<select id="edit-ad-estado" name="estado" class="form-select">
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="advanced-search-slider" id="search-cidade">
							<select id="edit-ad-cidade" name="cidade" class="form-select">
								<option>Escolha um estado...</option>
							</select>
							<!--<div id="advance-search-slider" class="value-slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false">
								<a class="ui-slider-handle ui-state-default ui-corner-all" href="#">
									<span class="range-pin">
										<input type="text" name="geo-radius" id="geo-radius" value="100" data-default-value="100">
									</span>
								</a>
							</div>
							<div class="geo-location-button">
								<div class="geo-location-switch off"><i class="fa fa-location-arrow"></i></div>
							</div>-->
						</div>
						<!--<input type="text" name="geo-location" id="geo-location" value="off" data-default-value="off">
						<input type="text" name="geo-radius-search" id="geo-radius-search" value="500" data-default-value="500">
						<input type="text" name="geo-search-lat" id="geo-search-lat" value="0" data-default-value="0">
						<input type="text" name="geo-search-lng" id="geo-search-lng" value="0" data-default-value="0">-->
						<div id="edit-search-api-views-fulltext-wrapper" class="views-exposed-widget views-widget-filter-search_api_views_fulltext">
					        <div class="views-widget">
					          	<div class="control-group form-type-textfield form-item-search-api-views-fulltext form-item">
									<div class="controls"> 
										<!--<input placeholder="Enter keyword..." type="text" id="edit-search-api-views-fulltext" name="s" value="" size="30" maxlength="128" class="form-text">-->
										<?php echo $this->formText($mainSearchForm->get('palavra_chave')); ?>
									</div>
								</div>
						    </div>
						</div>
						<div class="views-exposed-widget views-submit-button">
						    <button class="btn btn-primary form-submit" id="edit-submit-search-view" name="" value="Search" type="submit"><i class="fa fa-search"></i></button>
						</div>
					<?php echo $this->form()->closeTag(); ?>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="container">
	<div class="span8 first">
		<?php
			if($this->paginatorAnuncioEmpresa){

				echo '<div class="cat-page-ad home-page-ad1">';
				foreach($this->paginatorAnuncioEmpresa as $anuncioEmpresa){
					$src = "/files/empresa/".$anuncioEmpresa->empresa_id->usuario_id."/".$anuncioEmpresa->empresa_id->id."/".$anuncioEmpresa->empresa_id->imagem;
                	$imagem = "<img alt='".$anuncioEmpresa->empresa_id->nome."' src='".$this->serverUrl($src)."' />";
	                echo '<a href="/empresa/'.$this->formatURL($anuncioEmpresa->empresa_id->nome).'/'.$anuncioEmpresa->empresa_id->id.'">'.$imagem.'</a>';
	            }
	            echo '</div>';
	        }
		?>
		
		<section id="ads-homepage" class="category-page-ads">
			<div class="span8 first">
				<ul class="tabs quicktabs-tabs quicktabs-style-nostyle clearfix">
					<div class="three-tabs">
						<li>
							<a class="current" href="#">Últimos</a>
						</li>
						<li>
							<a class="" href="#">Populares</a>
						</li>
						<li>
							<a class="" href="#">Empresas</a>
						</li>
					</div>
				</ul>
				<div class="pane latest-ads-holder">	
				</div>

				<div class="pane popular-ads-grid-holder">
				</div>

				<div class="pane random-ads-grid-holder">
				</div>
			</div>
		</section>
	</div>
	<div class="span4">
		<div class="cat-widget">
    		<div class="cat-widget-content" id="destaques">
    			<div class="cat-widget-title">
    				<h3>DESTAQUES</h3>
    				<div class="h3-seprator-sidebar"></div>
				</div>
				<div class="textwidget">
					<div>
					</div>
				</div>
    		</div>
    	</div>
		<div class="cat-widget custom-widget">
			<h3>SUBCATEGORIAS</h3>
			<div class="h3-seprator-sidebar"></div>
    		<div class="cat-widget-content" id="subcategoria-widget">
    			<ul> 
				</ul>
			</div>
		</div>
		<div class="custom-cat-widget">
			<div class="cat-widget custom-widget">
				<div class="cat-widget-title">
					<h3>ENCONTRE POR CATEGORIA</h3>
					<div class="h3-seprator-sidebar"></div>
				</div>
				<div class="cat-widget-content" id="encontre-por-categoria">
					<ul> 
					</ul>
				</div>
	    	</div>
    	</div>
    	<div class="cat-widget">
    		<div class="cat-widget-content">
    			<div class="cat-widget-title">
    				<h3>ÚLTIMOS ADICIONADOS</h3>
    				<div class="h3-seprator-sidebar"></div>
				</div>
				<div class="jw-recent-posts-widget">
					<ul>
					</ul>
				</div>
    		</div>
    	</div>
    	<div class="cat-widget" id="tagcloud">
    		<div class="cat-widget-content">
    			<div class="cat-widget-title">
    				<h3>TAGS</h3>
    				<div class="h3-seprator-sidebar"></div>
				</div>
				<div class="tagcloud">
				</div>
			</div>
		</div>
	</div>
</section>