@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-call37:before {
	content: "\e000";
}
.flaticon-facebook55:before {
	content: "\e001";
}
.flaticon-facebook7:before {
	content: "\e002";
}
.flaticon-factory8:before {
	content: "\e003";
}
.flaticon-google110:before {
	content: "\e004";
}
.flaticon-google116:before {
	content: "\e005";
}
.flaticon-linkedin11:before {
	content: "\e006";
}
.flaticon-linkedin2:before {
	content: "\e007";
}
.flaticon-megaphone8:before {
	content: "\e008";
}
.flaticon-share21:before {
	content: "\e009";
}
.flaticon-situation:before {
	content: "\e00a";
}
.flaticon-social71:before {
	content: "\e00b";
}
.flaticon-twitter33:before {
	content: "\e00c";
}
.flaticon-whatsapp:before {
	content: "\e00d";
}
