<?php

	echo $this->messages();

	$form = $this->form;
	$form->prepare();
?>

<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
		    <div class="box-header">
		        <h3 class="box-title">Dados da subcategoria</h3>
		    </div>
		    <div class="box-body">
		    <?php
	    		echo $this->form()->openTag($form);
				echo $this->formHidden($form->get('id'));
			?>
				<div class="form-group select">
					<?php
						echo $this->formLabel($form->get('categoria_id'));
						echo $this->formSelect($form->get('categoria_id'));
					?>
				</div>

				<div class="form-group">
					<?php
						echo $this->formLabel($form->get('nome'));
						echo $this->formText($form->get('nome'));
					?>
				</div>

				<div class="form-group">
					<?php
						echo $this->formLabel($form->get('descricao'));
						echo $this->formTextArea($form->get('descricao'));
					?>
				</div>

				<?php if(isset($this->edicao) && $this->edicao === true): ?>
				<div class="form-group">
                    <?php
                        echo "<label>".$this->formCheckbox($form->get('status'))."Ativo/Inativo</label>";
                    ?>
                </div>
            	<?php endif; ?>
				
				<?php 
					echo $this->formSubmit($form->get('submit'));
					echo $this->form()->closeTag();
				?>
		    </div>
		</div>
	</div>
</div>