<?php

    echo $this->messages();
    if(isset($this->subcategorias)):
?>
<div class="row">
    <div class="col-xs-12" style="margin-bottom: 15px;">
        <a class="btn btn-default btn-lg" href="/system/subcategoria/cadastro">
            <span class="glyphicon glyphicon-plus-sign" style="color: green;"></span> Nova subcategoria
        </a>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Lista de subcategorias</div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Categoria vinculada</th>
                        <th>Status</th>
                        <th colspan="2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                <?php
                    foreach($this->subcategorias as $subcategoria):
                        $status = (($subcategoria->status == 0 || $subcategoria->categoria_id->status == 0) ? "Inativo" : "Ativo");
                ?>
                    <tr>
                        <td><?php echo $subcategoria->nome; ?></td>
                        <td><?php echo $subcategoria->descricao; ?></td>
                        <td><?php echo $subcategoria->categoria_id->nome; ?></td>
                        <td><?php echo $status; ?></td>
                        <td><a href=<?php echo "/system/subcategoria/cadastro/edicao/".$subcategoria->id;?>><i class="glyphicon glyphicon-pencil"></i></a></td>
                        <td><a href=<?php echo "/system/subcategoria/delete/id/".$subcategoria->id;?>><i class="glyphicon glyphicon-remove"></i></a></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
                <tfoot>
                    <th>Nome</th>
                    <th>Ícone</th>
                    <th colspan="2">Ações</th>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<?php

        echo $this->paginationControl(
            $this->subcategorias,
            'Sliding',
            'partials/paginator/control.phtml'
        );

    else:
        echo "Nenhuma subcategoria cadastrada. <a href='/system/subcategoria/cadastro'>Clique aqui para cadastrar.</a>";
    endif;

?>