.tab-pane h2{
	font-size: 18px;
}

.tab-pane h3{
	font-size: 18px;
}

.tab-pane ul{
	margin: 0px;
	padding: 0px;
}
.tab-pane ul li{
	list-style: none;
	float: left;
	border-bottom: 1px solid #CCC;
	padding: 10px 0px 10px 0px;
}

.tab-pane ul li ul li{
	border: none;
	float: none;
}

.box{
	border: none;
	margin: 0px;
	background: transparent;
	box-shadow: none;
}

.fNone{
	float: none;
}

.resize{
	width: 100%;
	font-size: 110px;
	text-align: center;
	line-height: 129px;
}

.tab-pane .box{
	width: 100px;
	float: left;
}

.columnLeft{
	padding-left: 0px;
}
.columnRight{
	padding-right: 0px;
}