<?php
    echo $this->messages();
    if(isset($this->categorias)):
?>
<div class="row">
    <div class="col-xs-12" style="margin-bottom: 15px;">
        <a class="btn btn-default btn-lg" href="/system/categoria/cadastro">
            <span class="glyphicon glyphicon-plus-sign" style="color: green;"></span> Nova categoria
        </a>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Lista de categorias</div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Ícone</th>
                        <th>Status</th>
                        <th colspan="2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                <?php
                    foreach($this->categorias as $categoria):
                        $status = ($categoria->status == 0 ? "Inativo" : "Ativo");
                ?>
                    <tr>
                        <td><?php echo $categoria->nome; ?></td>
                        <td><?php echo $categoria->descricao; ?></td>
                        <td><?php echo "<i class='".$categoria->icone."'></i>";?></td>
                        <td><?php echo $status; ?></td>
                        <td><a href=<?php echo "/system/categoria/cadastro/edicao/".$categoria->id;?>><i class="glyphicon glyphicon-pencil"></i></a></td>
                        <td><a href=<?php echo "/system/categoria/delete/id/".$categoria->id;?>><i class="glyphicon glyphicon-remove"></i></a></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
                <tfoot>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Ícone</th>
                    <th>Status</th>
                    <th colspan="3">Ações</th>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<?php

        echo $this->paginationControl(
            $this->categorias,
            'Sliding',
            'partials/paginator/control.phtml'
        );

    else:
        echo "Nenhuma categoria cadastrada. <a href='/system/categoria/cadastro'>Clique aqui para cadastrar.</a>";
    endif;

?>