<?php if(isset($this->paginatorClassificado)): ?>
    <ul>
        <?php

        /*function getStatus($status){

            $nomeStatus         = "";
            $descricaoStatus    = "";
            $iconeStatus        = "";
            $descricaoProcesso  = "";
            switch ($status) {
                case 1:
                    $nomeStatus = "Aguardando retorno de pagamento";
                    $descricaoStatus = "Aguardando retorno de pagamento do cliente por meio do PagSeguro ou Paypal.";
                    $iconeStatus = "";
                    break;
                case 2:
                    $nomeStatus = "Publicado";
                    $descricaoStatus = "Edição ou App foi pago e publicado no App da Duismag.";
                    $iconeStatus     = 'glyphicon glyphicon-ok';
                    $descricaoProcesso  = "Funcionando";
                    break;
                case 3:
                    $nomeStatus = "Aguardando retorno da PlayStore";
                    $descricaoStatus = "";
                    $iconeStatus = "";
                    $descricaoProcesso  = "Em andamento";
                    break;
                case 4:
                    $nomeStatus = "Aguardando retorno da AppStore";
                    $descricaoStatus = "Edição ou App foi pago e publicado no App da Duismag.";
                    $iconeStatus = "";
                    $descricaoProcesso  = "Em andamento";
                    break;
                case 5:
                    $nomeStatus = "Aguardando retorno da Windows Store";
                    $descricaoStatus = "Edição ou App foi pago e publicado no App da Duismag.";
                    $iconeStatus     = '';
                    $descricaoProcesso  = "Em andamento";
                    break;
                case 7:
                    $nomeStatus = "Inativo";
                    $descricaoStatus = "Edição não está sendo apresentada no App da Duismag, é possível ativar está edição para que seja publicada no App da Duismag.";
                    $iconeStatus     = 'glyphicon glyphicon-remove';
                    break;
                case 10:
                    $nomeStatus = "Aguardando retorno da Duismag";
                    $descricaoStatus = "";
                    $iconeStatus     = '';
                    $descricaoProcesso  = "Em andamento";
                    break;
                
                default:
                    $nomeStatus = "";
                    $descricaoStatus = "";
                    $iconeStatus = "";
                    break;
            }

            return array(
                "nomeStatus"        => $nomeStatus,
                "descricaoStatus"   => $descricaoStatus,
                "iconeStatus"       => $iconeStatus,
                "descricaoProcesso" => $descricaoProcesso
            );
        }*/

            foreach($this->paginatorClassificado as $anuncio):
        ?>
            <li class="col-xs-12">
                <div class="col-xs-2 columnLeft">
                    <?php 
                        $image = $this->serverUrl()."/files/empresa/".$anuncio->empresa_id->usuario_id."/".$anuncio->empresa_id->id."/".$anuncio->empresa_id->imagem;
                        echo "<img class='resize' src='".$image."' />";
                    ?>
                </div>
                <div class="col-xs-6">
                    <h2><?php echo $anuncio->empresa_id->nome; ?></h2>
                    <?php
                        if($anuncio->status == 0)
                            echo "<p class='text-red'>ANÚNCIO INATIVO</p>";
                        else if($anuncio->status == 1)
                            echo "<p class='text-blue'>ANÚNCIO ATIVO</p>";
                        else if($anuncio->status == 3)
                            echo "<p class='text-red'>AGUARDANDO PAGAMENTO</p>";

                        if($anuncio->status != 3){
                            echo '<a href="/system/classificado/empresa-delete/id/'.$anuncio->id.'" class="btn btn-default btn-flat delete"><i class="fa fa-trash-o"></i>&nbsp;Excluir</a>';
                        }
                    ?>
                    <?php
                        if($anuncio->status != 3){
                            echo '<a href="'.$this->serverUrl("/empresa/".$this->formatURL($anuncio->empresa_id->nome)."/".$anuncio->empresa_id->id).'" class="btn btn-default btn-flat"><i class="fa fa-eye"></i>&nbsp;Visualizar</a>';
                        }
                    ?>
                </div>
                <div class="col-xs-4">
                    <?php
                        $visualizacoes = $anuncio->visualizacoes;
                        $visualizacoes = ((int) $visualizacoes > 0 ? $visualizacoes : "<u>Anúncio ainda não foi visualizado.</u>")
                    ?>
                    <p>Número de visualizações: <?php echo $visualizacoes; ?></p>
                </div>
            </li>
        <?php
            endforeach;
        ?>
        <div class="clear"></div>
    </ul>
    <?php
        echo $this->paginationControl(
                    $this->paginatorClassificado,
                    'Sliding',
                    'partials/paginator/control.phtml'
                );
else:
    if(isset($this->possuiEmpresa)):
        echo "Para começar a divulgar sua empresa você precisa ter uma empresa cadastrada. Vamos lá! <a href='/system/empresa/cadastro' class='btn btn-success btn-flat'>Clique aqui para cadastrar sua empresa!</a>";
    else:
        echo "Você não possui anúncios empresariais. <a href='/system/classificado/empresa' class='btn btn-success btn-flat'>Divulgue sua empresa agora!</a>";
    endif;
endif;
?>