<?php
    if(isset($this->paginatorClassificado)):
?>
    <ul>
        <?php

        /*function getStatus($status){

            $nomeStatus         = "";
            $descricaoStatus    = "";
            $iconeStatus        = "";
            $descricaoProcesso  = "";
            switch ($status) {
                case 1:
                    $nomeStatus = "Aguardando retorno de pagamento";
                    $descricaoStatus = "Aguardando retorno de pagamento do cliente por meio do PagSeguro ou Paypal.";
                    $iconeStatus = "";
                    break;
                case 2:
                    $nomeStatus = "Publicado";
                    $descricaoStatus = "Edição ou App foi pago e publicado no App da Duismag.";
                    $iconeStatus     = 'glyphicon glyphicon-ok';
                    $descricaoProcesso  = "Funcionando";
                    break;
                case 3:
                    $nomeStatus = "Aguardando retorno da PlayStore";
                    $descricaoStatus = "";
                    $iconeStatus = "";
                    $descricaoProcesso  = "Em andamento";
                    break;
                case 4:
                    $nomeStatus = "Aguardando retorno da AppStore";
                    $descricaoStatus = "Edição ou App foi pago e publicado no App da Duismag.";
                    $iconeStatus = "";
                    $descricaoProcesso  = "Em andamento";
                    break;
                case 5:
                    $nomeStatus = "Aguardando retorno da Windows Store";
                    $descricaoStatus = "Edição ou App foi pago e publicado no App da Duismag.";
                    $iconeStatus     = '';
                    $descricaoProcesso  = "Em andamento";
                    break;
                case 7:
                    $nomeStatus = "Inativo";
                    $descricaoStatus = "Edição não está sendo apresentada no App da Duismag, é possível ativar está edição para que seja publicada no App da Duismag.";
                    $iconeStatus     = 'glyphicon glyphicon-remove';
                    break;
                case 10:
                    $nomeStatus = "Aguardando retorno da Duismag";
                    $descricaoStatus = "";
                    $iconeStatus     = '';
                    $descricaoProcesso  = "Em andamento";
                    break;
                
                default:
                    $nomeStatus = "";
                    $descricaoStatus = "";
                    $iconeStatus = "";
                    break;
            }

            return array(
                "nomeStatus"        => $nomeStatus,
                "descricaoStatus"   => $descricaoStatus,
                "iconeStatus"       => $iconeStatus,
                "descricaoProcesso" => $descricaoProcesso
            );
        }*/

            foreach($this->paginatorClassificado as $anuncio):
        ?>
            <li class="col-xs-12">
                <div class="col-xs-2 columnLeft">
                    <?php 
                        $image = "/files/classificado/".$this->userSession[0]->id."/".$anuncio->id."/".$anuncio->classificadoImagem[0]->nome;
                        echo "<img class='resize' src='".$image."' />";
                    ?>
                </div>
                <div class="col-xs-6">
                    <h2><?php echo $anuncio->titulo; ?></h2>
                    <p><?php echo "R$ ".$anuncio->valor ?></p>
                    <?php
                        $expireDate = new \DateTime("-30 days");
                        if($anuncio->status == 0 || $anuncio->reactivated < $expireDate){
                            $expireCreated = clone $anuncio->reactivated;
                            $expireCreated->modify('+30 days');
                            $newDate = $this->dateFormat(
                                            $expireCreated,
                                            IntlDateFormatter::MEDIUM,  // date
                                            IntlDateFormatter::NONE, // time
                                            "pt_BR"
                                        );
                            echo "<p class='text-red'>EXPIRADO EM ".$newDate."</p>";
                        }
                        else if($anuncio->tipo == 1 && $anuncio->status == 1)
                            echo "<p class='text-blue'>ANÚNCIO EM DESTAQUE</p>";
                        else if($anuncio->tipo == 1 && $anuncio->status == 3)
                            echo "<p class='text-red'>AGUARDANDO PAGAMENTO</p>";

                        if($anuncio->status == 0 || $anuncio->reactivated < $expireDate)
                            echo "<a href='/system/classificado/normal/edicao/".$anuncio->id."' class='btn btn-default btn-flat'><i class='fa fa-star'></i>&nbsp;Renovar Agora</a>";
                        else
                            echo "<a href='/system/classificado/normal/edicao/".$anuncio->id."' class='btn btn-default btn-flat'><i class='fa fa-edit'></i>&nbsp;Editar</a>";
                    ?>

                    <?php
                        if($anuncio->status != 3){
                            echo '<a href="/system/classificado/normal-delete/id/'.$anuncio->id.'" class="btn btn-default btn-flat delete"><i class="fa fa-trash-o"></i>&nbsp;Excluir</a>';
                        }
                    ?>

                    <?php
                        if($anuncio->status != 3){
                            echo '<a href="'.$this->serverUrl("/classificado/".$this->formatURL($anuncio->titulo)."/".$anuncio->id).'" class="btn btn-default btn-flat"><i class="fa fa-eye"></i>&nbsp;Visualizar</a>';
                        }
                    ?>

                    <?php if($anuncio->tipo == 0 && $anuncio->reactivated > $expireDate): ?>
                    <a href=<?php echo "/system/classificado/destacar-anuncio-normal/id/".$anuncio->id; ?> class="btn btn-success btn-flat destacar"><i class="fa fa-star"></i>&nbsp;Destacar</a>
                    <?php endif; ?>
                </div>
                <div class="col-xs-4">
                    <?php
                        $visualizacoes = $anuncio->visualizacoes;
                        $visualizacoes = ((int) $visualizacoes > 0 ? $visualizacoes : "<u>Anúncio ainda não foi visualizado.</u>")
                    ?>
                    <p>Número de visualizações: <?php echo $visualizacoes; ?></p>
                </div>
            </li>
        <?php
            endforeach;
        ?>
        <div class="clear"></div>
    </ul>
    <?php
        echo $this->paginationControl(
                    $this->paginatorClassificado,
                    'Sliding',
                    'partials/paginator/control.phtml'
                );
else:
    echo "Você não possui anúncios. <a href='/system/classificado/normal' class='btn btn-success btn-flat'>Adquira seu anúncio grátis agora!</a>";
endif;
?>