<?php
    if(isset($this->paginatorClassificado)):
?>
    <ul>
        <?php
            foreach($this->paginatorClassificado as $anuncio):
        ?>
            <li class="col-xs-12">
                <div class="col-xs-2 columnLeft">
                    <?php 
                        $image = "/files/classificado/".$this->userSession[0]->id."/".$anuncio->classificado_id->id."/".$anuncio->classificado_id->classificadoImagem[0]->nome;
                        echo "<img class='resize' src='".$image."' />";
                    ?>
                </div>
                <div class="col-xs-10">
                    <h2><?php echo $anuncio->classificado_id->titulo; ?></h2>
                    <p><?php echo "R$ ".$anuncio->classificado_id->valor ?></p>
                    <?php
                        /*if($anuncio->classificado_id->tipo == 1):
                            echo "<p class='text-red'>ANÚNCIO EM DESTAQUE</p>";
                        endif;*/
                    ?>
                    <a href=<?php echo "/classificado/normal/".$anuncio->classificado_id->id; ?> class="btn btn-default btn-flat"><i class="fa fa-eye"></i>&nbsp;Visualizar</a>
                    <a href=<?php echo "/system/classificado/normal-favorito-delete/id/".$anuncio->classificado_id->id; ?> class="btn btn-default btn-flat delete"><i class="fa fa-trash-o"></i>&nbsp;Remover dos favoritos</a>
                </div>
            </li>
        <?php
            endforeach;
        ?>
        <div class="clear"></div>
    </ul>
    <?php
        echo $this->paginationControl(
                    $this->paginatorClassificado,
                    'Sliding',
                    'partials/paginator/control.phtml'
                );
else:
    echo "Você não possui anúncios favoritos.";
endif;
?>