<?php
    $this->headLink()
         ->prependStylesheet($this->basePath() . "/css/theme/jQueryUI/jquery-ui-1.10.3.custom.min.css")
         ->prependStylesheet($this->basePath() . '/css/theme/jquery-toggle/themes/toggles-modern.css')
         ->prependStylesheet($this->basePath() . '/css/theme/jquery-toggle/toggles.css');
    $this->headScript()
         ->prependFile($this->basePath() . '/js/theme/jquery-ui-1.11.1.min.js')
         ->prependFile($this->basePath() . '/js/theme/plugins/countdown.min.js')
         ->prependFile($this->basePath() . '/js/theme/plugins/jquery-toggle/toggles.js');

    echo $this->messages();
?>
<div class="row">

    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
                <li><a href="#tab_configuracao" data-toggle="tab">Configurações</a></li>
                <li><a href="#tab_mensagem" data-toggle="tab">Mensagens</a></li>
                <li><a href="#tab_favoritos" data-toggle="tab">Favoritos</a></li>
                <li><a href="#tab_anuncios_empresariais" data-toggle="tab">Divulgação das minhas empresas</a></li>
                <li class="active"><a href="#tab_anuncios" data-toggle="tab">Meus anúncios</a></li>
                <li class="pull-left header"><i class="fa fa-star"></i> Temprafesta</li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane box active" id="tab_anuncios" style="height: 90px;">
                </div>
                <div class="tab-pane box" id="tab_anuncios_empresariais" style="height: 90px;">
                </div>
                <div class="tab-pane box" id="tab_favoritos" style="height: 90px;">
                </div>
                <div class="tab-pane box" id="tab_mensagem" style="height: 90px;">
                </div>
                <div class="tab-pane box" id="tab_configuracao" style="height: 90px;">
                </div><!-- /.tab-pane -->
            </div><!-- /.tab-content -->
        </div><!-- nav-tabs-custom -->
    </div><!-- /.col -->
</div>