<?php
    if(isset($this->paginatorMensagem)):
?>
<div class="mailbox row">
    <div class="col-xs-12">
        <div class="row pad">
            <div class="col-sm-12">
                <label style="margin-right: 10px;">
                    <input type="checkbox" id="check-all">
                </label>
                <!-- Action button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm btn-flat dropdown-toggle" data-toggle="dropdown">
                        Ações <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li style="width: 100%;"><a href="javascript:void(0);" id="markAsRead">Marcar como lida</a></li>
                        <li><a href="javascript:void(0);" id="markAsUnread">Marcar como não lida</a></li>
                        <li class="divider"></li>
                        <li style="width: 100%;"><a href="javascript:void(0);" id="deleteMessage">Excluir</a></li>
                    </ul>
                </div>

            </div>
        </div><!-- /.row -->

        <div class="table-responsive">
            <!-- THE MESSAGES -->
            <table class="table table-mailbox">
                <tbody>
                <?php
                    foreach($this->paginatorMensagem as $mensagem):
                        $read = $mensagem->lido;
                        $messageStatus = ($read == 1 ? "" : "unread");
                        $date = $this->dateFormat(
                                                $mensagem->created,
                                                IntlDateFormatter::LONG,  // date
                                                IntlDateFormatter::MEDIUM, // time
                                                "pt_BR"
                                            );
                ?>
                    <tr class=<?php echo "'".$messageStatus."'"; ?>>
                        <td class="small-col"><input type="checkbox" name="message" value=<?php echo "'".$mensagem->id."'"; ?>></td>
                        <td class="name"><a href="#"><?php echo $mensagem->nome; ?></a></td>
                        <td class="subject"><a href="#">Contato sobre o anúncio <?php echo $mensagem->classificado_id->titulo; ?></a></td>
                        <td class="time"><?php echo $date; ?></td>
                        <td class="message" style="display:none;"><?php echo $mensagem->mensagem; ?></td>
                        <td class="fromEmail" style="display:none;"><?php echo $mensagem->email; ?></td>
                    </tr>
                <?php
                    endforeach;
                ?>
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
    </div>
</div>
<div class="clearfix"></div>
<?php
    echo $this->paginationControl(
                $this->paginatorMensagem,
                'Sliding',
                'partials/paginator/control.phtml'
            );
else:
    echo "Você não possui mensagens.";
endif;
?>