html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	background: transparent url("../../../../../img/lancamento/background.png") top center fixed;
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-ms-background-size: cover;
  	-o-background-size: cover;
  	-webkit-font-smoothing: antialiased;
  	-moz-font-smoothing: antialiased;
  	-o-font-smoothing: antialiased;
  	-ms-font-smoothing: antialiased;
  	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

header img{ margin: 0px auto; }

section{ margin-bottom: 30px; }
section h2{ color: #FFF; }

.info-coupons{
	color: #FFF;
	font-family: 'Roboto', 'Lato', sans-serif;
	letter-spacing: 5px;
	text-shadow: 0px 1px 1px #000;
  	filter: dropshadow(color=#000, offx=1, offy=1);
  	zoom: 1;
  	padding: 20px 0px;
  	line-height: 50px;
}
.info-coupons span{
	border: 1px solid #FFF;
  	padding: 10px;
  	letter-spacing: 3px;
}

.cupom-container{
	padding: 10px;
	background: #FFF;
	margin-right: 10px;
	-webkit-box-shadow: -10px 10px 22px -6px #333;
    -moz-box-shadow: -10px 10px 22px -6px #333;
    box-shadow: -10px 10px 22px -6px #333;
}
.cupom-container .cupom-title{
	color: #FFF;
	padding: 5px;
	font-size: 16px;
	letter-spacing: 3px;
}
.cupom-container .cupom-token{
	border: 1px solid #000;
	font-size: 22px;
	padding: 10px 0px;
	-webkit-box-shadow: 0 10px 8px -8px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
.cupom-container > div,
.cupom-container img,
.cupom-container p{
	margin-bottom: 20px;
}
.cupom-container a{
	display: block;
	width: 100%;
	color: #FFF;
	padding: 10px;
}
.cupom-container a:hover{ text-decoration: none; }
.cupom-container a.pink:hover{ background: #DA497F; }
.cupom-container a.purple:hover{ background: #8442A9; }
.pink{ background: #c4215e; }
.purple{ background: #5d257d; }

/** FOOTER **/
footer {
  background: #5b5550;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  color: #ababab;
  font-weight: 300;
  padding: 0px 0px 30px 0px;
  margin-top: 90px;
}
footer .footer-content {
  padding: 75px 0 65px;
}
footer .logo-wrapper {
  margin-bottom: 20px;
}
footer p {
  font-size: 15px;
  line-height: 24px;
}
footer p, footer li {
  color: #fff;
}
footer .access-wrap li{
  margin-bottom: 10px;
}
footer .access-wrap li a:hover{
	color: #fabf10;
}
footer h1, footer h2{
  color: #fff;
  font-weight: 700;
  margin-bottom: 25px;
}
footer h1{
  text-align: center;
  font-size: 17px;
}
footer h2{
  font-size: 14px;
}
footer .list-inline {
  text-align: center;
  margin: 0 auto;
}
footer .list-inline li {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.separator{
  border-bottom: 1px dashed #7E7E7E;
  clear: both;
  padding-top: 60px;
  min-height: 1px;
  margin-bottom: 60px;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding: 0px;
  font-weight: 300;
  opacity: 0.4;
}
footer .flaticon{ color: #FFF; }
footer .flaticon:hover,
footer .flaticon:focus,
footer .list-inline li a:hover,
footer .list-inline li a:focus{ text-decoration: none; color: #fabf10; }
footer .flaticon:before{ font-size: 12vw; }
footer a{ color: #FFF; }

/* INI BUG FIX ON GOOGLE NEXUS 7 */
@media (min-width: 960px) and (max-width: 992px) {
	footer .flaticon:before{ font-size: 5vw; }
	.cupom-container{margin-right: 0px; margin-bottom: 30px;}
	.cupom-container img{ margin: 0px auto; }
}
/* END BUG FIX ON GOOGLE NEXUS 7 */

@media (min-width:1200px){
	footer .flaticon:before{ font-size: 50px; }
}

@media (min-width: 992px) and (max-width: 1199px) {
	footer .flaticon:before{ font-size: 5vw; }
	.cupom-container{ margin-right: 0px; margin-bottom: 30px; }
	.cupom-container img{ margin: 0px auto; }
}

@media (min-width: 768px) and (max-width: 1024px) {
	.cupom-container{margin-right: 0px; margin-bottom: 30px;}
	.cupom-container img{ margin: 0px auto; }
}

@media (max-width: 480px) {
	footer .footer-content { padding: 35px 0 15px; }
	footer .flaticon:before{ font-size: 10vw; }
	.cupom-container{margin-right: 0px; margin-bottom: 30px;}
	.cupom-container img{ margin: 0px auto; }
}