.form-group.file .fileContent{
	background-color: #F4F4F4;
	border: 1px dashed #CCC;
	padding-top: 15px;
}

.form-group.file .fileContent .capa{
	float: left;
}

.form-group.file .fileContent .capa i{
	font-size: 180px;
	color: #367FA9;
}

.form-group.file .fileContent .capa p{
	color: #367FA9;	
}

.form-group.file .fileContent .nCapa i{
	font-size: 80px;
}

.form-group.file .fileContent .capa output {
	width: 180px;
	cursor: pointer;
}

.form-group.file .fileContent .nCapa output {
	width: 80px;
	cursor: pointer;
}

.form-group.file .fileContent output:hover{
	padding: 1px;
}

.imagem_capa{
	width: 140px;
}

.imagem_nCapa{
	width: 80px;
}

#map{
	width: 100%;
	height: 400px;
}

legend.scheduler-border{
	color: #367FA9;
}

input.error, select.error{
	border: 1px solid #f4543c;
}

.form-group{
	position: relative;
}

.bootstrap-tagsinput{
	width: 100%;
}