<?php if ($this->pageCount > 1): ?>
<div class="paginator">
    <?php if($this->current != 1): ?>
        <a href="<?= $this->url(null, array('page' => 1), true) ?>" class="btn btn-primary">&laquo;</a>
    <?php else: ?>
        <a href="<?= $this->url(null, array('page' => 1), true) ?>" class="btn  btn-primary disabled">&laquo;</a>
    <?php endif;?>

    <!-- Previous page link -->
    <?php if (isset($this->previous)): ?>
        <a href="<?= $this->url(null, array('page' => $this->previous), true) ?>" class="btn btn-primary">&lt;</a>
    <?php else: ?>
        <a href="javascript:void(0);" class="btn btn-primary disabled">&lt;</a>
    <?php endif; ?>

    <!-- Numbered page links -->
    <?php
        echo "<span>";
        foreach ($this->pagesInRange as $page):
    ?>

        <?php if ($page != $this->current): ?>  
            <a href="<?= $this->url(null, array('page' => $page), true) ?>" class="btn btn-primary "><?php echo $page; ?></a>
        <?php else: ?>
            <a href="javascript:void(0);" class="btn btn-primary disabled"><?php echo $page; ?></a>
        <?php endif; ?>
    <?php
        endforeach;
        echo "</span>"
    ?>
    <!-- Next page link -->

    <?php if (isset($this->next)): ?>
        <a href="<?= $this->url(null, array('page' => $this->next), true) ?>" class="btn btn-primary">&gt;</a>
    <?php else: ?>
        <a href="javascript:void(0);" class="btn btn-primary disabled">&gt;</a>
    <?php endif; ?>

    <?php if($this->current != $this->pageCount): ?>
        <a href="<?= $this->url(null, array('page' => $this->pageCount), true) ?>" class="btn btn-primary">&raquo;</a>
    <?php else: ?>
        <a href="<?= $this->url(null, array('page' => 1), true) ?>" class="btn btn-primary disabled">&raquo;</a>
    <?php endif;?>

  </ul>
  <span class="info"><?php echo $this->current;?> de <?php echo $this->pageCount;?></span>
</div>
<?php endif; ?>