<div class="pace-content">
	<div class="col-xs-6 hidden-sm hidden-xs" style="position: relative;top: 20%;">
		<img src=<?php echo $this->serverUrl("/img/site/pre-loader/temprafesta-geek.png");?> alt="TEM PRA FESTA" title="Estamos carregando o site, aguarde..." />
	</div>
	<div class="col-xs-6 hidden-sm hidden-xs" style="position: absolute;top: 50%;right: 0px;">
		<h1 style="font-family: 'Roboto', sans-serif;text-align:center;font-weight:normal;">AGUARDE, CARREGANDO...</h1>
	</div>
</div>