@font-face {
	font-family: "Flaticon";
	src: url("../../fonts/flaticon/flaticon.eot");
	src: url("../../fonts/flaticon/flaticon.eot#iefix") format("embedded-opentype"),
	url("../../fonts/flaticon/flaticon.woff") format("woff"),
	url("../../fonts/flaticon/flaticon.ttf") format("truetype"),
	url("../../fonts/flaticon/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}.flaticon-bar1:before {
	content: "\e000";
}
.flaticon-bottle40:before {
	content: "\e001";
}
.flaticon-call37:before {
	content: "\e002";
}
.flaticon-carnival26:before {
	content: "\e003";
}
.flaticon-chinese15:before {
	content: "\e004";
}
.flaticon-christmas260:before {
	content: "\e005";
}
.flaticon-christmas86:before {
	content: "\e006";
}
.flaticon-cooking15:before {
	content: "\e007";
}
.flaticon-couple17:before {
	content: "\e008";
}
.flaticon-cup4:before {
	content: "\e009";
}
.flaticon-cup50:before {
	content: "\e00a";
}
.flaticon-easter9:before {
	content: "\e00b";
}
.flaticon-food20:before {
	content: "\e00c";
}
.flaticon-glass35:before {
	content: "\e00d";
}
.flaticon-halloween87:before {
	content: "\e00e";
}
.flaticon-house170:before {
	content: "\e00f";
}
.flaticon-location1:before {
	content: "\e010";
}
.flaticon-lollipop3:before {
	content: "\e011";
}
.flaticon-lollipop4:before {
	content: "\e012";
}
.flaticon-map32:before {
	content: "\e013";
}
.flaticon-plate7:before {
	content: "\e014";
}
.flaticon-restaurant4:before {
	content: "\e015";
}
.flaticon-stars:before {
	content: "\e016";
}
.flaticon-tray21:before {
	content: "\e017";
}
