<?php $URLSite = $this->serverUrl("/user/register?tour=true"); ?>

<section id="main">
	<div class="text-heading">
		<h1 class="text-center">Por que anunciar no Tem Pra Festa?</h1>
		<h2 class="text-center">Descubra as vantagens que podem ajudar</h2>
	</div>
</section>

<section id="benefits" class="text-center">
	<div class="container">
        <ul class="nav nav-tabs alt">
            <li class="active"><a href="#product-tab" data-toggle="tab">PRODUTO</a></li>
            <li><a href="#service-tab" data-toggle="tab">SERVIÇO</a></li>
            <li><a href="#business-tab" data-toggle="tab">EMPRESA</a></li>
        </ul>

        <div class="tab-content alt">
			<div class="tab-pane active" id="product-tab">
				<div class="section-content row">
					<div class="col-sm-6 animated fadeInLeft visible">
						<div class="col-lg-12">
							<div class="col-lg-6 col-md-6 col-xs-6 hidden-xs thumb tpfPosition tpfPositionTop">
		                		<img src=<?php echo '"'.$this->serverUrl("/img/marketing/landing-page/conheca/tem-pra-festa-personagem-1.png").'"'; ?> class="img-responsive tpfGeek animated infinite pulse" alt="Personagem Tem Pra Festa">
	                		</div>
	                		<div class="col-xs-6 thumb hidden-sm hiden-md hidden-lg">
		                		<img src=<?php echo '"'.$this->serverUrl("/img/marketing/landing-page/conheca/tem-pra-festa-personagem-mobile-1.png").'"'; ?> class="img-responsive" alt="Personagem Tem Pra Festa">
	                		</div>
							<div class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 col-xs-6 thumb">
		                		<img src=<?php echo '"'.$this->serverUrl("/img/marketing/landing-page/conheca/tem-pra-festa-doces.png").'"'; ?> class="img-responsive" alt="Doces">
	                		</div>
						</div>
						<div class="col-lg-12">
							<div class="col-lg-6 col-md-6 col-xs-6 thumb">
		                		<img src=<?php echo '"'.$this->serverUrl("/img/marketing/landing-page/conheca/tem-pra-festa-bebida.png").'"'; ?> class="img-responsive" alt="Bebidas">
	                		</div>
	                		<div class="col-lg-6 col-md-6 col-xs-6 thumb">
		                		<img src=<?php echo '"'.$this->serverUrl("/img/marketing/landing-page/conheca/tem-pra-festa-baloes.png").'"'; ?> class="img-responsive" alt="Balões">
	                		</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center animated fadeInRight visible">
						<article>
							<h3>SEU PRODUTO EM <span class="highlight">EVIDÊNCIA</span></h3>
							<div class="sub-title">Fácil de encontrar, fácil de ser visto...</div>
							<p>O Tem Pra Festa possui uma busca de produto e serviço fácil e simplificada, focada no interesse do cliente, fazendo com que o interesse do usuário seja encontrado.</p>
							<p>Transforme o seu produto no interesse do usuário, é só clicar no botão abaixo.</p>
							<br>
							<a href=<?php echo '"'.$URLSite.'"'; ?> class="btn btn-secondary animated bounceIn visible">TRANSFORMAR O MEU PRODUTO<br>EM INTERESSE AGORA</a>
						</article>
					</div>
				</div>
            </div>

            <div class="tab-pane" id="service-tab">
	           <div class="section-content row">
	           		<div class="col-sm-6 pull-right animated fadeInRight visible">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-6 col-md-6 col-xs-6 thumb">
		                		<img src=<?php echo '"'.$this->serverUrl("/img/marketing/landing-page/conheca/tem-pra-festa-mao-na-massa.png").'"'; ?> class="img-responsive" alt="Mão na Massa">
	                		</div>
	                		<div class="col-xs-6 thumb hidden-sm hiden-md hidden-lg">
		                		<img src=<?php echo '"'.$this->serverUrl("/img/marketing/landing-page/conheca/tem-pra-festa-personagem-mobile-2.png").'"'; ?> class="img-responsive" alt="Personagem Tem Pra Festa">
	                		</div>
	                		<div class="col-lg-6 col-md-6 col-xs-6 hidden-xs thumb tpfPosition tpfPositionTop tpfPositionRight">
		                		<img src=<?php echo '"'.$this->serverUrl("/img/marketing/landing-page/conheca/tem-pra-festa-personagem-2.png").'"'; ?> class="img-responsive tpfGeek animated infinite pulse" alt="Personagem Tem Pra Festa">
	                		</div>
						</div>
						<div class="col-lg-12">
							<div class="col-lg-6 col-md-6 col-xs-6 thumb">
		                		<img src=<?php echo '"'.$this->serverUrl("/img/marketing/landing-page/conheca/tem-pra-festa-musico.png").'"'; ?> class="img-responsive" alt="Músico">
	                		</div>
	                		<div class="col-lg-6 col-md-6 col-xs-6 thumb">
		                		<img src=<?php echo '"'.$this->serverUrl("/img/marketing/landing-page/conheca/tem-pra-festa-fabrica-chocolate.png").'"'; ?> class="img-responsive" alt="Fábrica de Chocolate">
	                		</div>
						</div>
					</div>
	           		<div class="col-sm-6 text-center animated fadeInLeft visible">
						<br><br>
						<article>
							<h3>SEU SERVIÇO AO <span class="highlight">ALCANCE</span> DE TODOS</h3>
							<div class="sub-title">Alcançamos o seu cliente por você, não importa onde ele esteja</div>
							<p>O Tem Pra Festa utiliza <em>geolocation</em> combinado ao <em>gamefication</em>, que é uma poderosa aliada para engajar e fidelizar o cliente, independente de sua localização.</p>
							<p>Anuncie para o seu cliente seja lá onde ele estiver, é só clicar no botão abaixo.</p>
							<br>
							<a href=<?php echo '"'.$URLSite.'"'; ?> class="btn btn-secondary animated bounceIn visible">ALCANÇAR MEUS CLIENTES AGORA</a>
						</article>
					</div>
				</div>
            </div>

            <div class="tab-pane" id="business-tab">
				<div class="section-content row">                
					<div class="col-sm-6 pull-left animated fadeInLeft visible">
						<div class="col-lg-12">
							<div class="col-lg-6 col-md-6 col-xs-6 hidden-xs thumb tpfPosition tpfPositionTop">
		                		<img src=<?php echo '"'.$this->serverUrl("/img/marketing/landing-page/conheca/tem-pra-festa-personagem-1.png").'"'; ?> class="img-responsive tpfGeek animated infinite pulse" alt="process 3">
	                		</div>
	                		<div class="col-xs-6 thumb hidden-sm hiden-md hidden-lg">
		                		<img src=<?php echo '"'.$this->serverUrl("/img/marketing/landing-page/conheca/tem-pra-festa-personagem-mobile-1.png").'"'; ?> class="img-responsive" alt="Personagem Tem Pra Festa">
	                		</div>
							<div class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 col-xs-6 thumb">
		                		<img src=<?php echo '"'.$this->serverUrl("/img/marketing/landing-page/conheca/tem-pra-festa-decoradora.png").'"'; ?> class="img-responsive" alt="Decoradora">
	                		</div>
						</div>
						<div class="col-lg-12">
							<div class="col-lg-6 col-md-6 col-xs-6 thumb">
		                		<img src=<?php echo '"'.$this->serverUrl("/img/marketing/landing-page/conheca/tem-pra-festa-encontrei.png").'"'; ?> class="img-responsive" alt="Encontrei">
	                		</div>
	                		<div class="col-lg-6 col-md-6 col-xs-6 thumb">
		                		<img src=<?php echo '"'.$this->serverUrl("/img/marketing/landing-page/conheca/tem-pra-festa-cozinha.png").'"'; ?> class="img-responsive" alt="Cozinha">
	                		</div>
						</div>
					</div>
					<div class="col-sm-6 text-center animated fadeInRight visible">
						<br><br>
						<article>
							<h3><span class="highlight">IMPULSIONANDO</span> O SEU NEGÓCIO</h3>
							<div class="sub-title">Disponibilizamos que as empresas tenham uma<br>melhor presença digital diante de seus clientes</div>
							<p>O Tem Pra Festa disponibiliza meios para que um empreendedor de micro, pequeno, médio ou grande porte, possa vender, divulgar e até mesmo se relacionar com seu público alvo. Ajudando a elevar e impulsionar o seu negócio à um próximo nível.</p>
							<p>Não perca tempo. Anuncie no Tem Pra Festa e impulsione a sua empresa agora mesmo, é só clicar no botão abaixo.</p>
						</article>
						<br>
						<a href=<?php echo '"'.$URLSite.'"'; ?> class="btn btn-secondary animated bounceIn visible">IMPULSIONAR A MINHA<br>EMPRESA AGORA</a>
					</div>
				</div>
			</div>	
		</div>
    </div>
</section>

<?php
	echo $this->partial("partials/view/landing-page/conheca/main-features");
	echo $this->partial("partials/view/landing-page/conheca/list-features");
?>

<section id="plans" class="text-center">
	<div class="container-fluid">
        <div class="section-header animated fadeInDown visible">
            <h2>PLANOS DE <span class="highlight">ANÚNCIOS</span></h2>
            <div class="sub-heading">
                Selecionamos as melhores vantagens e transformamos
                <br>em planos de acordo com a sua necessidade
            </div>
        </div>
        <div class="section-content row">
            <div class="col-sm-4">
                <div class="package-column hiding">
                    <div class="package-title">NORMAL</div>
                    <div class="package-price">
                        <div class="price ff90">GRÁTIS</div>
                        <div class="period">30 dias</div>
                    </div>
                    <div class="package-detail">
                        <ul class="list-unstyled">
                            <li>Divulgação de anúncio <strong>Normal</strong></li>
                            <li>Tráfego de anúncio <strong>Ilimitado</strong></li>
                            <li>Divulgar até <strong>7 Imagens</strong></li>
                            <li>Acesso limitado aos <strong>Dados Estatísticos</strong></li>
                            <li>Receba <strong>Notificações de Interesse</strong></li>
                        </ul>
                        <div class="notify"></div>
                        <a href=<?php echo '"'.$URLSite.'"'; ?> class="btn btn-secondary btn-block">COMEÇAR AGORA</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="package-column hiding">
                    <div class="package-title">DESTAQUE</div>
                    <div class="package-price">
                        <div class="price"><span class="currency">R$</span>15</div>
                        <div class="period">30 dias</div>
                    </div>
                    <div class="package-detail">
                        <ul class="list-unstyled">
                            <li>Todas as <strong>Vantagens</strong> do plano Grátis</li>
                            <li><strong>Melhor Presença</strong> digital</li>
                            <li>Receba <strong>Dicas</strong> ao seu anúncio</li>
                            <li>Acesso completo aos <strong>Dados Estatísticos</strong></li>
                            <li><strong>Melhor Interesse</strong></li>
                        </ul>
                        <div class="notify"></div>
                        <a href=<?php echo '"'.$URLSite.'"'; ?> class="btn btn-secondary btn-block">COMEÇAR AGORA</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="package-column hiding">
                    <div class="package-title">EMPRESA</div>
                    <div class="package-price">
                        <div class="price"><span class="currency">R$</span>20</div>
                        <div class="period">30 dias</div>
                    </div>
                    <div class="package-detail">
                        <ul class="list-unstyled">
                            <li>As <strong>Vantagens</strong> do plano Destaque</li>
                            <li><strong>Presença Empresarial</strong></li>
                            <li><strong>Divulgue</strong> com o nome da sua empresa</li>
                            <li><strong>Dados Estatísticos Empresariais</strong></li>
                            <li><strong>Interesse voltado a Empresa</strong></li>
                        </ul>
                        <div class="notify">
                        	<em>Os anúncios do plano Grátis podem ser aproveitados ao plano Empresa, vinculando os mesmos para a empresa divulgada.</em>
                        </div>
                        <a href=<?php echo '"'.$URLSite.'"'; ?> class="btn btn-secondary btn-block">COMEÇAR AGORA</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!--
<section id="categories">
</section>-->