.selected{
	background: none repeat scroll 0% 0% #DCE9F9 !important;
}

.bOverlay{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	z-index: 9000;
	margin-left: -25%;
}

#assinanteAcao{
	display: none;
}

#fecharAcaoAssinante{
	display: none;
}

.form-group.file output {
    width: 165px;
}

.form-group.file .csv{
  font-size: 145px;
}