<?php echo $this->doctype(); ?>

<!--[if IE 7]>
<html class="ie ie7" lang="pt-BR">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="pt-BR">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="pt-BR">
<!--<![endif]-->
    <head>
        <meta charset="UTF-8">
        <?php

            if($this->layout()->title != ""){
                echo "<title>".$this->layout()->title." | Temprafesta</title>";
            } else{
                echo $this->headTitle();
            }

            echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendName('keywords', "festa,aniversario,casamento,evento")
            ->appendName('description', "Venda mais, divulgue e encontre tudo para festas e eventos...")
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge');
        ?>

        <link rel="profile" href="http://gmpg.org/xfn/11">
        <?php
            $this->headLink(array(
                    'rel'  => 'shortcut icon',
                    'type' => 'image/x-icon',
                    'href' =>      $this->serverUrl() . '/img/favicon.ico'
                )
            )
                ->prependStylesheet($this->serverUrl() . "/css/theme/flaticon.css")
                ->prependStylesheet($this->serverUrl() . "/css/theme/toastr/toastr.min.css")
                ->prependStylesheet($this->serverUrl() . "/css/theme/site/site.css");
        ?>

        <?php echo $this->CssLoader(); ?>

        <link rel="stylesheet" href=<?php echo $this->serverUrl() . '/css/theme/pace/themes/blue/pace-theme-center-circle.css'; ?> type="text/css">

        <link rel="stylesheet" id="layerslider-css" href=<?php echo $this->serverUrl()."/css/theme/site/layerslider.css"; ?> type="text/css" media="all">

        <link rel="stylesheet" id="ls-google-fonts-css" href="http://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900|Open+Sans:300|Indie+Flower:regular|Oswald:300,regular,700&amp;subset=latin,latin-ext" type="text/css" media="all">
        <link rel="stylesheet" id="classiads-fonts-css" href="//fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C700%2C300italic%2C400italic%2C700italic%257CBitter%3A400%2C700&amp;subset=latin%2Clatin-ext" type="text/css" media="all">

        <link rel="stylesheet" id="genericons-css" href=<?php echo $this->serverUrl()."/fonts/genericons.css"; ?> type="text/css" media="all">

        <link rel="stylesheet" id="boostrat-style-css" href=<?php echo $this->serverUrl()."/css/theme/site/bootstrap.css"; ?> type="text/css" media="all">

        <link rel="stylesheet" id="awesomefont-style-css" href=<?php echo $this->serverUrl() . '/css/theme/font-awesome.min.css'; ?> type="text/css" media="all">

        <link rel="stylesheet" id="boostrat-chosen-css" href=<?php echo $this->serverUrl()."/css/theme/site/chosen.min.css"; ?> type="text/css" media="all">

        <!--<link rel="stylesheet" id="flexslider-style-css" href="http://demo.designinvento.net/classiads/wp-content/themes/classiads/css/flexslider.css?ver=1" type="text/css" media="all">-->

        <link rel="stylesheet" id="main-style-custom-css" href=<?php echo $this->serverUrl()."/css/theme/site/custom.css"; ?> type="text/css" media="all">

        <link rel="stylesheet" id="main-horizental-css" href=<?php echo $this->serverUrl()."/css/theme/site/horizontal.css"; ?> type="text/css" media="all">

        <link rel="stylesheet" id="boostrat-style-responsive-css" href=<?php echo $this->serverUrl()."/css/theme/site/bootstrap-responsive.css"; ?> type="text/css" media="all">

        <!--[if lt IE 9]>
        <link rel='stylesheet' id='classiads-ie-css'  href="<?php echo $this->serverUrl().'/css/theme/ie.css';?>" type='text/css' media='all' />
        <![endif]-->

        <link rel="stylesheet" id="redux-google-fonts-css" href="//fonts.googleapis.com/css?family=Roboto+Slab:700%7CRaleway:800,700,600%7CRoboto:300%7CLato&amp;subset=latin&amp;v=1413577460" type="text/css" media="all">
        <style type="text/css" class="redux-typography">h1, h1 a, h1 span{font-family:Roboto Slab;font-weight:700;font-style:normal;font-size:38.5px;line-height:40px;color:#3f3d59;}h2, h2 a, h2 span{font-family:Raleway;font-weight:800;font-style:normal;font-size:31.5px;line-height:40px;color:#444444;}h3, h3 a, h3 span{font-family:Raleway;font-weight:700;font-style:normal;font-size:18px;line-height:40px;color:#444;}h4, h4 a, h4 span{font-family:Raleway;font-weight:700;font-style:normal;font-size:18px;line-height:40px;color:#444444;}h5, h5 a, h5 span{font-family:Roboto;font-weight:300;font-style:normal;font-size:14px;line-height:40px;color:#484848;}h6, h6 a, h6 span{font-family:Roboto;font-weight:300;font-style:normal;font-size:11.9px;line-height:40px;color:#484848;}.ad-detail-half-box .ad-detail-info,span.ad-page-price,html, body, div, applet, object, iframe p, blockquote, a, abbr, acronym, address, big, cite, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{font-family:Lato;font-weight:normal;font-style:normal;font-size:14px;line-height:24px;color:#888888;}.single-slider .single-ad-price,.ad-title h2 a,.ad-title h2,.ad-title .ad-page-price a,.widget-ad-list-content-title a,.ad-detail-info .description,.post-title a,.three-tabs li a{font-family:Raleway;font-weight:600;font-style:normal;font-size:14px;line-height:24px;color:#444;}</style>
        <style type="text/css">h3,.detail-cat a { color: #444444; } a, #navbar .main_menu .menu li.current_page_item .sub-menu a:hover, #navbar .main_menu .menu li.current_page_item .children a:hover, #navbar .main_menu .menu li.current-menu-item  .children a:hover, .main_menu ul li ul.children li a:hover, .main_menu ul li ul.sub-menu li a:hover, .main_menu ul li ul.children li.current_page_item a, .main_menu ul li ul.children li.current-menu-item a, .main_menu .menu li.current_page_item .sub-menu a:hover, .main_menu .menu li.current-menu-item  .sub-menu a:hover, .main_menu .menu li.current_page_item .children a:hover, .main_menu .menu li.current-menu-item  .children a:hover, ul.custom-tabs li a.current, h4.trigger:hover, h4.trigger.active:hover, h4.trigger.active,#navbar .main_menu .menu li .sub-menu li.current_page_item a, #navbar .main_menu .menu li .children li.current_page_item a, #navbar .main_menu .menu li .children li.current_page_item a:hover, #navbar .main_menu .menu li .children li .current-menu-item a:hover { color: #666666; } .quicktabs-tabs .grid-feat-ad-style a:hover, .quicktabs-tabs .list-feat-ad-style a:hover, .quicktabs-tabs .grid-feat-ad-style a.current, .quicktabs-tabs .list-feat-ad-style a.current { background-color: #666666; } .woocommerce ul.products li.product a:hover img, .woocommerce-page ul.products li.product a:hover img, .woocommerce #content div.product div.images a:hover img, .woocommerce div.product div.images a:hover img, .woocommerce-page #content div.product div.images a:hover img, .woocommerce-page div.product div.images a:hover img { border: 5px solid #666666; } #contact-form #contactName:focus, #contact-form #author:focus, #contact-form #email:focus, #contact-form #url:focus, #contact-form #subject:focus, #contact-form #commentsText:focus, #contact-form #humanTest:focus { border: 1px solid #666666; } .my-ad-details span a:hover,.my-ad-details span.my-ad-a:hover i,.my-ad-details a.my-ad-title:hover,.my-ad-details span a:hover,.main_menu > ul > li.current-menu-item > a,body.category .custom-widget .cat-widget-content li:hover span,body.category .custom-widget .cat-widget-content ul li:hover a,.custom-cat-widget .custom-widget .cat-widget-content li:hover span,.custom-cat-widget .custom-widget .cat-widget-content ul li:hover a,.marker-info-price,.author-avatar-edit-post .button-ag span.button-inner,.ad-title .ad-page-price a,.ad-page-price,.site-info a,.author-btn .button-ag span,.ads-tags a:hover,#ads-homepage ul.tabs li a:hover, #ads-homepage ul.tabs li a.current,.category-content li:hover a,.category-content li:hover span,.ad-box .add-price,.geo-location-button .on .fa, .geo-location-button .fa:hover,footer .jw-twitter li a,.publish-ad-button.login-page p a, a:hover, a:active, .main_menu > ul >  li:hover > a, .main_menu .menu li.current_page_item > a, .main_menu .menu li.current-menu-item > a, .main_menu ul li ul.children li:hover a, .main_menu ul li ul.sub-menu li:hover a { color: #870306 ; } .callout-inner h4 span,section#locations .location a:hover,section#locations .location a:hover i,.ad-title a:hover,.top-email,.custom-cat-widget .custom-widget .cat-widget-content ul li:hover i,footer .block-content .menu-footer-container ul li a:hover, #register-login-block-top li.first a:hover,body.category .custom-widget .cat-widget-content li:hover .category-icon-box i{ color: #870306 !important; } .callout .view-more-btn:hover .more-btn-inner,.marker-content .close, #contact-ad-owner .close,.backtop:hover,#register-login-block-top li.last:hover,.author-profile-ad-details .button-ag:hover,h4.trigger.active,.login-title,.single-slider .single-ad-price,.bottom-social-icons i:hover,.detail-cat .category-icon .category-icon-box,.ad-box:hover .post-title-cat,.view-more-btn:hover .more-btn-inner,.category-box:hover .cat-title a,.h2-seprator,.h3-seprator,.h3-seprator-sidebar,.tagcloud a:hover, .pagination span.current,.pagination a:hover,#advanced-search-widget-version2 .views-exposed-widget .btn-primary:hover,.top-social-icons a:hover { background-color: #870306 !important; } .main_menu > ul > li.current-menu-item > a,blockquote,.main_menu ul li ul.children li:first-child, .main_menu ul li ul.sub-menu li:first-child,.tagcloud a:hover,.ad-box:hover .post-title-cat,.main_menu > ul > li > a:hover,#register-login-block-top .login a:hover,.pagination span.current,.pagination a:hover,#carousel-prev:hover,#carousel-next:hover, #advanced-search-widget-version2 .views-exposed-widget .btn-primary:hover{ border-color:#870306; } .marker-info-link a,#new-post a.btn, input[type='submit'], .woocommerce span.onsale, .woocommerce-page span.onsale, .products li a.button, .woocommerce div.product form.cart .button, .woocommerce-page div.product form.cart .button, .woocommerce #content div.product form.cart .button, .woocommerce-page #content div.product form.cart .button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, #top-cart .button, form.cart .button-alt, .woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .bbp-submit-wrapper button.button, .woocommerce .quantity .minus, .woocommerce-page .quantity .minus, .woocommerce #content .quantity .minus, .woocommerce-page #content .quantity .minus, .woocommerce .quantity .plus, .woocommerce-page .quantity .plus, .woocommerce #content .quantity .plus, .woocommerce-page #content .quantity .plus, form.cart .plus, form.cart .minus, .product-quantity .plus, .product-quantity .minus, .woocommerce .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page #content .quantity input.qty, form.cart input.qty, form.cart input.qty, .product-quantity input.qty, .pricing-plans a.btn, #edit-submit, #navbar .btn-navbar { background: #444444!important; }  .woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price { color: #444444; } .ads-tags a:hosver { background: #ecf0f1!important; color: #444444!important; } .marker-info-link a:hover,#new-post a.btn:hover, input[type='submit']:hover, .products li a.button:hover, .woocommerce div.product form.cart .button:hover, .woocommerce-page div.product form.cart .button:hover, .woocommerce #content div.product form.cart .button:hover, .woocommerce-page #content div.product form.cart .button:hover, .woocommerce button.button:hover, .woocommerce-page button.button:hover, .woocommerce input.button:hover, .woocommerce-page input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce-page #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page #content input.button:hover, #top-cart .button:hover, form.cart .button-alt:hover, .woocommerce #content input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce-page #content input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, .bbp-submit-wrapper button.button:hover, .woocommerce .quantity .minus:hover, .woocommerce-page .quantity .minus:hover, .woocommerce #content .quantity .minus:hover, .woocommerce-page #content .quantity .minus:hover,.woocommerce .quantity .plus:hover, .woocommerce-page .quantity .plus:hover, .woocommerce #content .quantity .plus:hover, .woocommerce-page #content .quantity .plus:hover, form.cart .plus:hover, form.cart .minus:hover, .product-quantity .plus:hover, .product-quantity .minus:hover, .pricing-plans a.btn:hover, #edit-submit:hover, #navbar .btn-navbar:hover { background: #870306!important; } </style>

        <!--[if lt IE 9]><script type="text/javascript" src="<?php echo $this->serverUrl();?>/js/html5shiv.js"></script><![endif]-->
        <script type="text/javascript" src=<?php echo $this->serverUrl()."/js/jquery.min.js";?>></script>
    </head>
    <body>
        <section id="top-menu-block">
            <div class="container">
                <section id="register-login-block-top">
                    <?php echo $this->partial("partials/view/menu/main"); ?>
                </section>

                <div class="top-call">
                    <i class="fa fa-envelope"></i>
                    <span class="call-head">E-mail de contato:</span>
                    <span class="call-number top-email">suporte@temprafesta.com</span>
                </div>
            </div>
        </section>

        <header id="navbar">
            <div class="container">
            <?php echo $this->partial("partials/view/menu/navigation"); ?>
            </div>
        </header>
        <?php echo $this->content; ?>
        <?php echo $this->partial("partials/view/footer/footer"); ?>

        <script defer type="text/javascript" src=<?php echo $this->serverUrl()."/js/jquery-migrate.min.js";?>></script>
        <script defer type="text/javascript" src=<?php echo $this->serverUrl()."/js/theme/jquery.validate.min.js";?>></script>
        <script defer type="text/javascript" src=<?php echo $this->serverUrl()."/js/theme/site/horizental/horizontal.js";?>></script>
        <script defer type="text/javascript" src=<?php echo $this->serverUrl()."/js/theme/site/horizental/sly.js";?>></script>
        <script defer type="text/javascript" src=<?php echo $this->serverUrl()."/js/theme/site/functions.js";?>></script>
        <script defer type="text/javascript" src=<?php echo $this->serverUrl()."/js/theme/site/menu.js";?>></script>
        <script defer type="text/javascript" src=<?php echo $this->serverUrl()."/js/theme/site/bootstrap.min.js";?>></script>
        <script defer type="text/javascript" src=<?php echo $this->serverUrl()."/js/theme/site/chosen.jquery.min.js";?>></script>
        <script defer type="text/javascript" src=<?php echo $this->serverUrl()."/js/theme/site/jquery.isotope.min.js";?>></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1P5iN6VhNNF9hfma6tRKa22h8kTTCSBE"></script>
        <script defer type="text/javascript" src=<?php echo $this->serverUrl()."/js/theme/site/gmap3.min.js";?>></script>
        <script defer type="text/javascript" src=<?php echo $this->serverUrl()."/js/theme/site/gmap3.infobox.min.js";?>></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
        <script defer type="text/javascript" src=<?php echo $this->serverUrl()."/js/theme/site/jquery.tools.min.js";?>></script>
        <script defer type="text/javascript" src=<?php echo $this->serverUrl()."/js/theme/site/modernizr.touch.js";?>></script>
        <script defer type="text/javascript" src=<?php echo $this->serverUrl()."/js/theme/site/jquery.ui.touch-punch.min.js";?>></script>
        <script defer type="text/javascript" src=<?php echo $this->serverUrl()."/js/theme/site/jquery.carouFredSel-6.2.1-packed.js";?>></script>
        <script defer type="text/javascript" src=<?php echo $this->serverUrl()."/js/theme/site/custom.js";?>></script>
        <script defer type="text/javascript" src=<?php echo $this->serverUrl()."/js/theme/plugins/duismag/utils.js";?>></script>
        <script defer type="text/javascript" src=<?php echo $this->serverUrl()."/js/theme/plugins/toastr/toastr.min.js";?>></script>
        <script defer type="text/javascript" src=<?php echo $this->serverUrl()."/js/theme/site/site.js";?>></script>
        <script type="text/javascript" src=<?php echo $this->serverUrl()."/js/theme/plugins/pace/pace.min.js";?>></script>
        <script>
            Pace.options = {
              elements: false,
              restartOnPushState: false,
              restartOnRequestAfter: false
            }

            Pace.track(function(){
                jQuery("div.pace-content").show();
                jQuery("body").css("opacity", 1);
            });

            Pace.on("done", function(){
                jQuery("div.pace-content").slideUp(600);
            });
        </script>

        <?php echo $this->JsLoader(); ?>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-60215595-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>
