<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php
        
            if($this->layout()->title != ""){
                echo "<title>Temprafesta | ". $this->layout()->title."</title>";
            } else{
                echo $this->headTitle();
            }

            echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no');

            $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' =>      $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . "/css/theme/flaticon.css")
                        ->prependStylesheet($this->basePath() . "/css/theme/toastr/toastr.min.css")
                        ->prependStylesheet($this->basePath() . '/css/theme/AdminLTE.css')
                        ->prependStylesheet($this->basePath() . '/css/theme/ionicons.min.css')
                        ->prependStylesheet($this->basePath() . '/css/theme/font-awesome.min.css')
                        ->prependStylesheet($this->basePath() . '/css/theme/bootstrap.min.css')
                        ->prependStylesheet($this->basePath() . '/css/theme/bootstrap-dialog.css');

            echo $this->CssLoader();

        ?>

    </head>
    <body class="skin-blue">
         <!-- header logo: style can be found in header.less -->
        <?php echo $this->partial('partials/header', array('userSession' => $this->layout()->userSession)); ?>
        <?php //echo $this->layout()->header; ?>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <?php echo $this->partial('partials/sidebar'); ?>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">                
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        <?php echo $this->layout()->titlePage; ?>
                        <small><?php echo $this->layout()->subTitlePage; ?></small>
                    </h1>
                    <!--<ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                        <li class="active">Blank page</li>
                    </ol>-->
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12 marginBotoom10">
                            <div class="col-md-6">
                                <a href="/system/classificado/normal" class="btn btn-success btn-flat">PUBLIQUE SEU ANÚNCIO GRÁTIS!</a>
                            </div>
                            <div class="col-md-6">
                                <a href="/system/classificado/empresa" class="btn btn-danger btn-flat">DIVUGUE SUA EMPRESA!</a>
                            </div>
                        </div>
                    </div>
                    <?php echo $this->content; ?>

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->


        <?php
            // JS Scripts
            echo $this->headScript()
                                    ->prependFile($this->serverUrl() . '/js/theme/plugins/duismag/utils.js')
                                    ->prependFile($this->serverUrl() . '/js/theme/plugins/duismag/dialog.js')
                                    ->prependFile($this->serverUrl() . '/js/theme/plugins/duismag/handleFileSelected.js')
                                    ->prependFile($this->serverUrl() . '/js/theme/plugins/duismag/message.js')
                                    ->prependFile($this->serverUrl() . '/js/theme/plugins/toastr/toastr.min.js')
                                    ->prependFile($this->serverUrl() . '/js/theme/plugins/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                                    ->prependFile($this->serverUrl() . '/js/theme/plugins/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
                                    ->prependFile($this->serverUrl() . '/js/theme/plugins/bootstrap-dialog.js')
                                    ->prependFile($this->serverUrl() . '/js/theme/AdminLTE/app.js')
                                    ->prependFile($this->serverUrl() . '/js/theme/bootstrap.min.js')
                                    ->prependFile($this->serverUrl() . '/js/theme/additional-methods.min.js')
                                    ->prependFile($this->serverUrl() . '/js/theme/jquery.validate.min.js')
                                    ->prependFile($this->serverUrl() . '/js/theme/framework.js');
            echo $this->JsLoader();
        ?>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-60215595-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>
