<?php echo $this->doctype(); ?>
<html class="bg-black">
    <head>
        <meta charset="UTF-8">
        <?php
        	echo $this->headTitle('Temprafesta '. $this->translate('Login'))->setSeparator(' - ')->setAutoEscape(false);

        	echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no');

        	//CSS
        	echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' =>      $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/theme/AdminLTE.css')
                        ->prependStylesheet($this->basePath() . '/css/theme/font-awesome.min.css')
                        ->prependStylesheet($this->basePath() . '/css/theme/bootstrap.min.css');

            // JS Scripts
            echo $this->headScript()->prependFile($this->basePath() . '/js/theme/plugins/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                                    ->prependFile($this->basePath() . '/js/theme/plugins/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',));
        ?>
    </head>
    <body class="bg-black">

        <div class="form-box" id="login-box">
            <?php echo $this->messages(); ?>
            <div class="header">Temprafesta</div>

            <?php echo $this->content; ?>

            <div class="margin text-center">
                <span>Login utilizando as redes sociais</span>
                <br/>
                <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
                <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
                <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>

            </div>
        </div>

        <?php
        	// JS Scripts
            echo $this->headScript()->prependFile($this->basePath() . '/js/theme/bootstrap.min.js')
                                    ->prependFile($this->basePath() . '/js/theme/framework.js');
        ?>   
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-60215595-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>