div.pace-content {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    display: none;
    z-index: 9998;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
body .pace{ z-index: 9999; }
body .pace .pace-progress{ color: #000; }

html, body{
	width: 100%;
	height: 100%;
}

body{
  opacity: 0;
	background: #FFF;
	padding-bottom: 70px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
strong {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

section{ padding: 90px 0px; }
::selection { background-color: #fabf10; color: #fff; }
.btn { border: 1px solid #fff; font-size: 13px; border-radius: 3px; background: transparent; text-transform: uppercase; font-weight: 700; padding: 15px 40px; min-width: 162px; max-width: 100%; }
.btn:hover, .btn.hovered { border: 1px solid #fff; }
.btn:active, .btn.pressed { opacity: 1; border: 1px solid #fff; border-top: 3px solid #17ade0; -webkit-box-shadow: 0 0 0 transparent; box-shadow: 0 0 0 transparent; }
.btn:focus, .btn:active:focus, .btn.active:focus { outline: 0; outline-offset: 0px; }
.btn-default { background: transparent; color: #fff; border: 1px solid #fff; }
.btn-default:hover, .btn-default.hovered { background: #fff; color: #fabf10; border: 1px solid #fff; }
.btn-default:active, .btn-default.pressed { background: #fff; color: #fabf10; border: 1px solid #fff;}
.btn-secondary { background: transparent; border:1px solid #fabf10; color: #fabf10; }
.btn-secondary:hover, .btn-secondary.hovered {background: #fabf10; border:1px solid #fabf10; color: #fff; }
.btn-secondary:active, .btn-secondary.pressed {background: #fabf10; border:1px solid #fabf10; color: #fff;}

.form .form-group { margin-bottom: 25px; }
.form .form-group:after { content: ''; display: block; clear: both; }
.form .form-group+.form-group { margin-top: -10px; }
.form .form-control { height: 50px; border: 1px solid #d1d8dd; border-radius: 0; box-shadow: 0px 0px 0px transparent; background: #fff; font-size: 17px; font-weight: 300; }
.form .form-group label { text-align: right; line-height: 50px; margin-bottom: 0; }

h1 { font-size: 58px; font-weight: 300; display: block; } 
h2 { font-size: 47px; font-weight: 300; display: block; } 
.h7 { font-size: 17px; font-weight: 700; display: block; }

.long-block .btn-default, .long-block input { margin-top: 35px; }
.light { color: #fff; background: #333; }
.long-block { background: #fabf10; text-align: left; padding-top: 15px; padding-bottom: 25px; }
.long-block .flaticon {
  position: relative;
  margin-right: 5px;
  /*margin-top: 20px;*/
}
.long-block .flaticon:before{ font-size: 60px; }
.long-block h2 { margin-bottom: 0; letter-spacing: -1px; }
.light p {
  color: #fff;
}
.thin { font-family: 'Lato', sans-serif; font-weight: 300; }

section#plans .package-column .package-price .ff90.price{ font-size: 90px; }
.hiding { opacity: 0; }
.visible { opacity: 1; }
.thumb{ margin-bottom: 10px; }
.highlight { color: #fabf10; }
.sub-title {
  font-weight: 300;
  color: #8D8D8D;
  padding: 0px 0px 8px 0px;
}
.sub-heading {
  font-size: 19px;
  line-height: 28px;
  color: #6f6f6f;
  font-weight: 300;
}
.btn {
  font-size: 13px;
  border-radius: 3px;
  background: transparent;
  font-weight: 700;
  padding: 15px 40px;
  min-width: 162px;
  max-width: 100%;
}
.paddingZero{ padding: 0px; }
.tpfPosition{ position: absolute; }
.tpfPositionTop{ top: -163px; }
.tpfPositionRight{ right: 0px; }
.container { z-index: 1; position: relative; }
.tab-content .tab-pane { padding: 16px 30px; border: 1px solid #ddd; border-top: 0; text-align: left; }
@media (min-width: 1200px) {
	.tpfPositionTop{ top: -163px; }
}
@media (min-width: 992px) and (max-width: 1199px){
	.tpfPositionTop{ top: -130px; }
}
@media (min-width: 692px) and (max-width: 991px){
	.tpfPositionTop{ top: -97px; }
}
/** MENU **/
#conheca-menu .flaticon:before{
	font-size: 14px !important;
}

#conheca-menu.navbar-default .navbar-nav .share a{
	cursor: default;
}
#conheca-menu.navbar-default .navbar-nav .share a:hover{
	background: none;
	color: #FFF;
}
#conheca-menu.navbar-default{
	border: 0px;
}
#conheca-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#conheca-menu.navbar-default {
    font-size: 14px;
    background: transparent url("/img/marketing/landing-page/conheca/tem-pra-festa-textura-preta.png");
    border-bottom-width: 1px;
}
#conheca-menu.navbar-default .navbar-nav>li>a {
    color: #FFF;
    background-color: transparent;
}
#conheca-menu.navbar-default .navbar-nav>li>a:hover,
#conheca-menu.navbar-default .navbar-nav>li>a.active,
#conheca-menu.navbar-default .navbar-nav>.active>a,
#conheca-menu.navbar-default .navbar-nav>.active>a:hover,
#conheca-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 0, 0, 1);
    background: transparent url("/img/marketing/landing-page/conheca/tem-pra-festa-textura-branca.png");
}
#conheca-menu.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
#conheca-menu.navbar-default .navbar-toggle:hover,
#conheca-menu.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
#conheca-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
#conheca-menu.navbar-default .navbar-toggle:hover .icon-bar,
#conheca-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #000000;
}

/** SECTION MAIN **/
section#main{
	height: 100%;
	padding-top: 150px;
	background: transparent url("/img/marketing/landing-page/conheca/tem-pra-festa-familia.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}
section#main .text-heading{
	width: 100%;
	margin-bottom: -10px;
	z-index: 20;
	font-family: 'Roboto', 'Lato', sans-serif;
	color: #000;
	position: absolute;
	bottom: 20px;
}
section#main .text-heading h1{
	padding: 10px 5px;
  font-size: 48px;
}
section#main .text-heading h2{
	font-size: 34px;
	text-shadow: 0px 0px 5px #FFF;
  filter: dropshadow(color=#FFF, offx=0, offy=0);
  zoom: 1;
}

/** SECTION BENEFITS **/

/** TABS STYLE **/
/*section#benefits  .nav-tabs{
	margin-bottom: 50px;
	border: 0;
	display: inline-block;
}
section#benefits .nav-tabs > li.active > a,
section#benefits .nav-tabs > li.active > a:hover,
section#benefits .nav-tabs > li.active > a:focus {
  font-weight: 400;
  color: #fff;
  background: #fabf10;
}
section#benefits .nav-tabs > li > a:hover {
  background: #fabf10;
  color: #fff;
}
section#benefits .nav-tabs li {
  border: 1px solid #fabf10;
  margin-bottom: 0;
  margin-right: 2px;
  margin-top: 10px;
}
section#benefits .nav-tabs > li > a {
  font-size: 13px;
  font-weight: 400;
  color: #596068;
  margin-right: 0px;
  background-color: #fff;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 20px 60px;
}*/

/* Alternative tab slider */
.alt.nav-tabs { margin-bottom: 50px; border:0;  display: inline-block; }
.alt.nav-tabs  { border-left: 1px solid #ddd; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; border-radius: 3px; }
.alt.nav-tabs  li { border-right: 1px solid #ddd; margin-bottom:0; }
.alt.nav-tabs > li.active { border-top: 0; }
.alt.nav-tabs > li.active > a,
.alt.nav-tabs > li.active > a:hover,
.alt.nav-tabs > li.active > a:focus { font-weight: 400; color: #fff; background:#fabf10;}
.alt.nav-tabs > li.active > a:hover, .alt.nav-tabs > li.active > a:focus {border:0;}
.alt.nav-tabs > li > a { font-size: 13px; font-weight: 400; color: #000; margin-right: 0px; background-color: #fff; border:0; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; padding: 20px 60px;}

.alt.nav-tabs > li > a:hover { background: #5b5550; color: #fff;}
.alt.tab-content .tab-pane { padding: 0; border: 0; text-align: left; }
.alt.tab-content .tab-pane .btn { margin-top:15px; }

/** SECTION PLANS **/
section#plans{ padding-top: 0px; }
section#plans .package-column{
	border: 1px solid #F0F0F0;
  background: #F7F7F7;
}
section#plans .package-column, section#plans .package-details{
	webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
section#plans .package-column .package-title {
  color: #47484c;
  font-size: 25px;
  padding: 20px 0 18px;
  font-weight: 300;
}
section#plans .package-column .package-price {
  background: rgba(171, 172, 179, 0.1);
  padding: 15px;
}
section#plans .package-column .package-price .price {
  color: #fabf10;
  font-size: 110px;
  font-weight: 300;
  line-height: 110px;
  position: relative;
}
section#plans .package-column .package-price .currency {
  font-size: 47px;
  line-height: 47px;
  font-weight: 300;
  position: relative;
  top: -40px;
}
section#plans .package-column .package-price .period {
  font-size: 15px;
  color: #fabf10;
}
section#plans .package-column .package-detail {
  padding: 30px 15% 50px;
}
section#plans .package-column .package-detail ul {
  margin-bottom: 30px;
}
section#plans .package-column .package-detail ul li {
  font-weight: 300;
  font-size: 15px;
  color: #47484c;
  border-bottom: 1px solid #dadfe3;
  padding: 15px 0;
}
section#plans .section-header { margin-top: 30px; margin-bottom: 30px; }
	/** HOVER STYLES **/
section#plans .package-column:hover {
  background: #fabf10;
}
section#plans .package-column:hover > .package-price .price,
section#plans .package-column:hover > .package-price .period,
section#plans .package-column:hover > .package-title,
section#plans .package-column:hover > .package-detail ul li,
section#plans .package-column:hover > .package-detail .notify {
  color: #fff;
}
section#plans .package-detail .btn.btn-secondary:hover{
  color: #fabf10 !important;
  background: #fff !important;
  border-color: #fff !important;
}
section#plans .package-column:hover > .package-price {
  background: rgba(71, 72, 76, 0.2);
}
section#plans .package-column.featured > .package-detail .btn.btn-secondary,
section#plans .package-column:hover > .package-detail .btn.btn-secondary {
  color: #fff;
  border-color: #fff !important;
}
section#plans .notify{ font-size: 13px; margin-bottom: 30px; height: 57px; }

@media(min-width:767px) {
	#conheca-menu.navbar-default .navbar-header>a,
  #conheca-menu.navbar-default .navbar-nav>li>a{
      padding-top: 35px;
      padding-bottom: 35px;
      -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
      -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
      transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  #conheca-menu.navbar-default.top-nav-collapse .navbar-header>a,
  #conheca-menu.navbar-default.top-nav-collapse .navbar-nav>li>a{
      padding-top: 15px;
		padding-bottom: 15px;
  }
}

/** MAIN FEATURES **/
#features { background: #f0f0f0; padding: 0px 0px 30px 0px; margin-bottom: 50px; }
#featuredTab { position: relative; margin-top: 160px; }
#featuredTab li { display: block; position: relative; }
#featuredTab li > a { display: block; }
#featuredTab li > a:after { content: ''; clear: both; display: block; }
#featuredTab li > a .tab-info { float: left; text-align: left; display: block; width: 346px; padding: 25px 28px; position: relative; z-index: 2; }
#featuredTab li > a .tab-info .tab-title { font-size: 17px; line-height: 21px; font-weight: 700; color: #fabf10; padding-bottom: 10px; }
#featuredTab li > a .tab-info .tab-desc { font-size: 15px; line-height: 28px; color: #5f5f5f; font-weight: 300; display: block; }
#featuredTab li > a .icon { font-size: 50px; padding: 21px 7px; display: block; padding: 46px 28px; }
#featuredTab li.active > a .tab-info { -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-left-radius: 5px; background: #fabf10; }
#featuredTab li.active > a .tab-info .tab-title,
#featuredTab li.active > a .tab-info .tab-desc,
#featuredTab li.active > a .icon { color: #fff; }
#featuredTab li a .tab-info:after,
#featuredTab li:last-child a .tab-info:after,
#featuredTab li.active a .tab-info:after,
#featuredTab .tab-content .tab-pane { border: none; padding: 0; }
#featuredTab li > a .tab-info .tab-icon{ color: #333; }
#featuredTab .tab-icon i:before{ font-size: 13vw; }

/** LIST FEATURES **/
#features-list article { margin:0px 0px 60px 0px; padding: 0px 10px; }
#features-list article  .icon { font-size:3.3em; }
#features-list article  p { font-size:15px; color:#8A8A8A;}
#features-list article:hover .icon { opacity:0.6; }
#features-list .h7 { margin:12px 0px 13px 0px; }
#features-list article  .flaticon:before { font-size:3.3em; }
#features-list .flaticon { color: #8A8A8A; }
#features-list .feature-active .flaticon { color: #fabf10; }
#features-list .legenda div{ margin-bottom: 10px; }
#features-list .legenda span{ width: 20px; height: 20px; display: inline-block; }
#features-list .legenda span.active{ background: #fabf10; }
#features-list .legenda span.inactive{ background: #8A8A8A; }
#features-list .legenda em{ /*float: left;*/ }

/** NEWSLETTER **/
#newsletter { /*background: url('../img/background/low_poly_background.jpg') no-repeat center center;*/ -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; background-attachment: fixed; }
#subscribe input { margin-right: 8px; }
#response { display: block; text-align: center; position: absolute; margin-left: 7%; }
#subscribe .form-control { border-left: 3px solid #1ac6ff; }

/** GUARANTEE **/
#guarantee h2, #guarantee p { text-align: center; }
/*#guarantee .btn-secondary{
  border: 1px solid #5b5550;
  color: #5b5550;
}
#guarantee .btn-secondary:hover, #guarantee .btn-secondary.hovered {
  background: #5b5550;
  border: 1px solid #5b5550;
  color: #fff;
}*/

/** FOOTER **/
.footer {
  background: #5b5550;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  color: #ababab;
  font-weight: 300;
  padding: 0px 0px 30px 0px;
}
.footer .footer-content {
  padding: 75px 0 65px;
}
.footer .logo-wrapper {
  margin-bottom: 20px;
}
.footer p {
  font-size: 15px;
  line-height: 24px;
}
.footer p, .footer li {
  color: #fff;
}
.footer .access-wrap li{
  margin-bottom: 10px;
}
.footer h1, .footer h2{
  color: #fff;
  font-weight: 700;
  margin-bottom: 25px;
}
.footer h1{
  text-align: center;
  font-size: 17px;
}
.footer h2{
  font-size: 14px;
}
.footer .list-inline {
  text-align: center;
  margin: 0 auto;
}
.footer .list-inline li {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.footer .meio-pagamento a img{ margin: 0 auto; }
.separator{
  border-bottom: 1px dashed #7E7E7E;
  clear: both;
  padding-top: 60px;
  min-height: 1px;
  margin-bottom: 60px;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding: 0px;
  font-weight: 300;
  opacity: 0.4;
}
.footer .flaticon{ color: #FFF; }
.footer .flaticon:hover,
.footer .flaticon:focus,
.footer .list-inline li a:hover,
.footer .list-inline li a:focus{ text-decoration: none; color: #fabf10; }
.footer .flaticon:before{ font-size:50px; }
.footer a{ color: #FFF; }

.back-to-top {
  text-align: center;
  background: #000;
  color: #fff;
  display: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer; z-index: 9000;
}
.back-to-top:hover { opacity: 1; filter: alpha(opacity=100); }

/** MEDIA QUERIES **/
/* INI BUG FIX ON GOOGLE NEXUS 7 */
@media (min-width: 966px) and (max-width: 992px) {
  .clear{ clear: both !important; }
  section#plans .package-column .package-price .ff90.price{ font-size: 7vw; }
}
/* END BUG FIX ON GOOGLE NEXUS 7 */

@media (min-width:1200px){
  section#main .text-heading h1{
    background: transparent url("/img/marketing/landing-page/conheca/tem-pra-festa-textura-amarela.png");
    -webkit-box-shadow: 0 10px 8px -8px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
  }

  .container { width: 1200px; }

  #featuredTab { position: relative; margin-top: 115px; }
  #featuredTab li { display: block; position: relative; width: 100%; border-bottom: none; margin-bottom: 0; line-height: 0px; }
  #featuredTab li > a:after { content: ''; clear: both; display: block; }
  #featuredTab li > a .tab-info { float: left; text-align: left; display: block; width: 345px; padding: 25px 28px; position: relative; z-index: 2; }
  #featuredTab li > a .tab-info .tab-title { font-size: 17px; line-height: 21px; color: #fabf10; padding-bottom: 10px; font-weight: 600;}
  #featuredTab li > a .tab-info .tab-desc { font-size: 16px; line-height: 22px; color: #5f5f5f; font-weight: 300; display: block;}

  #featuredTab li.active > a .tab-info{ -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-left-radius: 5px; -webkit-border-top-right-radius: 0; -moz-border-radius-topright: 0; border-top-right-radius: 0; background: #fabf10; }
  #featuredTab li a .tab-info:after,
  #featuredTab li:last-child a .tab-info:after,
  #featuredTab .tab-content { position: absolute; top: -60px; right: 0px; padding: 0; border: none; z-index: 1; }
}

@media (min-width: 992px) and (max-width: 1199px) {
  section#main .text-heading h1{
    background: transparent url("/img/marketing/landing-page/conheca/tem-pra-festa-textura-amarela.png");
    -webkit-box-shadow: 0 10px 8px -8px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
  }

  section#plans .package-column .package-price .ff90.price{ font-size: 7vw; }

  #featuredTab { margin-top: 0; }
    #featuredTab li { display: inline-block; width: 33%; border-bottom: 1px solid rgba(255, 255, 255, .2); margin-bottom: 20px; opacity:0.7;}
    #featuredTab li.active { margin-top: 0; padding-bottom: 0; opacity:1; }
    #featuredTab li > a:after,
    #featuredTab li a .tab-info:after, 
      #featuredTab li.active > a:after { display: none; }
    #featuredTab li > a .tab-info { width: 100%; }
  #featuredTab li.active > a .tab-info { -webkit-border-radius: 0px; -moz-border-radius: 0; border-radius: 0; }
    #featuredTab .tab-content { padding: 0; border: none; z-index: 1; }
    #featuredTab .tab-content .tab-pane { text-align: center; }
}
@media (max-width: 1024px) and (orientation:portrait) {
  p { font-size:14px; line-height:25px; }
  .btn { padding: 15px 35px; }
  .footer .list-inline li .icon { font-size: 35px; }
  #newsletter, .footer { background-size: auto !important; background-size: auto !important; background-position: top center; background-attachment: scroll !important;}
}
@media (min-width: 768px) and (max-width: 1024px) {
  section#main .text-heading h1{
    background: transparent url("/img/marketing/landing-page/conheca/tem-pra-festa-textura-amarela.png");
    -webkit-box-shadow: 0 10px 8px -8px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
  }

  p { font-size:14px; line-height:25px; }

  #guarantee h2, #guarantee p { text-align: center; }

  #featuredTab { margin-top: 0; }
    #featuredTab li { display: inline-block; width: 33%; border-bottom: 1px solid #d0d0d0; margin-bottom: 20px; }
    #featuredTab li.active { margin-top: 0; padding-bottom: 0; }
    #featuredTab li > a:after,
    #featuredTab li a .tab-info:after, 
      #featuredTab li.active > a:after { display: none; }
    #featuredTab li > a .tab-info { width: 100%; }
  #featuredTab li.active > a .tab-info { -webkit-border-radius: 0px; -moz-border-radius: 0; border-radius: 0; }
    #featuredTab .tab-content { padding: 0; border: none; z-index: 1; }
    #featuredTab .tab-content .tab-pane { text-align: center; }

  .alt.tab-content .tab-pane { padding-bottom: 20px; }

  .long-block .btn.btn-default { margin-left: auto; margin-right: auto; }

  #newsletter, .footer { background-size: auto !important; background-size: auto !important; background-position: top center; background-attachment: scroll !important;}
}
@media (max-width: 767px) {
  .ff90{ font-size: 24vw !important; }
  #guarantee h2{ font-size: 12vw; }
  section#main .text-heading h2{ font-size: 8vw; }

  #newsletter, #feedback, .footer { background-size: auto !important; background-size: auto !important; background-position: bottom left; background-attachment: scroll !important;}

  p { font-size: 14px; line-height: 25px; }

  .package-column { margin-bottom: 30px; }

  #featuredTab { margin-top: 0; }
    #featuredTab li { display: inline-block; width: 32%; border-bottom: 1px solid #d0d0d0; margin-bottom: 20px; }
    #featuredTab li.active { margin-top: 0; padding-bottom: 0; }
    #featuredTab li > a:after,
    #featuredTab li a .tab-info:after, 
      #featuredTab li.active > a:after { display: none; }
    #featuredTab li > a .tab-info { width: 100%; padding: 15px; line-heigh: 18px; }
    #featuredTab li > a .tab-info .tab-desc { line-height: 22px; }
    #featuredTab li.active a .tab-info { -webkit-border-bottom-left-radius: 0; -moz-border-radius-bottomleft: 0; border-bottom-left-radius: 0; -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px; border-top-right-radius: 5px; }
    #featuredTab .tab-content { padding: 0; border: none; z-index: 1; }
    #featuredTab .tab-content .tab-pane { text-align: center; }

    .long-block { text-align: center; }
    .long-block .btn.btn-default { margin-left: auto; margin-right: auto; }

  section#main .text-heading h1{ text-shadow: 0px 0px 5px #fabf10; font-size: 10vw; }
}
@media (max-width: 540px) {
  #newsletter, .footer { background-size: auto !important; background-size: auto !important; background-position: top center; background-attachment: scroll !important;}
}
@media (max-width: 480px) {
  #guarantee p { margin-top: 7px; }

  .alt.nav-tabs > li > a { padding: 15px 11px; }
  .alt.tab-content .tab-pane { padding-bottom: 15px; }
  .alt.tab-content .tab-pane .btn { margin-top: 0px; }

  .footer .footer-content { padding: 35px 0 15px; }

  .long-block .btn-default, .long-block input { margin-top: 20px; }

  #subscribe input { margin-right: 0px; }

  #newsletter, .footer { background-size: auto !important; background-size: auto !important; background-position: top center; background-attachment: scroll !important;}
}

@media (max-width: 340px) {
  .navigation-brand .brand-logo { 
    -webkit-transform : scale(0.8);
    -moz-transform    : scale(0.8);
    -ms-transform     : scale(0.8);
    transform         : scale(0.8); 
    margin-left: -10px;  
  }
  .nav-tabs .btn { margin:0px 10px 25px 0px; }
}