@font-face {
	font-family: "Flaticon";
	src: url("../../../../../fonts/marketing/landing-page/conheca-o-tem-pra-festa/flaticon.eot");
	src: url("../../../../../fonts/marketing/landing-page/conheca-o-tem-pra-festa/flaticon.eot#iefix") format("embedded-opentype"),
	url("../../../../../fonts/marketing/landing-page/conheca-o-tem-pra-festa/flaticon.woff") format("woff"),
	url("../../../../../fonts/marketing/landing-page/conheca-o-tem-pra-festa/flaticon.ttf") format("truetype"),
	url("../../../../../fonts/marketing/landing-page/conheca-o-tem-pra-festa/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-size: 20px;
	font-style: normal;
}.flaticon-american16:before {
	content: "\e000";
}
.flaticon-avatar:before {
	content: "\e001";
}
.flaticon-award52:before {
	content: "\e002";
}
.flaticon-barscode3:before {
	content: "\e003";
}
.flaticon-crown37:before {
	content: "\e004";
}
.flaticon-facebook3:before {
	content: "\e005";
}
.flaticon-facebook55:before {
	content: "\e006";
}
.flaticon-file148:before {
	content: "\e007";
}
.flaticon-google-plus:before {
	content: "\e008";
}
.flaticon-google116:before {
	content: "\e009";
}
.flaticon-hand27:before {
	content: "\e00a";
}
.flaticon-linkedin1:before {
	content: "\e00b";
}
.flaticon-linkedin11:before {
	content: "\e00c";
}
.flaticon-magnifyingglass15:before {
	content: "\e00d";
}
.flaticon-mastercard5:before {
	content: "\e00e";
}
.flaticon-money2:before {
	content: "\e00f";
}
.flaticon-music138:before {
	content: "\e010";
}
.flaticon-seo50:before {
	content: "\e011";
}
.flaticon-situation:before {
	content: "\e012";
}
.flaticon-social24:before {
	content: "\e013";
}
.flaticon-tick16:before {
	content: "\e014";
}
.flaticon-time51:before {
	content: "\e015";
}
.flaticon-twitter:before {
	content: "\e016";
}
.flaticon-twitter1:before {
	content: "\e017";
}
.flaticon-visa5:before {
	content: "\e018";
}
.flaticon-windows10:before {
	content: "\e019";
}
