<div class="ad-title">
	<h2>CATEGORIAS</h2> 	
</div>

<section id="categories-homepage">
	<div class="container">
		<h2 class="main-title">CATEGORIAS</h2>
		<div class="h2-seprator"></div>
		<div class="full">
			
        </div>
    </div>
</section>
	    
<!-- ANÚNCIO DESTAQUE -->
<section id="featured-abs">
	<div class="container" style="width:100%">
		<div id="tabs" class="full">
			<div class="pane">
				<div id="projects-carousel">
				</div>
			</div>
		</div>
	</div>
</section>