<?php
	//$this->headScript()->prependFile($this->basePath() . '/js/entry-view/site/index/register/register.js');
?>

<div class="ad-title">
	<h2>CONTATO</h2>
</div>
<section class="ads-main-page">
	<div class="container">
    	<div class="span8 first">
			<div class="full">
				<div class="ad-detail-content">
					<div class="contact_form">
						<?php 
							$contatoSiteForm = $this->contatoSiteForm;
							echo $this->form()->openTag($contatoSiteForm);
							echo "<div>".$this->formText($contatoSiteForm->get('contactName'))."</div>";
							echo "<div>".$this->formText($contatoSiteForm->get('email'))."</div>";
							echo "<div>".$this->formText($contatoSiteForm->get('subject'))."</div>";
							echo "<div>".$this->formTextArea($contatoSiteForm->get('comments'))."</div>";
						?>
							<div class="clearfix"></div>
							<div class="btn-container" style="text-align:center;">
								<?php echo $this->formSubmit($contatoSiteForm->get('submitted')); ?>	
							</div>
						<?php echo $this->form()->closeTag(); ?>
					</div>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="custom-cat-widget">
				<div class="cat-widget custom-widget">
					<div class="cat-widget-title">
						<h3>ENCONTRE POR CATEGORIA</h3>
						<div class="h3-seprator-sidebar"></div>
					</div>
					<div class="cat-widget-content" id="encontre-por-categoria">
						<ul> 
						</ul>
					</div>
		    	</div>
	    	</div>
			<div class="cat-widget">
	    		<div class="cat-widget-content">
	    			<div class="cat-widget-title">
	    				<h3>ÚLTIMOS ADICIONADOS</h3>
	    				<div class="h3-seprator-sidebar"></div>
    				</div>
    				<div class="jw-recent-posts-widget">
    					<ul>
    					</ul>
    				</div>
	    		</div>
	    	</div>
			<div class="cat-widget" id="tagcloud">
	    		<div class="cat-widget-content">
	    			<div class="cat-widget-title">
	    				<h3>TAGS</h3>
	    				<div class="h3-seprator-sidebar"></div>
    				</div>
    				<div class="tagcloud">

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- ANÚNCIO DESTAQUE -->
<section id="featured-abs">
	<div class="container" style="width:100%">
		<div id="tabs" class="full">
			<div class="pane">
				<div id="projects-carousel">
				</div>
			</div>
		</div>
	</div>
</section>