
<?php
	$this->headMeta()
            ->setProperty('og:locale', 'pt_BR')
            ->setProperty('og:type', 'website')
            ->setProperty('og:image:width', '1200')
            ->setProperty('og:image:height', '628')
            ->setProperty('og:site_name', 'Tem Pra Festa')
            ->setProperty('og:title', 'Encontre tudo para festas grátis! Aproveite!')
            ->setProperty('og:description', 'Somos o maior site de anúncios especializado em festas e eventos. Aproveite para anunciar!')
            ->setProperty('og:image', 'http://www.temprafesta.com.br/img/lancamento/facebook_compartilhamento_site.jpg')
            ->setProperty('og:image:url', 'http://www.temprafesta.com.br/img/lancamento/facebook_compartilhamento_site.jpg')
            ->setProperty('og:image:type', 'image/jpeg')
            ->setProperty('og:image:width', '1200')
            ->setProperty('og:image:height', '628')
            ->setProperty('og:url', $this->serverUrl());

    $keyWordsArray = array(
		"tem pra festa",
		"anúncio de festa",
		"artigos para festas infantil",
		"artigo para festas",
		"festas e festas",
		"tudo para festa infantil",
		"coisas para festa",
		"decoração de festa infantil",
		"decoração para festas infantil",
		"artigos para festas infantis",
		"festas infantins",
		"artigos de festa",
		"artigos festa",
		"festa",
		"tudo para festa",
		"salgadinhos para festa",
		"produtos para festa infantil",
		"artigos para festa atacado",
		"artigos decoração festa infantil",
		"lembrancinhas para festa infantil",
		"tema de festas infantil",
		"artigos de festa infantil",
		"artigo para festa",
		"loja de festas",
		"festas infantis-decoração",
		"festas e eventos",
		"produtos de festa",
		"decoração de festa",
		"descartáveis para festa",
		"empresa de festa",
		"decoração de festa infantil rj",
		"moveis para festa",
		"artigos festa junina",
		"decoração para festa infantil sp",
		"aluguel de decoração festa infantil",
		"loja artigos de festa",
		"decoração de festa infantil campinas",
		"comprar painel para festa infantil",
		"louças para festa"
	);

	$keyWords = implode(",", $keyWordsArray);

    $this->headMeta()
    		->appendName('keywords', $keyWords)
            ->appendName('description', "Venda mais, divulgue mais e encontre tudo para festas e eventos...");
?>
<!-- MAPA -->
<section id="big-map">
	<div id="classiads-main-map"></div>
	<script type="text/javascript">
		var mapDiv,
			map,
			infobox;
		jQuery(document).ready(function($) {

			mapDiv = $("#classiads-main-map");
			mapDiv.height(650).gmap3({
				map: {
					options: {
						"draggable": true
						,"mapTypeControl": true
						,"mapTypeId": google.maps.MapTypeId.ROADMAP
						,"scrollwheel": false
						,"panControl": true
						,"rotateControl": false
						,"scaleControl": true
						,"streetViewControl": true
						,"zoomControl": true
					}
				}
				,marker: {
					values: [
							<?php
								if(isset($this->anunciosMapa)):
									$json;
									foreach($this->anunciosMapa as $mapa):
										
						                $userId = $mapa['userId'];
						                $img = "/files/classificado/".$userId."/".$mapa["id"]."/".$mapa["imagemNome"];
						                $valor 	   = $mapa['valor'];
						                $id    	   = $mapa['id'];
						                $titulo    = $mapa['titulo'];
						                $icone     = $mapa['icone'];
						                $mapMarker = $mapa['map_marker'];
				            ?>

					            {
					            	latLng: [<?php echo $mapa['latitude']; ?>,<?php echo $mapa['longitude']; ?>],
					                options: {
					                icon: <?php echo "'".$mapMarker."'"; ?>,
					                shadow: '/img/site/shadow.png',
					                },
					                data: '<div class="marker-holder"><div class="marker-content"><div class="marker-image"><img alt="image" src="<?php echo $img; ?>" /></div><div class="marker-info-holder"><div class="marker-info-price">R$ <?php echo $valor; ?></div><div class="marker-info"><div class="marker-info-title"><a href="/classificado/anuncio/<?php echo $id;?>"><?php echo $titulo; ?></a></div><div class="marker-icon-box"><div class="category-icon-box" ><i class="<?php echo $icone; ?>"></i></div></div></div></div><div class="arrow-down"></div><div class="close"></div></div></div>',
					                },
							<?php
									endforeach;
								endif;
							?>			
					],
					options:{
						draggable: false
					},
					cluster:{
		          		radius: 20,
						// This style will be used for clusters with more than 0 markers
						0: {
							content: "<div class='cluster cluster-1'>CLUSTER_COUNT</div>",
							width: 62,
							height: 62
						},
						// This style will be used for clusters with more than 20 markers
						20: {
							content: "<div class='cluster cluster-2'>CLUSTER_COUNT</div>",
							width: 82,
							height: 82
						},
						// This style will be used for clusters with more than 50 markers
						50: {
							content: "<div class='cluster cluster-3'>CLUSTER_COUNT</div>",
							width: 102,
							height: 102
						},
						events: {
							click: function(cluster) {
								map.panTo(cluster.main.getPosition());
								map.setZoom(map.getZoom() + 2);
							}
						}
		          	},
					events: {
						click: function(marker, event, context){
							map.panTo(marker.getPosition());

							var ibOptions = {
							    pixelOffset: new google.maps.Size(-125, -88),
							    alignBottom: true
							};

							infobox.setOptions(ibOptions);

							infobox.setContent(context.data);
							infobox.open(map,marker);

							// if map is small
							var iWidth = 370;
							var iHeight = 370;
							if((mapDiv.width() / 2) < iWidth ){
								var offsetX = iWidth - (mapDiv.width() / 2);
								map.panBy(offsetX,0);
							}
							if((mapDiv.height() / 2) < iHeight ){
								var offsetY = -(iHeight - (mapDiv.height() / 2));
								map.panBy(0,offsetY);
							}
						}
					}
				}
			},"autofit");

			map = mapDiv.gmap3("get");
		    infobox = new InfoBox({
		    	pixelOffset: new google.maps.Size(-50, -65),
		    	closeBoxURL: '',
		    	enableEventPropagation: true
		    });
		    mapDiv.delegate('.infoBox .close','click',function () {
		    	infobox.close();
		    });

		    if (Modernizr.touch){
		    	map.setOptions({ draggable : false });
		        var draggableClass = 'inactive';
		        var draggableTitle = "Activate map";
		        var draggableButton = $('<div class="draggable-toggle-button '+draggableClass+'">'+draggableTitle+'</div>').appendTo(mapDiv);
		        draggableButton.click(function () {
		        	if($(this).hasClass('active')){
		        		$(this).removeClass('active').addClass('inactive').text("Activate map");
		        		map.setOptions({ draggable : false });
		        	} else {
		        		$(this).removeClass('inactive').addClass('active').text("Deactivate map");
		        		map.setOptions({ draggable : true });
		        	}
		        });
		    }

		jQuery( "#advance-search-slider" ).slider({
		      	range: "min",
		      	value: 500,
		      	min: 1,
		      	max: 1000,
		      	slide: function( event, ui ) {
		       		jQuery( "#geo-radius" ).val( ui.value );
		       		jQuery( "#geo-radius-search" ).val( ui.value );

		       		jQuery( ".geo-location-switch" ).removeClass("off");
		      	 	jQuery( ".geo-location-switch" ).addClass("on");
		      	 	jQuery( "#geo-location" ).val("on");

		       		mapDiv.gmap3({
						getgeoloc:{
							callback : function(latLng){
								if (latLng){
									jQuery('#geo-search-lat').val(latLng.lat());
									jQuery('#geo-search-lng').val(latLng.lng());
								}
							}
						}
					});

		      	}
		    });
		    jQuery( "#geo-radius" ).val( jQuery( "#advance-search-slider" ).slider( "value" ) );
		    jQuery( "#geo-radius-search" ).val( jQuery( "#advance-search-slider" ).slider( "value" ) );

		    jQuery('.geo-location-button .fa').click(function()
			{
				
				if(jQuery('.geo-location-switch').hasClass('off'))
			    {
			        jQuery( ".geo-location-switch" ).removeClass("off");
				    jQuery( ".geo-location-switch" ).addClass("on");
				    jQuery( "#geo-location" ).val("on");

				    mapDiv.gmap3({
						getgeoloc:{
							callback : function(latLng){
								if (latLng){
									jQuery('#geo-search-lat').val(latLng.lat());
									jQuery('#geo-search-lng').val(latLng.lng());
								}
							}
						}
					});

			    } else {
			    	jQuery( ".geo-location-switch" ).removeClass("on");
				    jQuery( ".geo-location-switch" ).addClass("off");
				    jQuery( "#geo-location" ).val("off");
			    }
		           
		    });

		});
		</script>
	<div class="container search-bar">
		<div id="advanced-search-widget-version2" class="home-search">
			<div class="container">
				<div class="advanced-search-widget-content">
				<?php $mainSearchForm = $this->mainSearchForm; ?>
					<?php echo $this->form()->openTag($mainSearchForm); ?>
						<div id="edit-field-category-wrapper" class="views-exposed-widget views-widget-filter-field_category">
						    <div class="views-widget">
						        <div class="control-group form-type-select form-item-field-category form-item">
									<div class="controls"> 
										<select id="edit-field-category" name="categoria" class="form-select">
										</select>
									</div>
								</div>
							</div>
						</div>
						<div id="edit-ad-location-wrapper" class="views-exposed-widget views-widget-filter-field_ad_location">
							<div class="views-widget">
								<div class="control-group form-type-select form-item-ad-location form-item">
									<div class="controls">
										<select id="edit-ad-estado" name="estado" class="form-select">
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="advanced-search-slider" id="search-cidade">
							<select id="edit-ad-cidade" name="cidade" class="form-select">
								<option>Escolha um estado...</option>
							</select>
							<!--<div id="advance-search-slider" class="value-slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false">
								<a class="ui-slider-handle ui-state-default ui-corner-all" href="#">
									<span class="range-pin">
										<input type="text" name="geo-radius" id="geo-radius" value="100" data-default-value="100">
									</span>
								</a>
							</div>
							<div class="geo-location-button">
								<div class="geo-location-switch off"><i class="fa fa-location-arrow"></i></div>
							</div>-->
						</div>
						<!--<input type="text" name="geo-location" id="geo-location" value="off" data-default-value="off">
						<input type="text" name="geo-radius-search" id="geo-radius-search" value="500" data-default-value="500">
						<input type="text" name="geo-search-lat" id="geo-search-lat" value="0" data-default-value="0">
						<input type="text" name="geo-search-lng" id="geo-search-lng" value="0" data-default-value="0">-->
						<div id="edit-search-api-views-fulltext-wrapper" class="views-exposed-widget views-widget-filter-search_api_views_fulltext">
					        <div class="views-widget">
					          	<div class="control-group form-type-textfield form-item-search-api-views-fulltext form-item">
									<div class="controls"> 
										<!--<input placeholder="Enter keyword..." type="text" id="edit-search-api-views-fulltext" name="s" value="" size="30" maxlength="128" class="form-text">-->
										<?php echo $this->formText($mainSearchForm->get('palavra_chave')); ?>
									</div>
								</div>
						    </div>
						</div>
						<div class="views-exposed-widget views-submit-button">
						    <button class="btn btn-primary form-submit" id="edit-submit-search-view" name="" value="Search" type="submit"><i class="fa fa-search"></i></button>
						</div>
					<?php echo $this->form()->closeTag(); ?>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- ANÚNCIO DESTAQUE -->
<section id="featured-abs">
	<div class="container" style="width:100%">
		<div id="tabs" class="full">
			<div class="pane">
				<div id="projects-carousel">
				</div>
			</div>
		</div>
	</div>
</section>

<?php if(isset($this->paginatorAnuncioEmpresa)): ?>
<!-- ANÚNCIO DE EMPRESAS -->
<section id="custom-ads">
	<div class="container">
		<?php
			$count = 1;
			foreach($this->paginatorAnuncioEmpresa as $anuncioEmpresa):
                $src = "/files/empresa/".$anuncioEmpresa->empresa_id->usuario_id."/".$anuncioEmpresa->empresa_id->id."/".$anuncioEmpresa->empresa_id->imagem;
                $imagem = "<img alt='".$anuncioEmpresa->empresa_id->nome."' src='".$src."' />";
                echo "<div class='home-page-ad home-page-ad".$count."'>";
                echo "<a href='/empresa/".$this->formatURL($anuncioEmpresa->empresa_id->nome)."/".$anuncioEmpresa->empresa_id->id."'>".$imagem."</a>";
                echo "</div>";
		?>
	<?php
		$count++;
		endforeach;
	?>
	</div>
</section>
<?php endif; ?>

<!-- CATEGORIAS -->
<section id="categories-homepage">
	<div class="container">
		<h2 class="main-title">PROCURE POR CATEGORIA</h2>
		<div class="h2-seprator"></div>
		<div class="full">
		</div>
	</div>
</section>

<?php
	$user = $this->session()->offsetGet('user');
	if(!$user):
?>
<!-- MARKETING -->
<div class="container" style="margin-bottom: 45px;">
	<div class="callout clearfix">
		<div class="callout-inner">
			<div class="callout-title"><h4>Você está pronto para anunciar com o "<span>Tem Pra Festa</span>" ?</h4></div>
			<div class="callout-desc">
				<p>Nós somos o maior site especializado em produtos de festas e eventos do Brasil!</p>
			</div>
		</div>
		<div class="view-more-btn">
			<div class="more-btn-inner">
				<a href=<?php echo "'".$this->serverUrl("/user/register?tour=true")."'"; ?> >
					<span>COMECE AGORA!</span>
				</a>
			</div>
		</div>	
	</div>
</div>
<?php endif; ?>

<!-- LOCALIZAÇÃO
<section id="locations">
	<div class="container">
		<h2 class="main-title">AD LOCATIONS</h2>
		<div class="h2-seprator"></div>
		<div class="location clearfix">
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=London"><i class="fa fa-map-marker"></i>London</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Hampshire"><i class="fa fa-map-marker"></i>Hampshire</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Dulwich"><i class="fa fa-map-marker"></i>Dulwich</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Sidcup"><i class="fa fa-map-marker"></i>Sidcup</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Newcastle"><i class="fa fa-map-marker"></i>Newcastle</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Bedford"><i class="fa fa-map-marker"></i>Bedford</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Derbyshire"><i class="fa fa-map-marker"></i>Derbyshire</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Surrey"><i class="fa fa-map-marker"></i>Surrey</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Brixton"><i class="fa fa-map-marker"></i>Brixton</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Tolworth"><i class="fa fa-map-marker"></i>Tolworth</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Croydon"><i class="fa fa-map-marker"></i>Croydon</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Whitton (London)"><i class="fa fa-map-marker"></i>Whitton (London)</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=A&amp;E Department"><i class="fa fa-map-marker"></i>A&amp;E Department</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Broomley"><i class="fa fa-map-marker"></i>Broomley</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Linford"><i class="fa fa-map-marker"></i>Linford</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Morden"><i class="fa fa-map-marker"></i>Morden</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Avery Hill"><i class="fa fa-map-marker"></i>Avery Hill</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Cranford"><i class="fa fa-map-marker"></i>Cranford</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Downham"><i class="fa fa-map-marker"></i>Downham</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Morden (London)"><i class="fa fa-map-marker"></i>Morden (London)</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Poplar"><i class="fa fa-map-marker"></i>Poplar</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Belmont"><i class="fa fa-map-marker"></i>Belmont</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Manchester"><i class="fa fa-map-marker"></i>Manchester</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Birmingham"><i class="fa fa-map-marker"></i>Birmingham</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Newcastle upon Tyne"><i class="fa fa-map-marker"></i>Newcastle upon Tyne</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Yorkshire"><i class="fa fa-map-marker"></i>Yorkshire</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Worcestershire"><i class="fa fa-map-marker"></i>Worcestershire</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Lancashire"><i class="fa fa-map-marker"></i>Lancashire</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Esher"><i class="fa fa-map-marker"></i>Esher</a>
			</div>
			<div class="span2">
				<a href="http://demo.designinvento.net/classiads/locations/?location=Welling"><i class="fa fa-map-marker"></i>Welling</a>
			</div>
		</div>
	</div>
</section>-->

<!-- ANÚNCIOS -->
<section id="ads-homepage">
	<h2 class="main-title" style="margin: 0px">ANÚNCIOS</h2>
	<div class="h2-seprator"></div>
	<div class="container">
		<ul class="tabs quicktabs-tabs quicktabs-style-nostyle clearfix">
			<div class="three-tabs">
				<li>
					<a class="current" href="#ultimos">Últimos</a>
				</li>
				<li>
					<a class="" href="#populares">Populares</a>
				</li>
				<li>
					<a class="" href="#empresas">Empresas</a>
				</li>
			</div>
		</ul>

		<div id="ultimos" class="pane latest-ads-holder">						
		</div>

		<div id="populares" class="pane popular-ads-grid-holder">
		</div>

		<div id="empresas" class="pane random-ads-grid-holder">
		</div>
	</div>
</section>