<div class="ad-title">
	<h2>PLANOS DE ANÚNCIOS</h2> 	
</div>

<section class="ads-main-page">
	<div class="container">
		<div class="span8 first view-pricing-plans">
			<div class="clearfix"></div>
			<h3 style="margin-top: 0px;">PLANOS DE ANÚNCIOS</h3>
			<div class="h3-seprator"></div>
			<div class="span8 first">
				<div class="product-wrapper">
					<div class="span4">
						<div class="product-details">
							<div class="description">
								<ul>
									<li><i class="fa fa-check"></i> Divulgação de anúncio <strong>Normal</strong></li>
									<li><i class="fa fa-check"></i> <strong>Tráfego</strong> de anúncio <strong>Ilimitado</strong></li>
									<li><i class="fa fa-check"></i> <strong>Divulgar</strong> até <strong>7 Imagens</strong></li>
									<li><i class="fa fa-check"></i> Acesso limitado aos <strong>Dados Estatísticos</strong></li>
									<li><i class="fa fa-check"></i> Receba <strong>Notificações de Interesse</strong></li>
								</ul>
							</div>
						</div>
					</div>
					<div id="normal-plan" class="span4 plan-last">
						<div class="product-title">
							<h3>PLANO NORMAL – GRÁTIS</h3>							
						</div>
						<div class="product-description">
							<p>No plano Normal você obtém todos os recursos básicos necessários para divulgar o seu produto e serviço, e ainda por cima é de graça.</p>
							<p>Seja encontrado pelo Brasil  inteiro ou seja encontrado pelo seu público local. A decisão é sua, pois o Tem Pra Festa fornece esta flexibilidade poderosa nas buscas de anúncios.</p>
							<p>Não deixe para depois. Aproveite, experimente e divulgue por 30 dias sem custo algum.</p>
						</div>
						<a href=<?php echo $this->serverUrl("/user/register?tour=true"); ?> class="btn form-submit" id="submit-plan">ANUNCIAR AGORA</a>
					</div>
				</div>
			</div>
			<div class="span8 first">
				<div class="product-wrapper">
					<div class="span4">
						<div class="product-details">
							<div class="description">
								<ul>
									<li><i class="fa fa-check"></i> Todas as <strong>Vantagens do plano Grátis</strong></li>
									<li><i class="fa fa-check"></i> <strong>Melhor Presença digital</strong></li>
									<li><i class="fa fa-check"></i> Receba <strong>Dicas</strong> ao seu anúncio</li>
									<li><i class="fa fa-check"></i> Acesso <strong>completo</strong> aos <strong>Dados Estatísticos</strong></li>
									<li><i class="fa fa-check"></i> <strong>Melhor Interesse</strong></li>
								</ul>
							</div>
						</div>
					</div>
					<div id="featured-plan" class="span4 plan-last">
						<div class="product-title">
							<h3>PLANO DESTAQUE – R$ 15</h3>							
						</div>
						<div class="product-description">
							<p>No plano Destaque você obtém recursos mais poderosos e ricos para divulgar o seu produto e serviço.</p>
							<p>Este plano fornece dados estatísticos completos sobre o andamento do anúncio, fornece melhor destaque e visualização em relação a concorrência e muito mais. Tudo isso por 50 centavos ao dia. Vale a pena né?</p>
							<p>Não deixe para depois, aproveite, experimente e divulgue por 30 dias.</p>
						</div>
						<a href=<?php echo $this->serverUrl("/user/register?tour=true"); ?> class="btn form-submit" id="submit-plan">ANUNCIAR AGORA</a>
					</div>
				</div>
			</div>
			<div class="span8 first">
				<div class="product-wrapper">
					<div class="span4">
						<div class="product-details">
							<div class="description">
								<ul>
									<li><i class="fa fa-check"></i> As <strong>Vantagens</strong> do plano <strong>Destaque</strong></li>
									<li><i class="fa fa-check"></i> <strong>Presença Empresarial</strong></li>
									<li><i class="fa fa-check"></i> <strong>Divulgue</strong> com o nome da <strong>sua empresa</strong></li>
									<li><i class="fa fa-check"></i> <strong>Dados Estatísticos Empresariais</strong></li>
									<li><i class="fa fa-check"></i> <strong>Interesse voltado a Empresa</strong></li>
								</ul>
							</div>
						</div>
					</div>
					<div id="business-plan" class="span4 plan-last">
						<div class="product-title">
							<h3>PLANO EMPRESA – R$ 30</h3>							
						</div>
						<div class="product-description">
							<p>O plano empresa possibilta desenvolver uma imagem poderosa ao cliente, destacando os produtos e serviços dentro de uma página personalizada.</p>
							<p>Está página pode ser divulgada sem dificuldades, pois é utilizado uma URL personalizada. Também é possível verificar o andamento da divulgação por meio de dados estatísticos..</p>
							<p>É fácil, rápido, prático e barato. Tudo isto por R$ 1 ao dia. Incrível!</p>
						</div>
						<a href=<?php echo $this->serverUrl("/user/register?tour=true"); ?> class="btn form-submit" id="submit-plan">ANUNCIAR AGORA</a>
					</div>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="custom-cat-widget">
				<div class="cat-widget custom-widget">
					<div class="cat-widget-title">
						<h3>ENCONTRE POR CATEGORIA</h3>
						<div class="h3-seprator-sidebar"></div>
					</div>
					<div class="cat-widget-content" id="encontre-por-categoria">
						<ul> 
						</ul>
					</div>
		    	</div>
	    	</div>
	    	<div class="cat-widget">
	    		<div class="cat-widget-content">
	    			<div class="cat-widget-title">
	    				<h3>ÚLTIMOS ADICIONADOS</h3>
	    				<div class="h3-seprator-sidebar"></div>
    				</div>
    				<div class="jw-recent-posts-widget">
    					<ul>
    					</ul>
    				</div>
	    		</div>
	    	</div>
			<div class="cat-widget">
	    		<div class="cat-widget-content" id="destaques">
	    			<div class="cat-widget-title">
	    				<h3>DESTAQUES</h3>
	    				<div class="h3-seprator-sidebar"></div>
    				</div>
    				<div class="textwidget">
    					<div>
    					</div>
    				</div>
	    		</div>
	    	</div>
			<div class="cat-widget" id="tagcloud">
	    		<div class="cat-widget-content">
	    			<div class="cat-widget-title">
	    				<h3>TAGS</h3>
	    				<div class="h3-seprator-sidebar"></div>
					</div>
					<div class="tagcloud">

					</div>
				</div>
			</div>
		</div>
	</div>

	    
<!-- ANÚNCIO DESTAQUE -->
	<section id="featured-abs">
		<div class="container" style="width:100%">
			<div id="tabs" class="full">
				<div class="pane">
					<div id="projects-carousel">
					</div>
				</div>
			</div>
		</div>
	</section>
</section>