<?php
	echo $this->headScript()
			->prependFile($this->serverUrl("/js/theme/plugins/gamification/tour/bootstrap-tour.min.js"));

	$this->headLink()
		->prependStylesheet($this->serverUrl("/css/theme/gamification/bootstrap-tour/bootstrap-tour.min.css"))
		->prependStylesheet($this->serverUrl("/css/theme/animate/animate.min.css"));
?>

<div class="ad-title">
	<h2>CADASTRO DE USUÁRIO</h2>
</div>
<section class="ads-main-page">
	<div class="container">
		<div class="log-in-logo">
			<a class="logo" href="/" title="Home">
				<img src="/img/system/temprafesta.png" alt="Logo">
			</a>
		</div>
		<div class="first clearfix log-in">
			<h2 class="login-title">CADASTRO DE USUÁRIO</h2> 
			<div id="edit-profile" class="clearfix">
			<?php echo $this->messages(); ?>
				<div class="span4" style="width: 100% !important;">
					<?php
						echo $this->form()->openTag($registerForm);
						echo $this->formText($registerForm->get('nome'));
						echo $this->formText($registerForm->get('username'));
						echo "<div>".$this->formPassword($registerForm->get('password'))."</div>";
						echo "<div id='estados'>".$this->formSelect($comboboxEstado->get('estado_id'))."</div>";
						echo "<div id='cidades'>".$this->formSelect($registerForm->get('cidade_id'))."</div>";
					?>
					<div class="clearfix"></div>
					<div class="btn-container">	
						<?php //echo $this->formSubmit($registerForm->get('submit')); ?>
						<button name="submit" type="submit" id="edit-submit" class="btn form-submit" value="Cadastrar e anunciar">CADASTRAR E ANUNCIAR</button>
					</div>
					<?php echo $this->form()->closeTag(); ?>
				</div>
				<!--<div class="span4 last">
					<span>Já possui conta?</span>
					<a class="login-a" href="/system/auth">Faça o login</a>
					<div class="register-page-title">
						<h5>Login via Redes Sociais</h5>
					</div>
					<div class="social-btn clearfix">
						<div class="social-btn-container">
							<a class="register-social-button-facebook" href="javascript:void(0);">Login via Facebook</a>
						</div>
						<div class="social-btn-container">
							<a class="register-social-button-twitter" href="javascript:void(0);">Login via Twitter</a>
						</div>
						<div class="social-btn-container">
							<a class="register-social-button-google" href="javascript:void(0);">Login via Google</a>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</div>
</section>