<div class="ad-title">
	<h2>SOBRE</h2>
</div>
<section class="ads-main-page">
	<div class="container">
    	<div class="span8 first" style="padding: 30px 0;">
			<div class="ad-detail-content">
			<p>O Tem Pra Festa é um site de anúncios especializado em festas e eventos. O usuário tem autonomia para criar sua conta - com login e senha - e publicar seu produto ou serviço gratuitamente. Também poderá vincular seu anúncio à empresa e neste caso será cobrado uma taxa mínima por trinta dias.</p>
			<p>O site está em versão Beta (em adaptação) e futuramente vai estar ajustado com novos benefícios, funcionalidades e também premiações para usuários que irão anunciar no Tem Pra Festa.</p>
			<p>Estamos no ar. Divulgue seu negócio. Compartilhe com seus amigos. Seja bem-vindo!</p>
			<p>Dúvidas, por favor, contate-nos: <a href="mailto:suporte@temprafesta.com.br" title="Entre em contato!">suporte@temprafesta.com</a></p>
			</div>
		</div>
		<div class="span4">
			<div class="custom-cat-widget">
				<div class="cat-widget custom-widget">
					<div class="cat-widget-title">
						<h3>ENCONTRE POR CATEGORIA</h3>
						<div class="h3-seprator-sidebar"></div>
					</div>
					<div class="cat-widget-content" id="encontre-por-categoria">
						<ul> 
						</ul>
					</div>
		    	</div>
	    	</div>
			<div class="cat-widget">
	    		<div class="cat-widget-content">
	    			<div class="cat-widget-title">
	    				<h3>ÚLTIMOS ADICIONADOS</h3>
	    				<div class="h3-seprator-sidebar"></div>
    				</div>
    				<div class="jw-recent-posts-widget">
    					<ul>
    					</ul>
    				</div>
	    		</div>
	    	</div>
			<div class="cat-widget" id="tagcloud">
	    		<div class="cat-widget-content">
	    			<div class="cat-widget-title">
	    				<h3>TAGS</h3>
	    				<div class="h3-seprator-sidebar"></div>
    				</div>
    				<div class="tagcloud">

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- ANÚNCIO DESTAQUE -->
<section id="featured-abs">
	<div class="container" style="width:100%">
		<div id="tabs" class="full">
			<div class="pane">
				<div id="projects-carousel">
				</div>
			</div>
		</div>
	</div>
</section>