html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	background: transparent url("../../../../img/lancamento/background.png") top center fixed;
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-ms-background-size: cover;
  	-o-background-size: cover;
}

ul li{
	list-style: none;
}

header h1{
	margin-left: 90px;
	width: 80%;
}

header h1 img{
	width: 100%;
}

header ul{
	float: right;
	position: relative;
	top: 0px;
	right: 50%;
	margin-right: -211px;
}

header ul li{
	float: left;
	margin-right: 20px;
	border-radius: 6px;
	margin-top: 10px;
}
header ul li.share{
	margin-top: 0px;
}
header ul li.facebook{
	background: #3b5998;
}
header ul li.twitter{
	background: #00aced;
}
header ul li.google{
	background: #dd4b39;
}
header ul li.linkedin{
	background: #007bb6;
}
header ul li.whatsapp{
	background: #34af23;
}

header ul li a{
	color: #FFF;
	padding: 5px 10px;
	display: block;
}
header ul li a:hover{
	color: #FFF;
	text-decoration: none;
}
header ul li.share a i:before{
	font-size: 36px;
}
header ul li:hover{
	box-shadow: 0px 0px 10px #FFF;
}

header ul li.share:hover{
	box-shadow: none;
}

section.main{
	margin-bottom: 50px;
}
section.main .main-wrapper{
	width: 100%;
	background: transparent url("../../../../img/lancamento/curva.png") center center no-repeat;
	background-size: contain;
	-webkit-background-size: contain;
  	-moz-background-size: contain;
  	-ms-background-size: contain;
  	-o-background-size: contain;
  	padding: 0px;
}
section.main  .main-wrapper img{
	width: 100%;
}
section.main .main-wrapper .main-col-1{
	position: relative;
	bottom: 0px;
}
section.main .main-wrapper .main-col-2{
	/*position: relative;
	top: 130px;*/
}
section.main .main-wrapper p{
	margin-right: 140px;
	margin-top: 22%;
	font-size: 2vw;
	font-family: Roboto;
	text-align: justify;
}
section.main h1{
	color: #FFF;
	text-align: center;
	font-size: 100px;
	text-shadow: #000 2px 3px 5px;
	font-family:Roboto;
	font-weight: bold;
}

#acompanhar{
	display: none;
}

section.call-action{
	margin-bottom: 50px;
}
section.call-action .wrapper{
	text-align: center;
}
section.call-action .wrapper a{
	transition-property: background;
  	transition-duration: .5s;
  	transition-timing-function: linear;

	width: 100px;
	background: transparent url("../../../../img/lancamento/transparencia.png") center center repeat;
	padding: 20px 30px;
	border-radius: 6px;
	color: #000;
	text-decoration: none;
	font-family: Roboto;
	font-weight: bold;
	font-size: 24px;
}
section.call-action .wrapper a:hover{
 	background: #5cb85c;
}
section.call-action .wrapper #email{
	width: 400px;
	height: 50px;
	display: inline-block;
	border-radius: 4px 0px 0px 4px;
}
section.call-action .wrapper .btn-success{
	border-radius: 0px 4px 4px 0px;
	height: 50px;
}

section.features h2{
	color: #FFF;
	text-align: center;
	font-size: 74px;
	text-shadow: #000 2px 3px 5px;
	font-family:Roboto;
	font-weight: bold;
}
section.features #layerslider{
	background: transparent url("../../../../img/lancamento/transparencia.png") top center fixed;
}
section.features #layerslider .title{
	width: 300px !important;
	height: auto !important;
}
section.features #layerslider .text{
	width: 400px;
	font-size: 27px;
	font-family: Roboto;
	text-align: justify;
	font-weight: bold;
}
section.features #layerslider .icon{
	text-shadow: 1px 1px 5px #000;
	color: #FFF;
}
section.features #layerslider h5 i:before{
	font-size: 80px;
}

footer{
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 75px;
}
footer ul{
	width: 264px;
	float: left;
	left: 30%;
	position: relative;
	top: 0px;
	margin: 60px 0px 0px 0px;
}
footer ul li{
	float: left;
	margin-right: 20px;
}
footer ul li a{
	color: #FFF;
}
footer ul li a:hover{
	color: #CCC;
	text-decoration: none;
}
footer ul li a i:before{
	font-size: 36px !important;
}
footer a i.flaticon:hover{
	text-shadow: 0px 0px 10px #FFF;
}
footer a i.flaticon-facebook7:hover{
	color: #3b5998;
}
footer a i.flaticon-social71:hover{
	color: #00aced;
}
footer a i.flaticon-google110:hover{
	color: #dd4b39;
}
footer a i.flaticon-linkedin2:hover{
	color: #007bb6;
}
footer figure{
	width: 662px;
	margin: 0px auto;
}
footer figure img{
	width: 100%;
}

/* Large desktop */
@media (min-width: 1200px) {
	header ul{
		right: 25%;
		margin: 90px 0px;
	}

	section.features #layerslider .title{
		width: 341px !important;
		height: auto !important;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	section.main .main-wrapper p{
		margin-top: 20%;
	}
	section.main h1{
		font-size: 45px;
	}

	section.features h2{
		font-size: 45px;
	}

	section.call-action .wrapper .btn-success{
		border-radius: 4px;
		width: 90%;
	}
	section.call-action .wrapper #email{
		width: 90%;
		border-radius: 4px;
		margin-bottom: 5px;
	}

	section.features #layerslider .title {
		width: 26vw !important;
		height: auto !important;
	}

	section.features #layerslider h5 i:before{
		font-size: 60px;
	}

	header ul{
		margin: 0px;
		right: 50%;
		margin-right: -211px;
	}

	footer ul {
		float: none;
		left: 0px;
		position: static;
		margin: 0 auto;
	}

	.visible-mobile{
		display: block !important;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	header h1{
		margin: 0px auto;
	}

	header ul{
		margin: 0px;
		right: 50%;
		margin-right: -211px;
	}
	header li.share i:before{
		font-size: 10vw !important;
	}
	header ul li a i.flaticon:before{
		font-size: 6vw;
	}

	section.main .main-wrapper{
		background: transparent;
	}

	section.main .main-wrapper p{
		margin: 0px;
		padding: 20px;
		font-size: 30px;
	}
	section.main .main-wrapper .main-col-2{
		background: transparent url("../../../../img/lancamento/transparencia.png") top center fixed;
		width: 100%;
	}

	section.call-action .wrapper .btn-success{
		border-radius: 4px;
		width: 90%;
		height: 70px;
		font-size: 5vw;
	}
	section.call-action .wrapper #email{
		width: 90%;
		height: 70px;
		border-radius: 4px;
		margin-bottom: 5px;
		font-size: 5vw;
	}

	section.features #layerslider h5 i:before{
		font-size: 9vw;
	}

	section.features #layerslider .title {
		width: 26vw !important;
		height: auto !important;
	}

	footer img{
		width: 100%;
	}

	footer ul {
		margin: 0px;
		width: auto;
		padding: 0px;
	}

	footer figure{
		width: 90%;
	}

	footer ul li a i:before{
		font-size: 10vw !important;
	}

	.visible-mobile{
		display: block !important;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	header h1{
		margin: 0px auto;
	}

	header ul{
		position: static;
		float: none;
		margin: 0;
		padding: 0px 12%;
	}

	header ul li{
		margin-right: 10px;
	}
	header li.share i:before{
		font-size: 10vw !important;
	}
	header ul li a{
		padding: 2px 4px;
	}
	header ul li a i.flaticon:before{
		font-size: 5vw;
	}

	section.main h1{
		font-size: 12vw;
	}
	section.main .main-wrapper p{
		font-size: 8vw;
	}

	section.features h2{
		font-size: 12vw;
	}

	section.call-action .wrapper{
		padding: 0px 5%;
	}

	section.call-action .wrapper .btn-success{
		border-radius: 4px;
		width: 90%;
		height: 50px;
		font-size: 6vw;
	}
	section.call-action .wrapper #email{
		width: 90%;
		height: 50px;
		border-radius: 4px;
		margin-bottom: 5px;
		font-size: 6vw;
	}
	section.call-action .wrapper a{
		font-size: 4vw;
		padding: 20px 25px;
	}

	section.features #layerslider .title{
		width: 26vw !important;
		height: auto !important;
	}

	section.features #layerslider h5 i:before{
		font-size: 9vw;
	}

	footer{
		margin-top: 0px;
	}

	footer figure{
		width: 90%;
	}

	footer ul {
		left: 20%;
		margin: 0px;
		padding: 0px;
	}

	footer ul li a i:before{
		font-size: 10vw !important;
	}

	.visible-mobile{
		display: block !important;
	}
}

a:focus{
	color: #FFF;
	text-decoration: none;
}

.clearfix{
	clear: both;
	height: 0px;
	visibility: hidden;
}

.row{
	margin-right: 0px;
}

.pZero{
	padding: 0px;
}