<div class="span3 first">
	<h4 class="block-title">ACESSE</h4>
	<div class="block-content clearfix">
		<div class="menu-footer-container">
			<ul id="menu-footer" class="menu">
				<li id="menu-item-1025" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1025">
					<a href=<?php echo $this->serverUrl();?>>Home</a>
				</li>
				<li id="menu-item-1026" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1026">
					<a href=<?php echo $this->serverUrl()."/sobre";?>>Sobre</a>
				</li>
				<li id="menu-item-1026" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1026">
					<a href=<?php echo $this->serverUrl()."/categorias";?>>Categorias</a>
				</li>
				<li id="menu-item-1026" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1026">
					<a href=<?php echo $this->serverUrl()."/planos-de-anuncio";?>>Planos de anúncio</a>
				</li>
				<li id="menu-item-1026" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1026">
					<a href=<?php echo $this->serverUrl()."/contato";?>>Contato</a>
				</li>
			</ul>
		</div>
	</div>
</div>