<div class="span3 first">
	<h4 class="block-title">LATEST  TWEETS</h4>
	<div class="block-content clearfix">
		<div class="jw-twitter">
			<ul class="jtwt">
				<li class="clearfix">
					<div class="category-icon-box"><i class="fa fa-twitter"></i></div>
					<span>Make sure you are following <a href="http://twitter.com/EnvatoMarket" title="Follow EnvatoMarket" target="_blank">@EnvatoMarket</a> for all your ThemeForest needs!</span><br><a class="twitter_time" target="_blank" href="http://twitter.com/themeforest/statuses/511389724733210624"></a>
				</li>
				<li class="clearfix">
					<div class="category-icon-box"><i class="fa fa-twitter"></i></div>
					<span>Eight marketplaces, one Envato Market. Join us: <a href="http://t.co/cLo2w7rWOx" title="http://t.co/cLo2w7rWOx" target="_blank">http://t.co/cLo2w7rWOx</a></span><br><a class="twitter_time" target="_blank" href="http://twitter.com/themeforest/statuses/499399743944921089"></a>
				</li>
			</ul>
		</div>
	</div>
</div>