<div class="span3 first">
    <h4 class="block-title">SOBRE</h4>
    <div class="block-content clearfix">
        <div class="textwidget">O Tem Pra Festa é um site de anúncios especializado em festas e eventos. <br><br> Aqui o seu produto e serviço fica em evidência! Anúncios grátis por 30 dias ou se preferir destaque sua empresa com o que você produz de melhor.
        </div>
    </div>
</div>