<!--<section id="partners">
    <div class="container clearfix">
            <div class="partner-logo">
                <img alt="parnter-logo" src="http://demo.designinvento.net/classiads/wp-content/uploads/2014/10/techstartmini1.png" />
            </div>
            <div class="partner-logo">
                <img alt="parnter-logo" src="http://demo.designinvento.net/classiads/wp-content/uploads/2014/10/Infinitymini1.png" />
            </div>
            <div class="partner-logo">
                <img alt="parnter-logo" src="http://demo.designinvento.net/classiads/wp-content/uploads/2014/10/Swanmini1.png" />
            </div>
            <div class="partner-logo">
                <img alt="parnter-logo" src="http://demo.designinvento.net/classiads/wp-content/uploads/2014/10/Sportmini1.png" />
            </div>
            <div class="partner-logo">
                <img alt="parnter-logo" src="http://demo.designinvento.net/classiads/wp-content/uploads/2014/10/rkomini1.png" />
            </div>
            <div class="partner-logo">
                <img alt="parnter-logo" src="http://demo.designinvento.net/classiads/wp-content/uploads/2014/10/audiopromini1.png" />
            </div>
    </div>
</section> -->
<footer>
    <div class="container">
        <div class="full">
            <?php echo $this->partial("partials/view/footer/block-one"); ?>
            <?php echo $this->partial("partials/view/footer/block-two"); ?>
            <?php //echo $this->partial("partials/view/footer/block-three"); ?>
            <?php echo $this->partial("partials/view/footer/block-four"); ?>
        </div>
    </div>
</footer>
<?php echo $this->partial("partials/view/footer/socket-section"); ?>