<section class="socket">
    <div class="container">
        <div class="site-info">
            Todos os direitos reservados @ 2015 - Design &amp; Development by <a href="#">Tem Pra Festa</a>
        </div>
        <div class="bottom-social-icons">
            <a class="target-blank" href="https://www.facebook.com/temprafesta" target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="target-blank" href="https://twitter.com/temprafesta" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="target-blank" href="https://plus.google.com/u/0/115802595672962402517" target="_blank" rel="publisher"><i class="fa fa-google-plus"></i></a>
            <a class="target-blank" href="https://www.linkedin.com/company/temprafesta" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="backtop" style="display: block;">
            <a href="#backtop"><i class="fa fa-angle-double-up"></i></a>
        </div>
    </div>
</section>