/* WIZARD */
#wizard .stepper{
	margin: 10px 0px;
}

#wizard .stepper > ul{
	counter-reset: li;
	border-top: 1px #1D1D1D dotted;
	position: relative;
	padding: 0;
	margin: 30px 0;
	width: 100%;
}

#wizard .stepper >ul li.current{
	background-color: #3C8DBC;
	transition: all 0.2s ease;
}

#wizard .stepper > ul li{
	list-style: none;
	float: left;
	margin-top: -1em;
	position: absolute;
	background: #666;
	cursor: pointer;
}

#wizard ul li{

}


#wizard .stepper > ul li:before{
	/*content: counter(li);
	counter-increment: li;*/
	position: absolute;
	box-sizing: border-box;
	padding: .3em 10px;
	color: #FFF;
	font-weight: bold;
	font-size: 1.5rem;
	text-align: center;
}

#wizard .stepper > ul li{
    padding: 0px 5px 0px 0px;
}

#wizard .stepper ul li:hover{
	background-color: #3C8DBC;
}

#wizard .stepper ul li a{
	color: #FFF;
}

#wizard .stepper ul li.current a span{
	background: #367FA9;
}

#wizard .stepper ul li a span{
	font-size: 22px;
	font-weight: bold;
	padding: 0px 4px;
	display: inline-block;
}

#wizard ul{
	font-weight: normal;
	font-style: normal;
	color: #000;
	font-size: 11pt;
	letter-spacing: 0.02em;
}

#wizard .steps{
	margin: 10px 0;
	padding: 20px;
	position: relative;
}

#wizard .steps .step:first-child{
	display: block;
}

#wizard .steps .step{
	position: relative;
	width: 100%;
	height: 100%;
	display: none;
}

#wizard .actions .group-left{
	float: left;
}

#wizard .actions .group-right{
	float: right;
}

/* UPLOAD */

.imagem_icone{
	width: 182px;
	height: 182px;
}

.imagem_logo{
	height: 93px;
}

.form-group.file output{
  width: 100%;
}

.form-group.file output p{
  text-align: left;
}

.form-group.file .btn.btn-file{
	margin: 0px;
}