<div id="version-two-menu" class="main_menu">
	<ul id="menu-main-menu" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-1205"><a href=<?php echo $this->serverUrl(); ?>>Home</a>
	<ul class="sub-menu" style="opacity: 0;">
		<li id="menu-item-1180" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-637 current_page_item menu-item-1180"><a href="http://demo.designinvento.net/classiads/home/">Home GeoMap</a></li>
		<li id="menu-item-1178" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1178"><a href="http://demo.designinvento.net/classiads/">Home LayerSlider</a></li>
	</ul>
	</li>
	<li id="menu-item-1019" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1019"><a href=<?php echo $this->serverUrl()."/"; ?>>Sobre</a></li>
	<li id="menu-item-1020" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1020"><a href="http://demo.designinvento.net/classiads/sample-page-2/">Categories</a></li>
	<li id="menu-item-988" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-988"><a href="#">Features</a>
	<ul class="sub-menu" style="opacity: 0; display: none;">
		<li id="menu-item-1024" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1024"><a href="http://demo.designinvento.net/classiads/tag-index/">Notifications</a></li>
		<li id="menu-item-1023" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1023"><a href="http://demo.designinvento.net/classiads/left-sidebar/">Left Sidebar</a></li>
		<li id="menu-item-1022" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1022"><a href="http://demo.designinvento.net/classiads/695-2/">FAQ</a></li>
	</ul>
	</li>
	<li id="menu-item-1011" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1011"><a href="http://demo.designinvento.net/classiads/pricing-plans/">Pricing Plans</a></li>
	<li id="menu-item-1021" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1021"><a href="http://demo.designinvento.net/classiads/contact/">Contact</a></li>
	</ul>
</div>