<ul class="ajax-register-links inline">
    <?php 

        $user = $this->session()->offsetGet('user');
        if ($user):

    ?>
    <li class="first">
        <a href="\system\classificado\normal" class="ctools-use-modal ctools-modal-ctools-ajax-register-style">Anúncie Grátis!</a>
    </li>
    
    <li class="first">
        <a href="\system" class="ctools-use-modal ctools-modal-ctools-ajax-register-style" title="Login">Minha Conta</a>
    </li>
    
    <li class="last">
        <a href="\system\auth\logout" class="ctools-use-modal ctools-modal-ctools-ajax-register-style" title="Logout">Sair</a>
    </li>
    <?php
        else:
    ?>
    <li class="first">
        <a href="\" class="ctools-use-modal ctools-modal-ctools-ajax-register-style" title="Register">Cadastre-se</a>
    </li>
    <li class="last login">
        <a href="\system\auth" class="ctools-use-modal ctools-modal-ctools-ajax-register-style" title="Login">Entrar</a>
    </li>
    <?php endif; ?>
</ul>