<?php
	/*if($classificado['tags']){
		$this->headMeta()->appendName('keywords', $classificado['tags']);
	}

	if($this->classificado["descricao"]){
		$description = html_entity_decode($this->classificado["descricao"]);
		$this->headMeta()->appendName('description', $description);
	}*/
	$endereco = $this->empresa["rua"].", ".$this->empresa["numero"]." ".$this->empresa["bairro"].", ".$this->empresa["cidade_nome"]." - ".$this->empresa["uf"];

	$email = $this->empresa['email'];
	$email = ($email == "" ? "Não informado." : "<a href='mailto:".$email."'>".$email."</a>");

	$telefone = $this->empresa['telefone'];
	$celular  = $this->empresa['celular'];
	$contato  = $telefone." | ".$celular;
	if($telefone == "" && $celular == ""){
		$telefone = "Não informado.";
		$celular  = "Não informado.";
		$contato  = "Não informado.";
	}

	$website = $this->empresa['website'];
	$website = ($website == "" ? "Não informado." : "<a href=".$website.">".$website."</a>");

	$this->headMeta()
            ->setProperty('og:locale', 'pt_BR')
            ->setProperty('og:type', 'website')
            ->setProperty('og:image:width', '1200')
            ->setProperty('og:image:height', '628')
            ->setProperty('og:site_name', 'Tem Pra Festa')
            ->setProperty('og:title', $this->empresa["nome"])
            ->setProperty('og:description', $this->empresa["descricao"])
            ->setProperty('og:image', $this->serverUrl('/img/lancamento/facebook_compartilhamento_site.jpg'))
            ->setProperty('og:image:url', $this->serverUrl('/img/lancamento/facebook_compartilhamento_site.jpg'))
            ->setProperty('og:image:type', 'image/jpeg')
            ->setProperty('og:image:width', '1200')
            ->setProperty('og:image:height', '628')
            ->setProperty('og:url', $this->serverUrl()."/empresa/empresa/".$this->empresa["id"]);
?>

<section class="ads-main-page">
	<input id="localRecovery" type="hidden" value=<?php echo "'".$endereco."'";?> />
	<input id="empresaIdRecovery" type="hidden" value=<?php echo "'".$this->empresa["id"]."'";?> />
	<div class="ad-title">
		<h2><?php echo $this->empresa["nome"]; ?></h2>
	</div>
	<section id="featured-abs">
		<div class="container" style="width:100%">
			<div id="tabs" class="full">
				<div class="pane">
					<div id="projects-carousel">
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<div class="span8 first">
		<style scoped="">.frame {height: 470px;line-height: 470px;overflow: hidden;}</style>
			<div class="single-slider">
				<div class="frame" id="basic">
					<ul class="clearfix">
						<?php
							$capa = "class='capa'";
							foreach($this->imagens as $imagem):
								$img = "/files/classificado/".$empresa["userId"]."/".$imagem["classificado_id"]."/".$imagem["nome"];
                        		
								echo "<li>";
								echo "<a href='/classificado/bebidas-decorada/".$imagem["classificado_id"]."'>";
								echo "<img ".$capa."src='".$img."' />";
								echo "</a>";
								echo '<div class="single-ad-price">';
								echo 'R$ '.$imagem["valor"];
								echo '</div>';
								echo "</li>";

								$capa = "";
							endforeach;
						?>
					</ul>
				</div>
				 <ul class="pages"></ul>
				<div class="clearfix"></div>
			</div>
			<div class="post-detail">
				<table class="ad-detail-half-box first-half">
					<tbody>
						<tr>
							<td>
								<span class="ad-detail-info">Local da empresa <span class="ad-detail">
						    		<?php echo "Rua ".$endereco; ?></span>
								</span>
								<span class="ad-detail-info">Número de visualizações <span class="ad-detail">
						    		<?php echo (int) $this->empresa['visualizacoes']; ?></span>
								</span>
								<span class="ad-detail-info">Anúncio adicionado desde <span class="ad-detail">
						    		<?php
						    			echo $this->dateFormat(
						    				$this->empresa["created"],
											IntlDateFormatter::MEDIUM,  // date
											IntlDateFormatter::NONE, // time
											"pt_BR"
										);
						    		?>
						    		</span>
								</span>
								<span class="ad-detail-info">Telefone <span class="ad-detail">
						    		<?php echo $telefone ?></span>
								</span>
								<span class="ad-detail-info">Celular <span class="ad-detail">
						    		<?php echo $celular ?></span>
								</span>
								<span class="ad-detail-info">E-mail <span class="ad-detail">
						    		<?php echo $email ?></span>
								</span>
								<span class="ad-detail-info">Website <span class="ad-detail">
						    		<?php echo $website; ?></span>
								</span>
								<!--<span class="ad-detail-info">Rating </span>-->
							</td>
						</tr>
					</tbody>
				</table>
				<table class="ad-detail-half-box">
					<tbody>
						<tr>
							<td>
								<div class="ad-detail-info description">
									<div class="description">DESCRIÇÃO:</div>
									<div class="text-description"><?php echo html_entity_decode($this->empresa["descricao"]); ?></div>
								</div>
								<?php 
									//if($empresa['tags']):
									if(0 == 1):
								?>
								<div class="ads-tags">
									<i class="fa fa-tags"></i>
									<span class="tag-title"><a>Tags:</a></span>
									<span>
									<?php
										$tags = explode(',', $classificado['tags']);
										$last = (count($tags)-1);

										foreach($tags as $key => $tag){
											$divisor = ",";
											if($last == $key)
												$divisor = ";";

											echo '<a href="/search/tag/'.$tag.'" rel="tag">'.$tag.$divisor.'</a>';
										}
									?>
									</span>
								</div>
								<?php endif; ?>
								<div class="social-single">
									<a href=<?php echo "https://www.facebook.com/sharer/sharer.php?u=".$this->serverUrl()."/empresa/empresa/".$this->empresa["id"]; ?> onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank">
										<img src="/img/site/botoes_compartilhamento/facebook.png" alt="Compartilhe no facebook">
									</a>
									<a href=<?php echo "https://twitter.com/home?status=".$this->serverUrl("/classificado/empresa/".$this->empresa["id"]); ?> onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank">
										<img src="/img/site/botoes_compartilhamento/twitter.png" alt="Compartilhe no Twitter">
									</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="clearfix"></div>		
			    <div id="single-page-map">
			    	<div id="single-page-main-map"></div>
				<div id="ad-address"><span><i class="fa fa-map-marker"></i><?php echo $this->empresa["cidade_nome"]." - ".$this->empresa["uf"]; ?></span></div>
				</div>

			</div>
			<div class="clearfix"></div>
			<div class="author-info clearfix">
				<div class="author-avatar">
				<?php
           	 		echo "<img src='/files/empresa/".$empresa["userId"]."/".$empresa["id"]."/".$empresa["imagem"]."' />";
           	 	?>
		    	</div>	
				<div class="author-detail-right clearfix">		
					<span class="ad-detail-info">
		    			<span class="ad-details"><i class="fa fa-envelope"></i>E-mail: <?php echo $email; ?></span>
					</span>
					<span class="ad-detail-info"> 
		    			<span class="ad-details"><i class="fa fa-phone"></i><?php echo "Contato: ".$contato;?></span>
					</span>
					<span class="ad-detail-info">
			    		<span class="ad-details"><i class="fa fa-globe"></i>Website: <?php echo $website; ?></span>
					</span>
				</div>
				<div class="ad-detail-info author-btn">
					<span class="author-profile-ad-details"><a href="javascript:void(0);" class="button-ag large green"><span class="button-inner"><?php echo explode(" ", $this->empresa["nome"])[0]; ?></span></a></span>
				</div>
			</div>
			<div class="full">
				<h3>CONTATE A EMPRESA <span>Ao realizar o contato, diga que viu o anúncio no Tem Pra Festa</span></h3>
				<div class="h3-seprator"></div>
				<div id="contact-ad-owner-v2">
					<?php 
						$contatoAnuncianteForm = $this->contatoAnuncianteForm;
						echo $this->form()->openTag($contatoAnuncianteForm);
						echo "<div>".$this->formText($contatoAnuncianteForm->get('contactName'))."</div>";
						echo "<div>".$this->formText($contatoAnuncianteForm->get('email'))."</div>";
						echo "<div>".$this->formTextArea($contatoAnuncianteForm->get('comments'))."</div>";
					?>
						<div class="clearfix"></div>
						<div class="btn-container" style="text-align:center;">
							<?php echo $this->formSubmit($contatoAnuncianteForm->get('submitted')); ?>	
						</div>
					<?php echo $this->form()->closeTag(); ?>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="cat-widget">
	    		<div class="cat-widget-content" id="destaques">
	    			<div class="cat-widget-title">
	    				<h3>DESTAQUES</h3>
	    				<div class="h3-seprator-sidebar"></div>
    				</div>
    				<div class="textwidget">
    					<div>
    					</div>
    				</div>
	    		</div>
	    	</div>
			<div class="custom-cat-widget">
				<div class="cat-widget custom-widget">
					<div class="cat-widget-title">
						<h3>ENCONTRE POR CATEGORIA</h3>
						<div class="h3-seprator-sidebar"></div>
					</div>
					<div class="cat-widget-content" id="encontre-por-categoria">
						<ul></ul>
					</div>
		    	</div>
	    	</div>
	    	<div class="cat-widget">
	    		<div class="cat-widget-content">
	    			<div class="cat-widget-title">
	    				<h3>ÚLTIMOS ADICIONADOS</h3>
	    				<div class="h3-seprator-sidebar"></div>
    				</div>
    				<div class="jw-recent-posts-widget">
    					<ul>
    					</ul>
    				</div>
	    		</div>
	    	</div>
		</div>
	</div>
</section>