<?php
	if($classificado['tags']){
		$this->headMeta()->appendName('keywords', $classificado['tags']);
	}

	if($this->classificado["descricao"]){
		$description = html_entity_decode($this->classificado["descricao"]);
		$this->headMeta()->appendName('description', $description);
	}

	$twitterText = urlencode("Confira o produto de ".$this->subcategoria->categoria_id->nome);
	$twitterShareURL = 'https://twitter.com/share?text='.$twitterText.'&url='.$this->serverUrl("/classificado/anuncio/".$classificado["id"]).'&via=temprafesta';

	$shareImage = "/files/classificado/".$classificado["userId"]."/".$classificado["id"]."/".$this->imagens[0]->nome;

    $this->headMeta()
            ->setProperty('og:locale', 'pt_BR')
            ->setProperty('og:type', 'website')
            ->setProperty('og:image:width', '1200')
            ->setProperty('og:image:height', '628')
            ->setProperty('og:site_name', 'Tem Pra 	Festa')
            ->setProperty('og:title', $this->classificado["titulo"])
            ->setProperty('og:description', $description)
            ->setProperty('og:image', $this->serverUrl($shareImage))
            ->setProperty('og:image:url', $this->serverUrl($shareImage))
            ->setProperty('og:image:type', $this->imagens[0]->mime_type)
            ->setProperty('og:url', $this->serverUrl()."/classificado/anuncio/".$classificado["id"]);
?>

<section class="ads-main-page">
	<input id="latitudeRecovery" type="hidden" value=<?php echo "'".$this->classificado["latitude"]."'";?> />
	<input id="longitudeRecovery" type="hidden" value=<?php echo "'".$this->classificado["longitude"]."'";?> />
	<input id="localRecovery" type="hidden" value=<?php echo "'".$this->classificado["nome_cidade"]." - ".$this->classificado["uf"]."'";?> />
	<input id="classificadoIdRecovery" type="hidden" value=<?php echo "'".$this->classificado["id"]."'";?> />
	<input id="subcategoriaRecovery" type="hidden" value=<?php echo "'".$this->classificado["subcategoria_id"]."'";?>
	 />
	 <input id="categoriaRecovery" type="hidden" value=<?php echo "'".$this->subcategoria->categoria_id->id."'";?>
	 />
	 <input id="map_markerRecovery" type="hidden" value=<?php echo "'".$this->subcategoria->categoria_id->map_marker."'";?> />
	<input id="tituloRecovery" type="hidden" value=<?php echo "'".$this->classificado["titulo"]."'";?> />
	<div class="ad-title">
		<h2><?php echo $this->classificado["titulo"]; ?>
			<span class="ad-page-price">
				<a href=<?php echo "'/search/category/".$this->subcategoria->categoria_id->id."'"; ?> title=<?php echo "'Veja tudo para ".$this->subcategoria->categoria_id->nome."'"; ?>><?php echo $this->subcategoria->categoria_id->nome; ?></a>
			</span>
		</h2>
	</div>
	<div class="container">
		<div class="span8 first">
		<style scoped="">.frame {height: 470px;line-height: 470px;overflow: hidden;}</style>
			<div class="single-slider">
				<div class="frame" id="basic">
					<ul class="clearfix">
						<?php
							$capa = "class='capa'";
							foreach($this->imagens as $imagem):
								$img = "/files/classificado/".$classificado["userId"]."/".$classificado["id"]."/".$imagem->nome;
                        		
								echo "<li>";
								echo "<img ".$capa." src='".$img."' title='".$imagem->nome."'' />";
								echo "</li>";
								$capa = "";
							endforeach;
						?>
					</ul>
					<div class="single-ad-price">
						<?php echo "R$ ".$this->classificado["valor"]; ?>
					</div>
				</div>
				 <ul class="pages"></ul>
				<div class="clearfix"></div>
			</div>
			<div class="post-detail">
				<div class="detail-cat clearfix">
					<div class="category-icon">
						<div class="category-icon-box"><i class=<?php echo "'".$this->subcategoria->categoria_id->icone."'"; ?>></i></div>
					</div>
				    <a href=<?php echo "'/search/category/".$this->subcategoria->categoria_id->id."'"; ?> title=<?php echo "'Veja tudo para ".$this->subcategoria->categoria_id->nome."'"; ?>><?php echo $this->subcategoria->categoria_id->nome; ?></a> 
				</div>	

				<table class="ad-detail-half-box first-half">
					<tbody>
						<tr>
							<td>
								<span class="ad-detail-info">Tipo <span class="ad-detail">
						    		<?php echo $this->subcategoria->nome; ?></span>
								</span>
								<span class="ad-detail-info">Valor <span class="ad-detail">
						    		<?php echo "R$ ".$this->classificado["valor"]; ?></span>
								</span>
								<span class="ad-detail-info">Local <span class="ad-detail">
						    		<?php echo $this->classificado["nome_cidade"]." - ".$this->classificado["uf"]; ?></span>
								</span>
								<span class="ad-detail-info">Número de visualizações <span class="ad-detail">
						    		<?php echo (int) $this->classificado['visualizacoes']; ?></span>
								</span>
								<span class="ad-detail-info">Adicionado desde <span class="ad-detail">
						    		<?php
						    			echo $this->dateFormat(
						    				$this->classificado["reactivated"],
											IntlDateFormatter::MEDIUM,  // date
											IntlDateFormatter::NONE, // time
											"pt_BR"
										);
						    		?>
						    		</span>
								</span>
								<?php if($this->favorito): ?>
									<span class="ad-detail-info favoritos">Já está no seu Favoritos
										<span class="ad-detail">
							    			<a href="javascript:void(0);" id="btn-favorite" class="added">Remover <i class="fa fa-star"></i></a>
							    		</span>
									</span>
								<?php
									else:
								?>
									<span class="ad-detail-info favoritos">Adicione aos Favoritos
										<span class="ad-detail">
							    			<a href="javascript:void(0);" id="btn-favorite">Clique aqui <i class="fa fa-star-o"></i></a>
							    		</span>
									</span>
								<?php endif; ?>
								<!--<span class="ad-detail-info">Rating </span>-->
							</td>
						</tr>
					</tbody>
				</table>
				<table class="ad-detail-half-box">
					<tbody>
						<tr>
							<td>
								<div class="ad-detail-info description">
									<div class="description">DESCRIÇÃO:</div>
									<div class="text-description"><?php echo html_entity_decode($this->classificado["descricao"]); ?></div>
								</div>
								<?php if($classificado['tags']): ?>
								<div class="ads-tags">
									<i class="fa fa-tags"></i>
									<span class="tag-title"><a>Tags:</a></span>
									<span>
									<?php
										$tags = explode(',', $classificado['tags']);
										$last = (count($tags)-1);

										foreach($tags as $key => $tag){
											$divisor = ",";
											if($last == $key)
												$divisor = ";";

											echo '<a href="/search/tag/'.$tag.'" rel="tag">'.$tag.$divisor.'</a>';
										}
									?>
									</span>
								</div>
								<?php endif; ?>
								<div class="social-single">
									<a href=<?php echo "https://www.facebook.com/sharer/sharer.php?u=".$this->serverUrl()."/classificado/anuncio/".$classificado["id"]; ?> onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank">
										<img src="/img/site/botoes_compartilhamento/facebook.png" alt="Compartilhe no facebook">
									</a>
									<a href=<?php echo $twitterShareURL; ?> onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank">
										<img src="/img/site/botoes_compartilhamento/twitter.png" alt="Compartilhe no Twitter">
									</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="clearfix"></div>		
			    <div id="single-page-map">
			    	<div id="single-page-main-map"></div>
				<div id="ad-address"><span><i class="fa fa-map-marker"></i><?php echo $this->classificado["nome_cidade"]." - ".$this->classificado["uf"]; ?></span></div>
				</div>

			</div>
			<div class="clearfix"></div>
			<div class="author-info clearfix">
				<div class="author-avatar">
				<?php
					$resourceImg = $this->classificado['perfil_imagem_file_memory'];
					if($resourceImg){
						$image = base64_encode(stream_get_contents($resourceImg));
           	 			echo "<img src='data:".$this->classificado['perfil_imagem_mime_type'].";base64,".$image."' />";
					} else{
						echo "<img src='".$this->serverUrl('/img/perfil_TemPraFesta.png')."' />";
					}
           	 		
           	 	?>
		    	</div>	
				<div class="author-detail-right clearfix">	
					<?php
						$email = $this->classificado['email'];
						$email = ($email == "" ? "Não informado." : "<a href='mailto:".$email."'>".$email."</a>");
					?>					
					<span class="ad-detail-info">
		    			<span class="ad-details"><i class="fa fa-envelope"></i>E-mail: <?php echo $email; ?></span>
					</span>
					<?php
						$telefone = $this->classificado['telefone'];
						$celular  = $this->classificado['celular'];
						$contato  = $telefone." | ".$celular;
						if($telefone == "" && $celular == "")
							$contato = "Não informado.";
					?>
					<span class="ad-detail-info"> 
		    			<span class="ad-details"><i class="fa fa-phone"></i><?php echo "Contato: ".$contato;?></span>
					</span>
					<?php
						$website = $this->classificado['website'];
						$website = ($website == "" ? "Não informado." : "<a href=".$website.">".$website."</a>");
					?>
					<span class="ad-detail-info">
			    		<span class="ad-details"><i class="fa fa-globe"></i>Website: <?php echo $website; ?></span>
					</span>
				</div>
				<div class="ad-detail-info author-btn">
					<span class="author-profile-ad-details"><a href="javascript:void(0);" class="button-ag large green"><span class="button-inner"><?php echo explode(" ", $this->classificado["perfil_nome"])[0]; ?></span></a></span>
				</div>
			</div>
			<div class="full">
				<h3>CONTATE O ANUNCIANTE <span>Ao realizar o contato, diga que viu o anúncio no Tem Pra Festa</span></h3>
				<div class="h3-seprator"></div>
				<div id="contact-ad-owner-v2">
					<?php 
						$contatoAnuncianteForm = $this->contatoAnuncianteForm;
						echo $this->form()->openTag($contatoAnuncianteForm);
						echo "<div>".$this->formText($contatoAnuncianteForm->get('contactName'))."</div>";
						echo "<div>".$this->formText($contatoAnuncianteForm->get('email'))."</div>";
						echo "<div>".$this->formTextArea($contatoAnuncianteForm->get('comments'))."</div>";
					?>
						<div class="clearfix"></div>
						<div class="btn-container" style="text-align:center;">
							<?php echo $this->formSubmit($contatoAnuncianteForm->get('submitted')); ?>	
						</div>
					<?php echo $this->form()->closeTag(); ?>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="related-abs">
				<h3>ANÚNCIOS INTERESSANTES</h3>
				<div class="h3-seprator-sidebar"></div>
	    			<div class="frame-related" id="basic-related">
	    				<ul class="clearfix">
		    			</ul>
	    			</div>
	    			<ul class="pages"></ul>
			</div>
			<div class="cat-widget">
	    		<div class="cat-widget-content" id="destaques">
	    			<div class="cat-widget-title">
	    				<h3>DESTAQUES</h3>
	    				<div class="h3-seprator-sidebar"></div>
    				</div>
    				<div class="textwidget">
    					<div>
    					</div>
    				</div>
	    		</div>
	    	</div>
			<div class="custom-cat-widget">
				<div class="cat-widget custom-widget">
					<div class="cat-widget-title">
						<h3>ENCONTRE POR CATEGORIA</h3>
						<div class="h3-seprator-sidebar"></div>
					</div>
					<div class="cat-widget-content" id="encontre-por-categoria">
						<ul> 
						</ul>
					</div>
		    	</div>
	    	</div>
	    	<div class="cat-widget">
	    		<div class="cat-widget-content">
	    			<div class="cat-widget-title">
	    				<h3>ÚLTIMOS ADICIONADOS</h3>
	    				<div class="h3-seprator-sidebar"></div>
    				</div>
    				<div class="jw-recent-posts-widget">
    					<ul>
    					</ul>
    				</div>
	    		</div>
	    	</div>
	    	<div class="cat-widget" id="tagcloud">
	    		<div class="cat-widget-content">
	    			<div class="cat-widget-title">
	    				<h3>TAGS</h3>
	    				<div class="h3-seprator-sidebar"></div>
    				</div>
    				<div class="tagcloud">

					</div>
				</div>
			</div>
		</div>
	</div>
</section>