.marker-info-title {
color: #FFF;
text-shadow: 1px 1px 3px #000;
font-size: 22px;
}

.ads-empresa{
	position: absolute;
	text-align: center;
	top: 10px;
	left: 10px;
	min-width: 75px;
	background: #fff;
	height: 32px;
	line-height: 32px;
	color: #000;
}

#featured-abs .ad-hover-content .ad-category .category-icon-box{
	border: 1px solid #870306;
}