<footer id="footer" class="footer light">
    <div class="container-fluid">
        <div class="footer-content row">
            <div class="col-xs-12">
                <div class="col-sm-6 meio-pagamento text-center">
                    <h1>FORMAS DE PAGAMENTO</h1>
                    <div class="col-lg-12">
                        <a href="https://pagseguro.uol.com.br/sobre_o_pagseguro.jhtml" title="PagSeguro - A forma mais segura de comprar" target="_blank">
                            <img class="img-responsive" src=<?php echo '"'.$this->serverUrl("/img/marketing/landing-page/conheca/tem-pra-festa-pagseguro.png").'"';?> alt="PagSeguro">
                        </a>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-xs-3"><i class="flaticon flaticon-barscode3" data-toggle="tooltip" data-placement="bottom" title="Boleto Bancário"></i></div>
                        <div class="col-xs-3"><i class="flaticon flaticon-visa5" data-toggle="tooltip" data-placement="bottom" title="Cartões VISA"></i></div>
                        <div class="col-xs-3"><i class="flaticon flaticon-mastercard5" data-toggle="tooltip" data-placement="bottom" title="Cartões Master Card"></i></div>
                        <div class="col-xs-3"><i class="flaticon flaticon-american16" data-toggle="tooltip" data-placement="bottom" title="Cartões American Express"></i></div>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="clearfix visible-sm"></div>
                </div>
                <div class="col-sm-offset-2 col-sm-4 access-wrap">
                    <h1>ACESSE</h1>
                    <div class="col-xs-6">
                        <h2>SITE:</h2>
                        <ul class="paddingZero">
                            <li>
                                <a href=<?php echo '"'.$this->serverUrl().'"'; ?>>HOME</a>
                            </li>
                            <li>
                                <a href=<?php echo '"'.$this->serverUrl("/sobre").'"'; ?>>SOBRE</a>
                            </li>
                            <li>
                                <a href=<?php echo '"'.$this->serverUrl("/contato").'"'; ?>>CONTATO</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <h2>ESTA PÁGINA:</h2>
                        <ul class="paddingZero">
                            <li>
                                <a href="#main">VOLTAR AO TOPO</a>
                            </li>
                            <li>
                                <a href="#benefits">CONHEÇA OS ANÚNCIOS</a>
                            </li>
                            <li>
                                <a href="#features">CARACTERÍSTICAS</a>
                            </li>
                            <li>
                                <a href="#plans">PLANOS</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="clearfix visible-sm"></div>
                </div>
            </div>
            <div class="col-xs-12"><div class="separator"></div></div>
            <div class="col-xs-12">
                <div class="col-sm-6">
                    <div class="logo-wrapper">
                        <img class="img-responsive hiding" src=<?php echo '"'.$this->serverUrl("/img/marketing/landing-page/conheca/logo-tem-pra-festa.png").'"';?> alt="Tem Pra Festa" title="Tem Pra Festa - Muito mais do que só anúncios">
                    </div>
                    <p>O Tem Pra Festa é um site de anúncios especializado em festas e eventos.</p>
                    <p>Aqui o seu produto e serviço fica em evidência! Anúncios grátis por 30 dias ou se preferir destaque sua empresa com o que você produz de melhor.</p>
                    <div class="clearfix visible-xs"></div>
                    <div class="clearfix visible-sm"></div>
                </div>
                <div class="col-sm-6 social-wrap hiding">
                    <h1 class="footer-title">ACOMPANHE AS NOVIDADES</h1>
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/temprafesta"><span class="flaticon flaticon-facebook3"></span></a></li>
                        <li><a href="https://twitter.com/temprafesta"><span class="flaticon flaticon-twitter"></span></a></li>
                        <li><a href="https://plus.google.com/u/0/115802595672962402517"><span class="flaticon flaticon-google-plus"></span></a></li>
                        <li><a href="https://www.linkedin.com/company/temprafesta"><span class="flaticon flaticon-linkedin1"></span></a></li>
                    </ul>
                    <div class="clearfix visible-xs"></div>
                    <div class="clearfix visible-sm"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">Tem Pra Festa 2015. Todos os direitos reservados.</div>
</footer>