<section id="features-list" class="text-center">
    <div class="container-fluid hiding">
        <div class="col-xs-12">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center feature-active">
    				<i class="flaticon flaticon-magnifyingglass15"></i>
                    <span class="h7">FÁCIL DE ENCONTRAR</span>
                    <p class="thin">Encontre tudo o que deseja relacionado a festas e eventos.</p>
                </article>
            </div>
    		<div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center feature-active">
    				<i class="flaticon flaticon-situation"></i>
                    <span class="h7">ENCONTRE PERTO DE VOCÊ</span>
                    <p class="thin">Realize buscas e seja encontrado de maneira mais fácil e precisa com a tecnologia de geolocalização, encontre o que está próximo de você.</p>
                </article>
            </div>
    		<div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center feature-active">	
    				<i class="flaticon flaticon-windows10"></i>
                    <span class="h7">SEJA ENCONTRADO EM TODAS AS TELAS</span>
                    <p class="thin">Utilizando a técnica de layout responsivo o seu negócio pode ser encontrado na maioria dos dispositivos tecnológicos.</p>
                </article>
            </div>             
    		<div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">	
    				<i class="flaticon flaticon-hand27"></i>
                    <span class="h7">MOBILE APP</span>
                    <p class="thin">Também é possível encontrar ou ser encontrado nos dispositivos móveis Android, IOS, Windows Phone, Firefox e Blackberry.</p>
                </article>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">    
                    <i class="flaticon flaticon-time51"></i>
                    <span class="h7">PUBLICAÇÕES PROGRAMADAS</span>
                    <p class="thin">Cadastre agora e publique depois. Tenha autonomia para definir quando você quer começar a divulgar o seu negócio.</p>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center feature-active">    
                    <i class="flaticon flaticon-seo50"></i>
                    <span class="h7">TARGETING</span>
                    <p class="thin">Divulgação direto ao seu mercado e público alvo.</p>
                </article>
            </div>
            <div class="clear"></div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">    
                    <i class="flaticon flaticon-avatar"></i>
                    <span class="h7">KEY USER</span>
                    <p class="thin">Obtenha usuários chaves para divulgar e "falar bem" do seu negócio para você.</p>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">    
                    <i class="flaticon flaticon-file148"></i>
                    <span class="h7">DADOS ESTATÍSTICOS</span>
                    <p class="thin">Acompanhe o andamento do seu anúncio e campanha de marketing através de dados estatísticos gerado pelo Tem Pra Festa.</p>
                </article>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">    
                    <i class="flaticon flaticon-tick16"></i>
                    <span class="h7">META E FOCO NA DIVULGAÇÃO</span>
                    <p class="thin">Defina a meta de sua campanha de marketing, quantas pessoas deseja alcançar, localidade que deseja ser divulgado.</p>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">    
                    <i class="flaticon flaticon-money2"></i>
                    <span class="h7">USUÁRIOS PUBLISHERS</span>
                    <p class="thin">Ganhe dinheiro divulgando campanhas de marketing de anunciantes.</p>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">    
                    <i class="flaticon flaticon-crown37"></i>
                    <span class="h7">RANKING DE ANÚNCIOS</span>
                    <p class="thin">Seja o primeiro colocado no ranking e acumule pontos para ganhar prêmios.</p>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">    
                    <i class="flaticon flaticon-award52"></i>
                    <span class="h7">BADGES</span>
                    <p class="thin">Divirta-se ganhando badges ao cumprir missões e interações na plataforma de anúncios, definidas pelo Tem Pra Festa.</p>
                </article>
            </div>
        </div>
        <div class="col-xs-12 legenda text-left">
            <div class="col-xs-12">
                <span class="active"></span>
                <em>Característica disponível e funcionando no Tem Pra Festa.</em>
            </div><div class="col-xs-12">
                <span class="inactive"></span>
                <em>Característica indisponível ou ainda não foi desenvolvido no Tem Pra Festa.</em>
            </div>
        </div>
    </div>
</section>