<section id="features" class="section inverted">
  <div class="container-fluid">
      <div class="section-content">
          <div id="featuredTab">
            <ul class="list-unstyled hiding"> 
              <li class="active">
                  <a href="#facil-de-encontrar" data-toggle="tab">
                      <div class="tab-info">
                        <div class="tab-icon text-center hidden-lg">
                          <i class="flaticon flaticon-magnifyingglass15"></i>
                        </div>
                        <div class="tab-title hidden-xs hidden-sm hidden-md">Fácil de encontrar</div>
                        <div class="tab-desc hidden-xs hidden-sm hidden-md">Encontre tudo o que deseja relacionado a festas e eventos.</div>
                      </div>
                  </a>
              </li>
              <li class="">
                  <a href="#encontre-perto-de-voce" data-toggle="tab">
                      <div class="tab-info">
                        <div class="tab-icon text-center hidden-lg">
                          <i class="flaticon flaticon-situation"></i>
                        </div>
                        <div class="tab-title hidden-xs hidden-sm hidden-md">Encontre perto de você</div>
                        <div class="tab-desc hidden-xs hidden-sm hidden-md">Realize buscas e seja encontrado de maneira mais fácil e precisa com a tecnologia de geolocalização, encontre o que está próximo de você.</div>
                      </div>
                  </a>
              </li>
              <li class="">
                  <a href="#seja-encontrado-em-todas-as-telas" data-toggle="tab">
                      <div class="tab-info">
                        <div class="tab-icon text-center hidden-lg">
                          <i class="flaticon flaticon-windows10"></i>
                        </div>
                        <div class="tab-title hidden-xs hidden-sm hidden-md">Seja encontrado em todas as telas</div>
                        <div class="tab-desc hidden-xs hidden-sm hidden-md">Utilizando a técnica de layout responsivo o seu negócio pode ser encontrado na maioria dos dispositivos tecnológicos.</div>
                      </div>
                  </a>
              </li>
            </ul>

            <div class="tab-content hiding">
              <div class="tab-pane active" id="facil-de-encontrar"><img src=<?php echo '"'.$this->serverUrl("/img/marketing/landing-page/conheca/tem-pra-festa-facil-de-encontrar.png").'"'; ?> class="img-responsive animated fadeInLeft" alt="Fácil de encontrar"></div>
              <div class="tab-pane" id="encontre-perto-de-voce"><img src=<?php echo '"'.$this->serverUrl("/img/marketing/landing-page/conheca/tem-pra-festa-encontre-perto-voce.png").'"'; ?> class="img-responsive animated fadeInLeft" alt="Encontre perto de você"></div>
              <div class="tab-pane" id="seja-encontrado-em-todas-as-telas"><img src=<?php echo '"'.$this->serverUrl("/img/marketing/landing-page/conheca/tem-pra-festa-em-todas-telas.png").'"'; ?> class="img-responsive animated fadeInLeft" alt="Seja encontrado em todas as telas"></div>
            </div>
          </div>
      </div>
  </div>
</section>