<?php
  $URLBase = "http://www.temprafesta.com.br/conheca-o-tem-pra-festa?1";
  $twitterTextoCompartilhamento = urlencode("Descobri muitas vantagens no Tem Pra Festa, venha descobrir também!");
  $twitterShareURL  = "http://twitter.com/intent/tweet?text=".$twitterTextoCompartilhamento."&url=".$URLBase;

  $linkedInSource   = urlencode("Conheça o Tem Pra Festa");
  $linkedInTextoCompartilhamento = urlencode("O Tem Pra Festa possui várias vantagens, que vão transformar o seu produto no interesse do usuário, alcançar o seu cliente por você, impulsionar a sua empresa...");
  $linkedInTitle    = urlencode("Descobri muitas vantagens  no Tem Pra Festa, que podem ajudar a muitos empreendedores.");
  $linkedInShareURL = "https://www.linkedin.com/shareArticle?mini=true&url=".$URLBase."&title=".$linkedInTitle."&summary=".$linkedInTextoCompartilhamento."&source=".$linkedInSource;

  $facebookShareURL = "http://www.facebook.com/sharer/sharer.php?u=".$URLBase;
  $gPlusShareURL    = "https://plus.google.com/share?url=".$URLBase;
?>

<nav id="conheca-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#main" title="Tem Pra Festa - Muito mais do que só anúncios">
            <img height="20px" alt="Tem Pra Festa" src=<?php echo '"'.$this->serverUrl("/img/marketing/landing-page/conheca/logo-tem-pra-festa.png").'"'; ?>>
          </a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#benefits" title="Aqui está os segmentos que o Tem Pra Festa atua">CONHEÇA OS ANÚNCIOS</a>
                </li>
                <li><a href="#features" title="Aqui está algo bem interessante...">CARACTERÍSTICAS</a>
                </li>
                <li><a href="#plans" title="Aqui está os planos de investimento do seu negócio">PLANOS</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="share"><a href="javascript:void(0)"><i class="flaticon flaticon-social24"></i></a></li>
              <li class="facebook"><a href=<?php echo '"'.$facebookShareURL.'"'; ?> title="Fale sobre está novidade para seus amigos do Facebook"><i class="flaticon flaticon-facebook55"></i></a></li>
              <li class="twitter"><a href=<?php echo '"'.$twitterShareURL.'"'; ?> title="Diga como é interessante o que descobriu"><i class="flaticon flaticon-twitter1"></i></a></li>
              <li class="google"><a href=<?php echo '"'.$gPlusShareURL.'"'; ?> title="Fale sobre está novidade para seus amigos do Google Plus"><i class="flaticon flaticon-google116"></i></a></li>
              <li class="linkedin"><a href=<?php echo '"'.$linkedInShareURL.'"'; ?> title="Compartilhe a oportunidade que descobriu aqui"><i class="flaticon flaticon-linkedin11"></i></a></li>
            </ul>
        </div>
    </div>
</nav>