<?php

	echo $this->messages();

	$formEmpresa  = $this->formEmpresa;
	$formEndereco = $this->formEndereco;
	$formContato  = $this->formContato;
?>

<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
		    <div class="box-header">
		        <h3 class="box-title">Dados da empresa</h3>
		    </div>
		    <div class="box-body">
		    <?php
	    		echo $this->form()->openTag($formEmpresa);
				echo $this->formHidden($formEmpresa->get('id'));
			?>
				<fieldset class="scheduler-border">
    			<legend class="scheduler-border"><span>*</span>Dados Básicos</legend>

    				<?php if(isset($this->edicao) && $this->edicao === true): ?>
					<div class="form-group">
		                <?php
		                    echo "<label>".$this->formCheckbox($formEmpresa->get('status'))."Ativo/Inativo</label>";
		                ?>
		            </div>
		        	<?php endif; ?>

					<div class="form-group">
						<?php
							echo $this->formLabel($formEmpresa->get('nome'));
							echo $this->formText($formEmpresa->get('nome'));
						?>
					</div>

					<div class="form-group">
						<?php
							echo $this->formLabel($formEmpresa->get('descricao'));
							echo $this->formTextArea($formEmpresa->get('descricao'));
						?>
					</div>

					<div class="form-group file">
					    <output></output>
					    <div class="clear"></div>
					    <div class="btn btn-primary btn-flat btn-file">
					        <label for="imagem">Selecionar logo da empresa</label>
					    </div>
					    <?php echo $this->formFile($this->formFileField->get('imagem')); ?>
					</div>

					<div class="form-group select" id="estados">
						<?php
							echo $this->formLabel($this->formComboboxEstado->get('estado_id'));
							echo $this->formSelect($this->formComboboxEstado->get('estado_id'));
						?>
					</div>

					<div class="form-group select" id="cidades">
						<?php
							echo $this->formLabel($formEmpresa->get('cidade_id'));
							echo $this->formSelect($formEmpresa->get('cidade_id'));
						?>
					</div>
				</fieldset>

				<fieldset class="scheduler-border">
    			<legend class="scheduler-border"><span>*</span>Endereço</legend>
	    			<div class="form-group">
						<?php
							echo $this->formLabel($formEndereco->get('rua'));
							echo $this->formText($formEndereco->get('rua'));
						?>
					</div>

					<div class="form-group">
						<?php
							echo $this->formLabel($formEndereco->get('numero'));
							echo $this->formNumber($formEndereco->get('numero'));
						?>
					</div>

					<div class="form-group">
						<?php
							echo $this->formLabel($formEndereco->get('bairro'));
							echo $this->formText($formEndereco->get('bairro'));
						?>
					</div>
    			</fieldset>

    			<fieldset class="scheduler-border">
    			<legend class="scheduler-border">Contatos da empresa</legend>
    				<div class="form-group">
						<?php
							echo $this->formLabel($formContato->get('email'));
							echo "<div class='input-group'>";
							echo "<span class='input-group-addon'><i class='fa fa-envelope'></i></span>";
							echo $this->formEmail($formContato->get('email'));
							echo "</div>";
						?>
					</div>

					<div class="form-group">
						<?php
							echo $this->formLabel($formContato->get('website'));
							echo "<div class='input-group'>";
							echo "<span class='input-group-addon'><i class='fa fa-globe'></i></span>";
							echo $this->formText($formContato->get('website'));
							echo "</div>";
						?>
					</div>

					<div class="form-group">
						<?php
							echo $this->formLabel($formContato->get('telefone'));
							echo "<div class='input-group'>";
							echo "<div class='input-group-addon'><i class='fa fa-phone'></i></div>";
							echo $this->formText($formContato->get('telefone'));
							echo "</div>";
						?>
					</div>

					<div class="form-group">
						<?php
							echo $this->formLabel($formContato->get('celular'));
							echo "<div class='input-group'>";
							echo "<div class='input-group-addon'><i class='fa fa-phone'></i></div>";
							echo $this->formText($formContato->get('celular'));
							echo "</div>";
						?>
					</div>
    			</fieldset>

    			<fieldset class="scheduler-border">
    			<legend class="scheduler-border">Redes Sociais</legend>
				<?php
					$i = 0;
					foreach($this->midiasSociais as $midiaSocial):
						$value = "";
						if(isset($this->empresaMidiaSocial)){
							$valor_midia_social = array_search_midia_social($this->empresaMidiaSocial, $midiaSocial->id);
						}

						if( isset($valor_midia_social) ){
							$value = "value='".$valor_midia_social->url."'";
						}
						else
							$value = "";
				?>
				<div class="form-group">
					<label for=<?php echo $midiaSocial->nome; ?>><?php echo "URL ".$midiaSocial->nome; ?></label>
					<input name=<?php echo "midiaSocial[".$this->midiasSociais[$i]->id."]"; ?> class="form-control" id=<?php echo $midiaSocial->nome; ?> type="text" <?php echo $value; ?>>
				</div>
				<?php
					$i++;
					endforeach;
				?>
				</fieldset>

				<?php 
					echo $this->formSubmit($formEmpresa->get('submit'));
					echo $this->form()->closeTag();
				?>
		    </div>
		</div>
	</div>
</div>

<?php

function array_search_midia_social($valueMidiaSocial, $itemValue){
	foreach ($valueMidiaSocial as $key => $value) {
		if($value->midia_social_id->id == $itemValue){

			return $valueMidiaSocial[$key];
		}
	}

	return null;
}