<?php
    echo $this->messages();
    if(isset($this->empresas)):
?>
<div class="row">
    <div class="col-xs-12" style="margin-bottom: 15px;">
        <a class="btn btn-default btn-lg" href="/system/empresa/cadastro">
            <span class="glyphicon glyphicon-plus-sign" style="color: green;"></span> Nova empresa
        </a>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Lista de empresas</div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Logo da empresa</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Status</th>
                        <th colspan="3">Ações</th>
                    </tr>
                </thead>
                <tbody>
                <?php
                    foreach($this->empresas as $empresa):
                        $status = ($empresa[0]->status == 0 ? "Inativo" : "Ativo");

                        $image = "/files/empresa/".$empresa[0]->usuario_id."/".$empresa[0]->id."/".$empresa[0]->imagem;
                ?>
                    <tr>
                        <td class="img"><?php echo "<img class='resize' src='".$image."' />"; ?></td>
                        <td class="nome"><?php echo $empresa[0]->nome; ?></td>
                        <td class="descricao"><?php echo $empresa[0]->descricao; ?></td>
                        <td class="status"><?php echo $status; ?></td>
                        <td><a href="javascript:void(0);"><i class="glyphicon glyphicon-eye-open" data-toggle='tooltip' data-modal data-url=<?php echo "/system/empresa/ws/format/json/e/".$empresa[0]->id; ?> title="Visualizar dados detalhados"></i></a></td>
                        <td><a href=<?php echo "/system/empresa/cadastro/edicao/".$empresa[0]->id;?>><i class="glyphicon glyphicon-pencil" data-toggle='tooltip' title="Alterar empresa"></i></a></td>
                        <td><a class="delete" href=<?php echo "/system/empresa/delete/id/".$empresa[0]->id;?>><i class="glyphicon glyphicon-remove" data-toggle='tooltip' title="Desativar empresa"></i></a></td>
                        <td class="data-empresa hidden">
                            <div class="cidade"><?php echo $empresa["nomeCidade"]; ?></div>
                            <div class="estado"><?php echo $empresa["ufEstado"]; ?></div>
                            <div class="rua"><?php echo $empresa["enderecoRua"]; ?></div>
                            <div class="numero"><?php echo $empresa["enderecoNumero"]; ?></div>
                            <div class="bairro"><?php echo $empresa["enderecoBairro"]; ?></div>
                            <div class="email"><?php echo $empresa["contatoEmail"]; ?></div>
                            <div class="telefone"><?php echo $empresa["contatoTelefone"]; ?></div>
                            <div class="celular"><?php echo $empresa["contatoCelular"]; ?></div>
                            <div class="midiasSociais">
                            <?php //foreach(): ?>
                            <?php //endforeach; ?>
                            </div>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
                <tfoot>
                    <th>Logo da empresa</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th colspan="3">Ações</th>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<?php

        echo $this->paginationControl(
            $this->empresas,
            'Sliding',
            'partials/paginator/control.phtml'
        );

    else:
        echo "Nenhuma empresa cadastrada. <a href='/system/empresa/cadastro'>Clique aqui para cadastrar.</a>";
    endif;

?>