.text-description b{
	font-weight: bold;
}

.text-description h1,
.text-description h2,
.text-description h3,
.text-description h4,
.text-description h5,
.text-description h6{
	margin-top: 0px;
	color: #888888;
}

.text-description a{
	text-decoration: underline !important;
}

.marker-info-title{
	color: #FFF;
	text-shadow: 1px 1px 3px #000;
	font-size: 22px;
}

.single-slider .frame ul li{
	background: transparent;
}

.pages li{
	background: #000 !important;
	border:2px solid #FFF !important;
}

.pages li.active{
	border: 1px solid #FFF !important;
	background: #870306 !important;
}

.author-info .author-btn .button-ag{
	/*margin-left: 10px;*/
}
.author-info .author-btn .button-ag span.button-inner{
	/*width: 139px;*/
}
.author-info .author-avatar img{
	width: 150px;
	height: 150px;
}

.container .full h3 span{
	display: block;
	color: #888;
	font-size: 12px;
	line-height: 12px;
}

#basic-related ul li{
	position: relative;
}
#basic-related ul li .related-ad-price{
	position: absolute;top: 10px;
	right: 10px;
	background: #870306;
	color: #FFF;
	padding: 2px;
}
#basic-related ul li .related-ad-title{
	position: absolute;
	bottom: 10px;
	right: 10px;
	background: #888;
	color: #FFF;
	padding: 2px;
}

.related-abs .frame-related ul li{
	background: transparent;
}

.favoritos span a .fa{
	font-size: 18px;
	color: #FFA500;
}

/** ICONES **/
i.flaticon::before {
	font-size: 24px;
}