<?php echo $this->doctype(); ?>

<!--[if IE 7]>
<html class="ie ie7" lang="pt-BR">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="pt-BR">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="pt-BR">
<!--<![endif]-->
    <head>
        <meta charset="UTF-8">
        <?php

            if($this->layout()->title != ""){
                echo "<title>".$this->layout()->title." | Temprafesta</title>";
            } else{
                echo $this->headTitle();
            }

            echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <link rel="profile" href="http://gmpg.org/xfn/11">
        <?php
            echo $this->headLink(array(
                    'rel'  => 'shortcut icon',
                    'type' => 'image/x-icon',
                    'href' =>      $this->basePath() . '/img/favicon.ico'
                )
            )
                ->prependStylesheet($this->basePath() . "/css/theme/marketing/lancamento/flaticon.css")
                ->prependStylesheet($this->basePath() . "/css/theme/toastr/toastr.min.css")
                ->prependStylesheet($this->basePath() . "/css/theme/marketing/layerslider/layerslider.css")
                ->prependStylesheet($this->basePath() . "/css/theme/marketing/lancamento/lancamento.css")
                ->prependStylesheet($this->basePath() . '/css/theme/bootstrap.min.css')
                ->prependStylesheet("//fonts.googleapis.com/css?family=Roboto+Slab:700%7CRaleway:800,700,600%7CRoboto:300%7CLato&amp;subset=latin&amp;v=1413577460");
        ?>

        <?php
            echo $this->headScript()
                ->prependFile($this->basePath() . '/js/theme/plugins/mobile-detect/mobile-detect.min.js')
                ->prependFile($this->basePath() . '/js/theme/marketing/jquery/jquery-easing-1.3.js')
                ->prependFile($this->basePath() . '/js/theme/marketing/jquery/jquery-transit-modified.js')
                ->prependFile($this->basePath() . '/js/theme/marketing/layerslider/layerslider.transitions.js')
                ->prependFile($this->basePath() . '/js/theme/marketing/layerslider/layerslider.kreaturamedia.jquery.js')
                ->prependFile($this->basePath() . '/js/theme/plugins/toastr/toastr.min.js')
                ->prependFile($this->basePath() . '/js/theme/plugins/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath() . '/js/theme/plugins/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath() . '/js/theme/bootstrap.min.js')
                ->prependFile($this->basePath() . '/js/theme/framework.js');

            echo $this->JsLoader();
        ?>

    </head>
    <body>
        <header>
            <div class="row">
                <div class="col-xs-12 col-lg-8 col-md-12 col-sm-12">
                    <h1><img src="/img/lancamento/logo_temprafesta.png" /></h1>
                </div>
                <div class="col-xs-12 col-lg-4 col-md-12 col-sm-12">
                    <ul>
                        <li class="share"><a href="javascript:void(0);"><i class="flaticon flaticon-share21"></i></a></li>
                        <li class="facebook"><a href="http://www.facebook.com/sharer/sharer.php?u=xxxxx"><i class="flaticon flaticon-facebook55"></i></a></li>
                        <li class="twitter"><a href="http://twitter.com/intent/tweet?text=xxxx"><i class="flaticon flaticon-twitter33"></i></a></li>
                        <li class="google"><a href="https://plus.google.com/share?url=xxxx"><i class="flaticon flaticon-google116"></i></a></li>
                        <li class="linkedin"><a href="https://www.linkedin.com/shareArticle?mini=true&url=xxxx&title=zzzz"><i class="flaticon flaticon-linkedin11"></i></a></li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
            </div>
        </header>
        <?php echo $this->content; ?>
        <div class="clearfix"></div>
        <footer>
            <div class="row">
                <div class="col-xs-12 col-md-4 col-sm-12">
                    <ul>
                        <li><a href="https://www.facebook.com/temprafesta"><i class="flaticon flaticon-facebook7"></i></a></li>
                        <li><a href="https://twitter.com/temprafesta"><i class="flaticon flaticon-social71"></i></a></li>
                        <li><a href="https://plus.google.com/u/0/115802595672962402517"><i class="flaticon flaticon-google110"></i></a></li>
                        <li><a href="br.linkedin.com/in/temprafesta/"><i class="flaticon flaticon-linkedin2"></i></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-8 col-sm-12">
                    <figure><img src="/img/lancamento/logo_temprafesta.png" /></figure>
                </div>
            </div>
        </footer>
    </body>
</html>
