<?php echo $this->doctype(); ?>

<html lang="pt-BR" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="UTF-8">
        <?php

            if($this->layout()->title != ""){
                echo "<title>".$this->layout()->title." | Tem Pra Festa</title>";
            } else{
                echo $this->headTitle();
            }

            $shareImage         = "/img/marketing/landing-page/conheca/tem-pra-festa-share.jpg";
            $shareImageLinkedIn = "/img/marketing/landing-page/conheca/tem-pra-festa-share-linkedin.jpg";
            $description = "O Tem Pra Festa possui várias vantagens, que vão transformar o seu produto no interesse do usuário, alcançar o seu cliente por você, impulsionar a sua empresa...";

            echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
            ->setProperty('og:locale', 'pt_BR')
            ->setProperty('og:type', 'website')
            ->setProperty('og:image:width', '1200')
            ->setProperty('og:image:height', '628')
            ->setProperty('og:site_name', 'Tem Pra  Festa')
            ->setProperty('og:title', "Descubra todas as vantagens do Tem Pra Festa")
            ->setProperty('og:description', $description)
            ->setProperty('og:image', $this->serverUrl($shareImage))
            ->setProperty('og:image:url', $this->serverUrl($shareImage))
            ->setProperty('og:image:type', "image/jpeg")
            ->setProperty('og:url', $this->serverUrl("/conheca-o-tem-pra-festa"));
        ?>

        <link rel="profile" href="http://gmpg.org/xfn/11">
        <?php
            echo $this->headLink(array(
                    'rel'  => 'shortcut icon',
                    'type' => 'image/x-icon',
                    'href' =>      $this->serverUrl() . '/img/favicon.ico'
                )
            );
        ?>

        <!--[if lte IE 8]>
        <style>
            body{
                background-image: none;
                background-color: #FFF;
            }
            .tem-pra-festa-browser-support{
                margin: 0px auto;
                display: block;
            }
        </style>
        <script type="text/javascript" src=<?php echo '"'.$this->serverUrl("/js/ieSupport.js").'"';?>></script>
        <script>
         window.attachEvent("onload", function() {
           document.querySelector("body").innerHTML = "<img class='tem-pra-festa-browser-support' src='/img/marketing/landing-page/conheca/tem-pra-festa-browser-support.jpg' alt='O Tem Pra Festa não está disponível para este browser. Atualize o seu browser e você poderá acessar normalmente.' />";
         });
        </script>
        <![endif]-->

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">

        <link href=<?php echo '"'.$this->serverUrl("/css/theme/marketing/landing-page/cupom/cupom.css").'"'; ?> media="screen" rel="stylesheet" type="text/css">

        <script>
            var styles = [];
            styles.push("//fonts.googleapis.com/css?family=Roboto+Slab:700%7CRaleway:800,700,600%7CRoboto:300%7CLato&amp;amp;subset=latin&amp;amp;v=1413577460");
            styles.push("/css/theme/marketing/landing-page/conheca/flaticon.css");
            styles.push("/css/theme/toastr/toastr.min.css");
            //styles.push("/css/theme/animate/animate.min.css");
            //styles.push("/css/theme/font-awesome.min.css");

            var cb = function() {
                for(var style in styles){
                    var l  = document.createElement('link'); l.rel = 'stylesheet';
                    l.href = styles[style];
                    var h  = document.getElementsByTagName('head')[0];
                        h.parentNode.appendChild(l);
                }
            };
            try{
                var raf = msRequestAnimationFrame || requestAnimationFrame || mozRequestAnimationFrame ||
              webkitRequestAnimationFrame;
              if (raf) raf(cb);
            } catch(e){
                if(window.addEventListener)
                    window.addEventListener('load', cb);
            }
        </script>
    </head>
    <body>
        <?php
            //echo $this->partial("partials/view/landing-page/cupom/header");
            echo $this->content;
            //echo $this->partial("partials/view/landing-page/conheca/guarantee");
            //echo $this->partial("partials/view/landing-page/cupom/footer");
        ?>
        <div class="back-to-top"><i class="fa fa-angle-up fa-3x"></i></div>
        <script type="text/javascript" src=<?php echo "'".$this->serverUrl("/js/theme/framework.js")."'"; ?>></script>
        <script defer type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript" src=<?php echo $this->serverUrl('/js/theme/plugins/toastr/toastr.min.js'); ?>></script>

        <?php echo $this->JsLoader(); ?>
        <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-60215595-1', 'auto');
          ga('send', 'pageview');
        </script>
    </body>
</html>
