<section id="guarantee" class="long-block light">
    <div class="container-fluid">
        <div class="col-md-12 col-lg-9">
            <i class="flaticon flaticon-music138 pull-left"></i>
            <article class="pull-left">
                <h2><strong>ALAVANQUE</strong> O SEU NEGÓCIO!</h2>
                <p class="thin">Não deixe para depois. Descubra na prática o que o Tem Pra Festa vai te ajudar.</p>
            </article>
        </div>

        <div class="col-md-12 col-lg-3">
            <a href=<?php echo '"'.$this->serverUrl("/user/register?tour=true").'"'; ?> class="btn btn-default">COMEÇAR AGORA</a>
        </div>
    </div>
</section>