<section id="newsletter" class="long-block light">
    <div class="container center">
        <div class="col-sm-12 col-lg-5">
            <article>
                <h2><strong>SEJA</strong> AVISADO</h2><!--16 - 20-->
                 <p class="thin">Avisamos sobre o desenvolvimento das novas caracteríscas!</p>
            </article>
        </div>
        <div class="col-sm-12 col-lg-7">
	 <form id="subscribe" class="form" action="/demo/startuply/index-fast-register.html" method="post">
        <div class="form-group form-inline">
          <input size="15" type="text" class="form-control required" id="NewsletterName" name="NewsletterName" placeholder="Seu nome"> 
          <input size="25" type="email" class="form-control required" id="NewsletterEmail" name="NewsletterEmail" placeholder="seu@email.com"> 
	  <input type="submit" class="btn btn-default" value="SUBSCRIBE">
	   <span id="response"></span>
        </div>
      </form>
        </div>
    </div>
</section>