<?php

if($this->possuiEmpresas):

	echo $this->messages();

	$formClassificadoEmpresa  = $this->formClassificadoEmpresa;
?>

<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
		    <div class="box-header">
		        <h3 class="box-title">Divulgação de empresa</h3>
		    </div>
		    <div class="box-body">
		    <?php
	    		echo $this->form()->openTag($formClassificadoEmpresa);
				echo $this->formHidden($formClassificadoEmpresa->get('id'));
			?>

			<div class="form-group select" id="empresas">
				<?php
					echo $this->formLabel($this->formComboboxEmpresa->get('empresa_id'));
					echo $this->formSelect($this->formComboboxEmpresa->get('empresa_id'));
				?>
			</div>

			<div class="form-group">
                <label for="titulo">Cupom</label>
                &nbsp;&nbsp;<a href='javascript:void(0);' data-toggle='tooltip' title='Informe aqui o seu cupom de anúncio Empresa para anunciar gratuitamente, impulsionando o seu negócio!'><i class='fa fa-info-circle'></i></a>
                <input name="cupom" type="text" class="form-control" id="cupom" value="" maxlength="100">
            </div>

			<?php if(isset($this->edicao) && $this->edicao === true): ?>
				<div class="form-group">
	                <?php
	                    echo "<label>".$this->formCheckbox($formClassificadoEmpresa->get('status'))."Ativo/Inativo</label>";
	                ?>
	            </div>
        	<?php endif; ?>

			<?php 
				echo $this->formSubmit($formClassificadoEmpresa->get('submit'));
				echo $this->form()->closeTag();
			?>
		    </div>
		</div>
	</div>
</div>
<?php
	else:
		echo "Ops! Você precisa ter uma empresa ativa para anunciar. <a href='/system/empresa/cadastro'>Clique aqui para cadastrar a sua empresa.</a>";
	endif;
?>