<?php

    $this->headLink()
         ->prependStylesheet($this->basePath() . '/css/theme/bootstrap-tagsinput/bootstrap-tagsinput.css')
         ->prependStylesheet($this->basePath() . '/css/theme/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css');

    $this->headScript()
        ->prependFile($this->basePath() . '/js/theme/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js')

        ->prependFile('http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js')
        
        ->prependFile($this->basePath() . '/js/theme/plugins/jquery.price_format.min.js')
        ->prependFile('https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&key=AIzaSyB1P5iN6VhNNF9hfma6tRKa22h8kTTCSBE')
        ->prependFile($this->basePath() . '/js/theme/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js');

    echo $this->messages();

    $form = $this->formClassificado;
    $form->prepare();

    if(isset($this->localizacao))
        echo "<input type='hidden' value='".$this->localizacao['cidade']." - ".$this->localizacao['uf']."' />";
?>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Falta pouco!</h3>
            </div>
            <div class="box-body">
            <?php
                echo $this->form()->openTag($form);
                echo $this->formHidden($form->get('id'));
            ?>

                <?php
                    $expireDate = new \DateTime("-30 days");
                    if(!isset($this->isDestaque) || $this->classificado->reactivated < $expireDate):
                ?>
                <div class="form-group">
                    <?php
                        echo "<label>".$this->formCheckbox($form->get('tipo'))."Torne este anúncio um destaque entre os demais anúncios!</label>&nbsp;&nbsp;<a href='javascript:void(0);' data-toggle='tooltip' title='Este anúncio irá se destacar dos demais anúncios para que seja melhor divulgado, porém será cobrado R$ 15,00.'><i class='fa fa-info-circle'></i></a>";
                    ?>
                    <p><a href="javascript:void(0);">Saiba mais sobre esta vantagem!</a></p>
                        <div class="form-group">
                            <label for="titulo">Cupom</label>
                            &nbsp;&nbsp;<a href='javascript:void(0);' data-toggle='tooltip' title='Informe aqui o seu cupom de anúncio destaque para anunciar gratuitamente, destacando o seu anuncio sobre os demais concorrentes.'><i class='fa fa-info-circle'></i></a>
                            <input name="cupom" type="text" class="form-control" id="cupom" value="" maxlength="100">
                        </div>
                    </div>
                <?php endif; ?>

                <?php
                    $infoStyle = "";
                    if(isset($this->naoPossuiEmpresa))
                        $infoStyle = 'style="border: 1px dashed #3c8dbc; padding: 5px;"';
                ?>
                <div class="form-group select" id="empresas" <?php echo $infoStyle; ?>>
                    <?php
                        echo "<label>Deseja vincular este anúncio a uma empresa?&nbsp;&nbsp;<a href='javascript:void(0);' data-toggle='tooltip' title='Selecionando esta opção você vai estar divulgando a sua empresa dentro deste produto, ou seja, o produto vai pertencer a empresa selecionada quando houver anúncio de empresa.'><i class='fa fa-info-circle'></i></a></label>";
                        
                        if(isset($this->naoPossuiEmpresa))
                            echo "<p>Você não possui uma empresa ativa!</p><p>Obtenha uma empresa ativa para aproveitar este recurso do Temprafesta! <a href='/system/empresa/consulta'>Clique aqui</a></p>";
                        else
                            echo $this->formSelect($this->formComboboxEmpresa->get('empresa_id'));
                    ?>
                </div>

                <div class="form-group select" id="categoria">
                    <?php
                        echo $this->formLabel($this->comboboxCategoria->get('categoria'));
                        echo $this->formSelect($this->comboboxCategoria->get('categoria'));
                    ?>
                </div>

                <div class="form-group select" id="subcategoria">
                    <?php
                        echo $this->formLabel($form->get('subcategoria_id'));
                        echo $this->formSelect($form->get('subcategoria_id'));
                    ?>
                </div>

                <div class="form-group">
                    <?php
                        echo $this->formLabel($form->get('titulo'));
                        echo $this->formText($form->get('titulo'));
                    ?>
                </div>

                <div class="form-group file">
                    <label>Adicione fotos e venda mais rápido:</label>
                    <div class="clear"></div>
                    <div class="fileContent">
                    <?php
                        if(isset($this->classificadoImagens)):
                            $count = 0;
                            $html = "";
                            foreach($this->classificadoImagens as $classificadoImagem):
                                $nomeImagem      = $classificadoImagem->nome;
                                $classificado_id = $classificadoImagem->classificado_id->id;
                                $cdImagem        = $this->serverUrl("/files/classificado/".$userSession[0]->id."/".$classificado_id."/".$nomeImagem);

                                if($count == 0){
                                    $image = "<img class='imagem_capa' src='".$cdImagem."' title='".$nomeImagem."' />";
                                    $html .= '<div class="col-xs-3 capa">';
                                    $html .= '<label for="imagem0">';
                                    $html .= '<output><span>'.$image.'</span><p>'.$classificadoImagem->nome.'</p></output>';
                                    $html .= '<p>Capa do anúncio</p>';
                                    $html .= '</label>';
                                    $html .= '<input name="imagem[0]" id="imagem0" type="file">';
                                    $html .= '</div>';
                                    $html .= '<div class="col-xs-9 nCapa">';
                                } else{
                                    $image = "<img class='imagem_nCapa' src='".$cdImagem."' title='".$nomeImagem."' />";
                                    $html .= '<div class="col-sm-2">';
                                    $html .= '<label for="imagem'.$count.'">';
                                    $html .= '<output><span">'.$image.'</span><p>'.$classificadoImagem->nome.'</p></output>';
                                    $html .= '</label>';
                                    $html .= '<input name="imagem['.$count.']" id="imagem'.$count.'" type="file">';
                                    $html .= '</div>';
                                }
                                $count++;
                            endforeach;

                            while($count < 7){
                                $html.= '<div class="col-sm-2">';
                                $html.=    '<label for="imagem'.$count.'">';
                                $html.=        '<output><i class="glyphicon glyphicon-picture"></i></output>';
                                $html.=    '</label>';
                                $html.=    '<input name="imagem['.$count.']" id="imagem'.$count.'" type="file">';
                                $html.= '</div>';

                                $count++;
                            }

                            $html .= "</div>";

                            echo $html;
                        else:
                    ?>
                        <div class="col-xs-3 capa">
                            <label for="imagem0">
                                <output><i class="glyphicon glyphicon-picture"></i></output>
                                <p>Capa do anúncio</p>
                            </label>
                            <input name="imagem[0]" id="imagem0" type="file">
                        </div>
                        <div class="col-xs-9 nCapa">
                            <div class="col-sm-2">
                                <label for="imagem1">
                                    <output><i class="glyphicon glyphicon-picture"></i></output>
                                </label>
                                <input name="imagem[1]" id="imagem1" type="file">
                            </div>
                            <div class="col-sm-2">
                                <label for="imagem2">
                                    <output><i class="glyphicon glyphicon-picture"></i></output>
                                </label>
                                <input name="imagem[2]" id="imagem2" type="file">
                            </div>
                            <div class="col-sm-2">
                                <label for="imagem3">
                                    <output><i class="glyphicon glyphicon-picture"></i></output>
                                </label>
                                <input name="imagem[3]" id="imagem3" type="file">
                            </div>
                            <div class="col-sm-2">
                                <label for="imagem4">
                                    <output><i class="glyphicon glyphicon-picture"></i></output>
                                </label>
                                <input name="imagem[4]" id="imagem4" type="file">
                            </div>
                            <div class="col-sm-2">
                                <label for="imagem5">
                                    <output><i class="glyphicon glyphicon-picture"></i></output>
                                </label>
                                <input name="imagem[5]" id="imagem5" type="file">
                            </div>
                            <div class="col-sm-2">
                                <label for="imagem6">
                                    <output><i class="glyphicon glyphicon-picture"></i></output>
                                </label>
                                <input name="imagem[6]" id="imagem6" type="file">
                            </div>
                        </div>
                    <?php endif; ?>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="form-group">
                    <?php
                        echo $this->formLabel($form->get('descricao'));
                        echo $this->formTextArea($form->get('descricao'));
                    ?>
                </div>
                
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('valor')); ?>
                    <?php echo $this->formText($form->get('valor')); ?>
                </div>

                <div class="form-group">
                    <?php echo $this->formLabel($form->get('tags')); ?>
                    <a href='javascript:void(0);' data-toggle='tooltip' title='Informe palavras-chave neste campo para o usuário encontrar o seu produto facilmente! Por exemplo: Bebida, Infantil, DJ, Artigo, Buffet, etc...'><i class='fa fa-info-circle'></i></a>
                    <br>
                    <?php echo $this->formText($form->get('tags')); ?>
                </div>

                <fieldset class="scheduler-border">
                <legend class="scheduler-border">Suas Informações</legend>
                    <div class="form-group">
                        <?php
                            if(isset($this->edicao))
                                echo '<label for="local">Informe o local do seu produto para substituir o local atual (Opcional)</label>';
                            else
                                echo '<label for="local">Informe o local do seu produto (Opcional)</label>';
                        ?>
                        <a href='javascript:void(0);' data-toggle='tooltip' title='Informando o local do seu produto ou onde você se encontra para vende-lo. O seu anúncio vai ser apresentado no mapa principal do Temprafesta, ficando com muito mais chances de vender o seu produto. Aproveite!'><i class='fa fa-info-circle'></i></a>
                        <div class="input-group">
                            <input name="local" type="text" class="form-control" id="local" placeholder="Ainda não podemos determinar a localização do seu produto.">
                            <span class="input-group-btn">
                                <a id="localSearch" class="btn btn-info btn-flat" href="javascript:void(0);"><i class="fa fa-search"></i></a>
                            </span>
                        </div>
                    </div>
                    <i>Divirta-se interagindo com o mapa! Arraste e solte, informe uma localização no campo acima, é muito fácil e ainda por cima o seu produto será apresentado no mapa principal do Temprafesta de graça!</i>
                    <div id="map">
                    </div>

                    <div class="form-group">
                        <?php
                            if(isset($this->edicao)){
                                echo "<input id='latitudeRecovery' type='hidden' value='".$this->latitude."' />";
                                echo "<input id='longitudeRecovery' type='hidden' value='".$this->longitude."' />";
                            }

                            echo $this->formText($form->get('latitude'));
                            echo $this->formText($form->get('longitude'));
                        ?>
                    </div>
                    <div class="form-group">
                        <?php
                            echo $this->formLabel($form->get('email'));
                            echo "<div class='input-group'>";
                            echo "<div class='input-group-addon'><i class='fa fa-envelope'></i></div>";
                            echo $this->formText($form->get('email'));
                            echo "</div>";
                        ?>
                    </div>
                    <div class="form-group">
                        <?php
                            echo $this->formLabel($form->get('website'));
                            echo "<div class='input-group'>";
                            echo "<div class='input-group-addon'><i class='fa fa-globe'></i></div>";
                            echo $this->formText($form->get('website'));
                            echo "</div>";
                        ?>
                    </div>
                    <div class="form-group">
                        <?php
                            echo $this->formLabel($form->get('telefone'));
                            echo "<div class='input-group'>";
                            echo "<div class='input-group-addon'><i class='fa fa-phone'></i></div>";
                            echo $this->formText($form->get('telefone'));
                            echo "</div>";
                        ?>
                    </div>
                    <div class="form-group">
                        <?php
                            echo $this->formLabel($form->get('celular'));
                            echo "<div class='input-group'>";
                            echo "<div class='input-group-addon'><i class='fa fa-mobile-phone'></i></div>";
                            echo $this->formText($form->get('celular'));
                            echo "</div>";
                        ?>
                    </div>
                    <div class="form-group select" id="estados">
                        <?php
                            echo $this->formLabel($this->comboboxEstado->get('estado_id'));
                            echo $this->formSelect($this->comboboxEstado->get('estado_id'));
                        ?>
                    </div>
                    <div class="form-group select" id="cidades">
                        <?php
                            echo $this->formLabel($form->get('cidade_id'));
                            echo $this->formSelect($form->get('cidade_id'));
                        ?>
                    </div>
                </fieldset>

                <?php 
                    echo $this->formSubmit($form->get('submit'));
                    echo $this->form()->closeTag();
                ?>
            </div>
        </div>
    </div>
</div>