/* UPLOAD */

.imagem_icone{
	width: 182px;
	height: 182px;
}

.imagem_logo{
	height: 93px;
}

.form-group.file output{
  width: 100%;
}

.form-group.file output p{
  text-align: left;
}

.form-group.file .btn.btn-file{
	margin: 0px;
