<?php

    $tipo = 9999;
    $dateTime = new \DateTime("now", new DateTimeZone('America/Sao_Paulo'));
    $nome = "";
    $file_memory = null;
    $file_mime_type = "";
    if(isset($userSession)){

        $tipo           = $userSession[1]->tipo;
        $dateTime       = $userSession[0]->created;
        $nome           = $userSession[1]->nome;
        $file_memory    = $userSession[1]->file_memory;
        $file_mime_type = $userSession[1]->file_mime_type;
    }

    $descricao_perfil = "";
    switch ($tipo) {
        case 0:
            $descricao_perfil = "administrador";//Administrador
            break;
        case 1:
            $descricao_perfil = "anunciante";//Editor
            break;
        default:
            //Definir regra e desenvolver exceção
            break;
    }

    $date = explode("-", $dateTime->format("m-Y"));

    $nrMonth = (int) $date[0];
    //Array com descrições de mês completa
    $month = array("janeiro", "fevereiro", "março", "abril", "maio", "junho", "julho", "agosto", "setembro", "outubro", "novembro", "dezembro");

    //Array com descrições de mês abreviado
    $abbrMonth = array("jan", "fev", "mar", "abril", "maio", "junho", "julho", "ago", "set", "out", "nov", "dez");

    $year = $date[1];
?>

<header class="header">
            <a href="/system" class="logo">
                <img src="/img/system/temprafesta_system.png" alt="Temprafesta" />
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">

                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/" title="Voltar para o site" style="padding-top: 10px; padding-bottom: 10px;"><img src="/img/system/voltar_para_site.png" alt="Voltar para o site"/></a>
                        </li>
                        <!--<li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-warning"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-people info"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning danger"></i> Very long description here that may not fit into the page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users warning"></i> 5 new members joined
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-cart success"></i> 25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-person danger"></i> You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>-->
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user"></i>
                                <span><?php echo $nome; ?> <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <?php 
                                        if($file_memory){
                                            echo "<img class='img-circle' src='data:".$file_mime_type.";base64,".$file_memory."' name='".$nome."' alt='".$nome."' />";
                                        } else{
                                            echo "<img class='img-circle' src='/img/avatar5.png' name='imagem do perfil' />";
                                        }
                                    ?>
                                    <p>
                                        <?php echo $nome. " - ". $descricao_perfil; ?>
                                        <small>
                                            Membro desde <?php echo $abbrMonth[$nrMonth - 1]." ". $year; ?>
                                        </small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <!--<li class="user-body">
                                    <div class="col-xs-12 text-center">
                                        <div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input type="text" class="form-control" value="Qtd. de créditos:" disabled>
                                            <span class="input-group-addon"><b>13</b></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 text-center">
                                        <a href="/system/comprar/credito">Comprar créditos?</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                                </li>-->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="/system/perfil" class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/system/auth/logout" class="btn btn-danger btn-flat">Sair</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>