<?php

    $nome = "";
    $file_memory = null;
    $file_mime_type = "";
    if(isset($userSession)){

        $tipo           = $userSession[1]->tipo;
        $nome           = $userSession[1]->nome;
        $file_memory    = $userSession[1]->file_memory;
        $file_mime_type = $userSession[1]->file_mime_type;
    }
?>

<aside class="left-side sidebar-offcanvas active" id="toggle-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <?php 
                            if($file_memory){

                                echo "<img class='img-circle' src='data:".$file_mime_type.";base64,".$file_memory."' name='".$nome."' alt='".$nome."' />";
                            } else{
                                echo "<img class='img-circle' src='/img/avatar5.png' name='imagem do perfil' />";
                            }
                            ?>
                        </div>
                        <div class="pull-left info">
                            <p>Olá, <?php echo explode(" ", $nome)[0]; ?></p>

                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <!-- search form -->
                    <!--
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>-->
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li>
                            <a href="/system">
                                <i class="fa fa-star"></i> <span>Meu Temprafesta</span>
                            </a>
                        </li>
                    <?php if($tipo == 0): ?>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-tag"></i>
                                <span>Categoria</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/system/categoria/cadastro"><i class="fa fa-angle-double-right"></i> Cadastro</a></li>
                                <li><a href="/system/categoria/consulta"><i class="fa fa-angle-double-right"></i> Consulta</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-tags"></i>
                                <span>Subcategoria</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/system/subcategoria/cadastro"><i class="fa fa-angle-double-right"></i> Cadastro</a></li>
                                <li><a href="/system/subcategoria/consulta"><i class="fa fa-angle-double-right"></i> Consulta</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-facebook-square"></i>
                                <span>Mídia Social</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/system/midia-social/cadastro"><i class="fa fa-angle-double-right"></i> Cadastro</a></li>
                                <li><a href="/system/midia-social/consulta"><i class="fa fa-angle-double-right"></i> Consulta</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-check-square-o"></i>
                                <span>Questionários</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/system/questionario/cadastro"><i class="fa fa-angle-double-right"></i> Cadastrar</a></li>
                                <li><a href="/system/questionario/consulta"><i class="fa fa-angle-double-right"></i> Consultar</a></li>
                            </ul>
                        </li>
                    <?php endif; ?>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-building"></i>
                                <span>Empresa</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/system/empresa/cadastro"><i class="fa fa-angle-double-right"></i> Cadastro</a></li>
                                <li><a href="/system/empresa/consulta"><i class="fa fa-angle-double-right"></i> Consulta</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-building-o"></i>
                                <span>Filial</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/system/filial/cadastro"><i class="fa fa-angle-double-right"></i> Cadastro</a></li>
                                <li><a href="/system/filial/consulta"><i class="fa fa-angle-double-right"></i> Consulta</a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>