<div id="layerslider" class="ls-wp-container" style="width: 100%; height: 600px; margin: 0 auto;">
	<div class="ls-layer"style="slidedelay: 5500; transition2d: all; ">
	 
		<img src="/img/lancamento/features/feature_1/thumbnail.png" class="ls-tn" alt="Anúncio Grátis!">

		<img class="ls-s-1" src="/img/lancamento/features/feature_1/personagem_slide.png" alt="Geek" style="top: 65px; left: 70px; slidedirection : left; slideoutdirection : fade; durationin : 1500; durationout : 1500; easingin : easeOutQuad; width: 457px; height: 540px;">

		<img class="ls-s-1 title" src="/img/lancamento/features/feature_1/titulo_01.png" alt="ANÚNCIO" style="top:80px; left: 695px; slidedirection : fade; slideoutdirection : fade; durationin : 2000; delayin : 750; width: 341px; height: auto;">
		<img class="ls-s-1 title" src="/img/lancamento/features/feature_1/titulo_02.png" alt="GRÁTIS!" style="top:129px; left: 700px; slidedirection : fade; durationin : 2000; delayin : 950; width: 331px; height: auto;">

		<h5 class="ls-s-1 icon" style="top:217px; left: 790px; slidedirection : right; durationin : 2000; delayin : 1150;">
			<i class="flaticon flaticon-megaphone8"></i>
		</h5>

		<img class="ls-s-2" src="/img/lancamento/features/feature_1/texto.png" alt="Seja visto por quem procura por você!" style="top:370px; left: 700px; slidedirection : fade; durationin : 1500; delayin : 1250; width: 250px; height: auto;">


		<img class="ls-s-2" src="/img/lancamento/features/feature_1/bolo.png" alt="Bolo" style="top: 125px; left: 380px; slidedirection : bottom; slideoutdirection : top; durationin : 2000; durationout : 1500; easingin : easeOutQuad; width: 162px; height: 120px; delayin : 1250;">

	</div>

	<div class="ls-layer"style="slidedelay: 5500; transition2d: all; ">
	 
		<img src="/img/lancamento/features/feature_2/thumbnail.png" class="ls-tn" alt="Anúncio de Empresa!">

		<img class="ls-s-1" src="/img/lancamento/features/feature_2/personagem_slide.png" alt="Geek" style="top: 120px; left: 70px; slidedirection : left; slideoutdirection : fade; durationin : 1500; durationout : 1500; easingin : easeOutQuad; width: 457px; height: 484px;">

		<img class="ls-s-1 title" src="/img/lancamento/features/feature_2/titulo_01.png" alt="ANÚNCIO DE" style="top:80px; left: 695px; slidedirection : fade; slideoutdirection : fade; durationin : 2000; delayin : 750; width: 341px; height: auto;">
		<img class="ls-s-1 title" src="/img/lancamento/features/feature_2/titulo_02.png" alt="EMPRESA!" style="top:113px; left: 700px; slidedirection : fade; durationin : 2000; delayin : 950; width: 331px; height: auto;">

		<h5 class="ls-s-1 icon" style="top:206px; left: 795px; slidedirection : right; durationin : 2000; delayin : 1150;">
			<i class="flaticon flaticon-factory8"></i>
		</h5>

		<img class="ls-s-2" src="/img/lancamento/features/feature_2/texto.png" alt="Divulgue seu produto com destaque em páginas exclusivas. Sua marca em evidência!" style="top:370px; left: 700px; slidedirection : fade; durationin : 1500; delayin : 1250; width: 250px; height: auto;">


		<img class="ls-s-2" src="/img/lancamento/features/feature_2/chapeu.png" alt="Chapéu" style="top: 0px; left: 160px; slidedirection : bottom; slideoutdirection : top; durationin : 2000; durationout : 1500; easingin : easeOutQuad; width: 100px; height: auto; delayin : 1250;">

	</div>

	<div class="ls-layer"style="slidedelay: 5500; transition2d: all; ">
	 
		<img src="/img/lancamento/features/feature_3/thumbnail.png" class="ls-tn" alt="Anúncio de Empresa!">

		<img class="ls-s-1" src="/img/lancamento/features/feature_3/personagem_slide.png" alt="Geek" style="top: 120px; left: 70px; slidedirection : left; slideoutdirection : fade; durationin : 1500; durationout : 1500; easingin : easeOutQuad; width: 457px; height: 484px;">

		<img class="ls-s-1 title" src="/img/lancamento/features/feature_3/titulo_01.png" alt="ANÚNCIO DE" style="top:80px; left: 695px; slidedirection : fade; slideoutdirection : fade; durationin : 2000; delayin : 750; width: 341px; height: auto;">
		<img class="ls-s-1 title" src="/img/lancamento/features/feature_3/titulo_02.png" alt="PRODUTOS" style="top:118px; left: 700px; slidedirection : fade; durationin : 2000; delayin : 950; width: 331px; height: auto;">
		<img class="ls-s-1 title" src="/img/lancamento/features/feature_3/titulo_03.png" alt="E SERVIÇOS!" style="top:155px; left: 700px; slidedirection : fade; durationin : 2000; delayin : 1150; width: 341px; height: auto;">

		<h5 class="ls-s-1 icon" style="top:276px; left: 794px; slidedirection : right; durationin : 2000; delayin : 1150;">
			<i class="flaticon flaticon-call37"></i>
		</h5>

		<img class="ls-s-2" src="/img/lancamento/features/feature_3/texto.png" alt="Divulgue sua empresa e seu produto com destaque!" style="top:400px; left: 720px; slidedirection : fade; durationin : 1500; delayin : 1250; width: 250px; height: auto;">


		<!--<img class="ls-s-2" src="/img/lancamento/features/feature_2/chapeu.png" alt="Chapéu" style="top: 0px; left: 160px; slidedirection : bottom; slideoutdirection : top; durationin : 2000; durationout : 1500; easingin : easeOutQuad; width: 100px; height: auto; delayin : 1250;">-->

	</div>

	<div class="ls-layer"style="slidedelay: 5500; transition2d: all; ">
	 
		<img src="/img/lancamento/features/feature_4/thumbnail.png" class="ls-tn" alt="Anúncio Grátis!">

		<img class="ls-s-1" src="/img/lancamento/features/feature_4/personagem_slide.png" alt="Geek" style="top: 65px; left: 70px; slidedirection : left; slideoutdirection : fade; durationin : 1500; durationout : 1500; easingin : easeOutQuad; width: 457px; height: 540px;">

		<img class="ls-s-1 title" src="/img/lancamento/features/feature_4/titulo_01.png" alt="ANÚNCIO COM" style="top:80px; left: 685px; slidedirection : fade; slideoutdirection : fade; durationin : 2000; delayin : 750; width: 341px; height: auto;">
		<img class="ls-s-1 title" src="/img/lancamento/features/feature_4/titulo_02.png" alt="GEOLOCALIZAÇÃO!" style="top:126px; left: 680px; slidedirection : fade; durationin : 2000; delayin : 950; width: 331px; height: auto;">

		<h5 class="ls-s-1 icon" style="top:224px; left: 793px; slidedirection : right; durationin : 2000; delayin : 1150;">
			<i class="flaticon flaticon-situation"></i>
		</h5>

		<img class="ls-s-2" src="/img/lancamento/features/feature_4/texto.png" alt="Mais fácil de localizar! O mapa aponta onde há serviços e produtos próximo de você." style="top:370px; left: 705px; slidedirection : fade; durationin : 1500; delayin : 1250; width: 250px; height: auto;">


		<!--<img class="ls-s-2" src="/img/lancamento/features/feature_1/bolo.png" alt="Bolo" style="top: 125px; left: 380px; slidedirection : bottom; slideoutdirection : top; durationin : 2000; durationout : 1500; easingin : easeOutQuad; width: 162px; height: 120px; delayin : 1250;">-->

	</div>

</div>