<ul class="ajax-register-links inline">
    <?php 
        $user = $this->session()->offsetGet('user');
        if ($user):
    ?>
    <li class="first" style="background: #870306 !important;">
        <a href="/system/classificado/normal" class="ctools-use-modal ctools-modal-ctools-ajax-register-style" style="color: #FFF !important;">Anúncie Grátis!</a>
    </li>
    
    <li class="first">
        <a href="/system" class="ctools-use-modal ctools-modal-ctools-ajax-register-style" title="Minha Conta">Minha Conta</a>
    </li>
    
    <li class="last">
        <a href="/system/auth/logout" class="ctools-use-modal ctools-modal-ctools-ajax-register-style" title="Logout">Sair</a>
    </li>
    <?php
        else:
    ?>
    <li class="first" style="background: #870306 !important;">
        <a href="/user/register" class="ctools-use-modal ctools-modal-ctools-ajax-register-style" title="Register" style="color: #FFF !important;">Quero Anunciar</a>
    </li>
    <li class="last login">
        <a href="/system/auth" class="ctools-use-modal ctools-modal-ctools-ajax-register-style" title="Acessar Minha Conta">Acessar Minha Conta</a>
    </li>
    <?php endif; ?>
</ul>