<a class="logo pull-left" href="/" title="Home">
    <img src="/img/system/temprafesta.png" alt="Temprafesta" />
</a>
<div id="version-two-menu" class="main_menu">
	<ul id="menu-main-menu" class="menu">
		<li><a href=<?php echo $this->serverUrl(); ?>>Home</a></li>
		<li id="menu-item-1019" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1019"><a href=<?php echo $this->serverUrl()."/sobre"; ?>>Sobre</a></li>
		<li id="menu-item-1020" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1020"><a href=<?php echo $this->serverUrl()."/categorias"; ?>>Categorias</a></li>
		<li id="menu-item-1011" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1011"><a href=<?php echo $this->serverUrl()."/planos-de-anuncio"; ?>>Planos de Anúncio</a></li>
		<li id="menu-item-1021" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1021"><a href=<?php echo $this->serverUrl()."/contato"; ?>>Contato</a></li>
	</ul>
</div>